.page-survey {
  position: relative;
  height: auto;
  // background-color: $alternate-background;
  opacity: 1;
  transition: opacity 0.8s;

  h2 {
    margin-top: 0;
    padding: 0;
    padding-bottom: 0;
    // font-size: 16px;
  }

  &.notshown {
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .options {

    .option {
      display: inline-block;
    }

    .option:not(:last-child) {
      margin-right: 20px;
    }

    &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    p {
      padding: 0 0 10px 0 !important;
    }

    input[type="radio"] {
      position: absolute;
      left: -999em;

      + label {
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;
        color: #fff;
        background-color: $seperator-color;
        padding: 10px 20px;
        // width: 33.33%;
        text-align: center;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }

      &:focus + label {
        outline: 3px auto #c61c08;
      }

      &:hover,
      &:focus {
        &:not(:checked) + label {
          background-color: $black;
        }
      }

      &:checked {
        + label {
          background-color: $arctic-blue;
        }

        .no-touch &:hover,
        &:focus {
          + label:before {
            background-color: blue;
            border-color: blue;
          }
        }
      }
    }
  }

  .comments {
    display: none;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    // padding-right: 20px;
    // padding-left: 20px;

    &.shown {
      display: block;
    }

    label {
      display: block;
      clear: both;
      margin-bottom: 3px;
    }

    textarea {
      border-radius: 5px;
      display: block;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      background-color: $base-color;
      border: 2px solid $arctic-blue-light;
      // border-right: 0;
      font-size: 1rem;
      min-height: 140px;
      margin: 10px 0 0;
      // padding: 4px 6px;
      padding: 0.5rem 1rem;

      &:focus {
        border: 2px solid $passion-red;
        // border-right: 0;
        outline: none;
      }

      &::-webkit-input-placeholder {
        font-style: italic;
      }
      &:-moz-placeholder {
        font-style: italic;
      }
      &::-moz-placeholder {
        font-style: italic;
      }
      &:-ms-input-placeholder {
        font-style: italic;
      }
    }

    .error-message {
      display: none;
      color: $warning-color;

      &.shown {
        display: block;
      }
    }
  }

  .submit {
    display: none;
    // padding-right: 20px;
    // padding-bottom: 20px;
    // padding-left: 20px;
    // text-align: right;

    &.shown {
      display: block;
    }

    input,
    button {
      border-radius: 3px;
      border: 1px solid $passion-red;
      font-size: 0.825rem;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0.25rem 1rem;
      display: inline-block;
      background-color: $base-color;
      color: $arctic-blue;
      cursor: pointer;
      position: relative;
      margin: 0.5rem 0;

      @include larger-than($mobile) {
        &:hover {
          color: $base-color;
          background-color: $passion-red;
        }
      }

      &[disabled] {
        opacity: 0.5;
      }
    }
  }

  .thankyounote,
  .failednote {
    overflow: hidden;
    // position: absolute;
    // top: 20px;
    // right: 20px;
    // bottom: 20px;
    // left: 20px;
    max-height: 0;
    text-align: center;
    transition: max-height 0.25s linear;

    &.shown {
      max-height: 400px;
    }

    // h2 {
    //     font-size: 30px;
    //     font-weight: 400;
    //     line-height: 1.2;
    //     margin: 0;
    // }
  }
}

.page-survey-container {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: $alternate-background;

  .homepage &,
  .filteredlistpage &,
  .processpage &,
  .sectionspage &,
  .sectionlistpage & {
    background-color: #fff;
  }

  .page-survey {
    max-width: 980px;
    padding: 0 104px;
    margin: 0 auto;

    @include smaller-than($tablet) {
      padding: 0 20px;
    }

    h2 {
      margin-top: 0;
    }

    @include larger-than($mobile) {
      padding-bottom: 20px;

      .options {
        input[type="radio"] + label {
          display: block;
          min-width: 100px;
        }
      }
      .comments {
        clear: both;
        width: 100%;

        textarea {
          min-height: 80px;
        }

        // .submit-survey {
        //     // position: absolute;
        //     // right: 20px;
        //     // bottom: 30px;
        // }
      }
      // .submit {
      //     // position: absolute;
      //     // right: 0;
      //     // bottom: 20px;
      // }
    }

    .thankyounote,
    .failednote {
      h2 {
        padding-top: 0;
      }
    }
  }
}
