﻿

.people-panel {

    img {
        width: 100%;
    }
    .panel {
        flex: 0 0 50%;

        @include smaller-than($mobile) {
            flex: 1 0 100%;
        }
    }

    .ambassador {
        border-bottom: 1px solid $seperator-color-light;
        position: relative;
        padding: .5rem 0 1rem 0;
        flex: 1 0 50%;
        

        .portrait {
            width: 110px;
            float: left;

            img {
                max-width: 110px;
                max-height: 130px;
                height: auto;
                width: auto;
            }

            @include smaller-than($mobile) {
                width: 80px;
                img {
                    max-width: 80px;
                    max-height: 95px;
                }
            }
        }

        .information {
            margin-left: 130px;
            margin-left: calc(110px + 1rem);

            h2 {
                margin: 0;
            }

            @include smaller-than($mobile) {
                margin-left: 95px;
                margin-left: calc(80px + 1rem);
            }
        }

        &::after {
            clear: both;
        }
    }

    .panel .inner {
        padding: 0 1rem 0 0;

        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }

    p {
        margin: 0 0 .5rem;
    }

    h3 {
        margin: 1rem 0 0;
    }
}
