﻿.emergency-block {
    margin-bottom: 2px;
    background-color: $font-color;
    color: $white;

    h2 {
        margin-top: 0;
        text-align: center;
    }

    a {
        color: inherit;
        border-bottom: 1px solid currentColor;

        &:hover {
            border-bottom: none;
            color: inherit;
        }

        &:visited {
            color: inherit;
            border-bottom: 1px solid currentColor;
        }
    }
}

// ==========================================================================
// Modifiers
// ==========================================================================

.emergency-block--red {
    background-color: $passion-red-dark;
    color: $white;
}

.emergency-block--black {
    background-color: $dark-gray;
    color: $white;
}

.emergency-block--blue {
    background-color: $arctic-blue-lighter;
    color: $dark-gray;
}

.emergency-block--grey {
    background-color: $seperator-color-light;
    color: $dark-gray;
}
