

.search-container {
  form {
    clear: both;
    display: block;
    width: 100%;

    input {
      border-radius: 5px 0 0 5px;
      background-color: $base-color;
      border: 2px solid $arctic-blue-light;
      border-right: 0;
      float: left;
      font-size: 1rem;
      font-style: italic;
      height: 40px;
      margin: 0;
      padding: .5rem 1rem;

      &:focus {
        border: 2px solid $passion-red;
        border-right: 0;

        &+button {
          border: 2px solid $passion-red;
          border-left: 0;
        }
      }
    }

    button {
      border-radius: 0 5px 5px 0;
      background-color: $base-color;
      border: 2px solid $arctic-blue-light;
      border-left: 0;
      cursor: pointer;
      float: left;
      height: 40px;
      margin: 0;
      padding: 0;

      &:focus {
        background-color: $passion-red;

        span {
          border-left: 1px solid transparent;
        }

        span::before {
          background: url('../images/sok_white.png');
          background-image: url('../images/sok_white.svg');
        }
      }

      span {
        border-left: 1px solid $passion-red;
        display: inline-block;
        height: 25px;
        margin: 2px 0;
        padding: 0 10px;
      }

      span::before {
        background: url('../images/sok_rod.png');
        background-image: url('../images/sok_rod.svg');
        background-size: 20px 20px;
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &.search--large form {
    input {
      width: calc(100% - 49px);
    }
  }

  &.search--medium form {
    input {
      width: calc(60% - 49px);

      @include smaller-than($mobile) {
        width: calc(100% - 49px);
      }
    }
  }

  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
  }

  [contenteditable="true"]:focus {
    outline: none;
  }
}
