﻿

.exclamation {
    margin: 1rem 0 1rem 40px;
    position: relative;
    max-width: 70%;

    @include smaller-than($mobile) {
        max-width: 100%;
    }

    &::before {
        content: "!";
        float: left;
        font-weight: 600;
        font-size: 5rem;
        margin-left: -40px;
        margin-top: -1rem;
    }

    p {
        font-weight: 600;
        position: relative;
        display: block;
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
