﻿@using Norgesportalen.Models.Pages.BaseClasses;
@model  BasicPageBase
<a href="@Url.ContentUrl(Model.LinkURL)" class="inner">
    <p class="small">
        @if (!Model.HideDate)
        {
            if (Model.StartPublish.HasValue)
            {
                @Model.StartPublish.Value.ToString(BasicPageBase.GetDateFormatString())
            }
            if (Model.Location != null)
            {
                @Html.Raw(" | ")
            }
        }
        @Model.Location
    </p>
    <h2>@Model.HeadingOrPageName</h2>
    <p>@BasicPageBase.TeaserOrFallbackToIntro(Model.TeaserText, Model.MainIntro)</p>
</a>

