﻿@using EPiServer.Editor;
@model Norgesportalen.Models.Blocks.ContactPersonBlockForAccordion
<div class="inner">
    <h3>@Html.PropertyFor(m => m.Name)</h3>
    <span>
        @if (!String.IsNullOrEmpty(Model.Title) || PageEditing.PageIsInEditMode)
        {
            @Html.PropertyFor(m => m.Title)
        }

        @if (!String.IsNullOrEmpty(Model.Phone) || PageEditing.PageIsInEditMode)
        {
            <br />@Html.PropertyFor(m => m.Phone)
        }
        @Html.PropertyFor(m => m.MainBody)

        @if (!String.IsNullOrEmpty(Model.Email) || PageEditing.PageIsInEditMode)
        {
            <br /><a href="mailto:@Model.Email">@Html.PropertyFor(m => m.Email)</a>
        }
    </span>
</div>

