﻿@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Models.Pages.BaseClasses;
@model  BasicPageBase

@{
    string imageUrl = Model.MainImage.GetImageUrl(Constants.ImageSize.Large);
}

<a href="@Url.ContentUrl(Model.LinkURL)" class="inner">
    @if (!string.IsNullOrEmpty(imageUrl))
    {
        <div class="img" style="background-image: url(@imageUrl);"></div>

    }
    @if (!Model.HideDate && Model.StartPublish.HasValue)
    {
        <small>@Model.StartPublish.Value.ToString(BasicPageBase.GetDateFormatString())</small>
    }
    @if (!String.IsNullOrEmpty(Model.Location))
    {
        if (Model.HideDate)
        {
            <small>@Html.Raw(Model.Location)</small>
        }
        else
        {
            <small>@Html.Raw("| " + Model.Location)</small>
        }
    }

    <h2>@Model.HeadingOrPageName</h2>
    <p>@BasicPageBase.TeaserOrFallbackToIntro(Model.TeaserText, Model.MainIntro)</p>
</a>
