﻿@model Norgesportalen.Models.Blocks.RelatedLinkBlock

<div class="inner related-link-block-element">
    <p>
        @Model.Intro
    </p>
    <p class="arrow-link">
        @if (Model.Url?.IsAbsoluteUri == true)
        {
            <a title="@Model.LinkName" href="@Model.Url" target="_blank" rel="noreferrer">@Model.LinkName</a>
        }
        else
        {
            <a title="@Model.LinkName" href="@Model.Url">@Model.LinkName</a>
        }
    </p>
</div>
