﻿@using EPiServer.Core;
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Models.Pages.BaseClasses

@model IEnumerable<PageData>

@{
    var useH2 = ViewBag.UseH2;
}

<div class="panels service-panel">
    @foreach (var servicePage in Model)
    {
        <div class="panel">
            <a href="@Url.ContentUrl(servicePage.LinkURL)">

                @if (servicePage is PageBase)
                {
                    var pageBase = (PageBase)servicePage;

                    if (useH2)
                    {
                        <h2>@pageBase.HeadingOrPageName</h2>
                    }
                    else
                    {
                        <h3>@pageBase.HeadingOrPageName</h3>
                    }
                }
                else
                {
                    if (useH2)
                    {
                        <h2>@servicePage.Name</h2>
                    }
                    else
                    {
                        <h3>@servicePage.Name</h3>
                    }
                }

                @if (servicePage is BasicPageBase)
                {
                    var servicePageBasic = (BasicPageBase)servicePage;

                    if (!servicePageBasic.ShowIngressOrTeaserText)
                    {
                        if (servicePageBasic.MainImage != null)
                        {
                            <img class="Portrett" alt="@servicePageBasic.MainImage.GetImageAltText()" src="@Url.ContentUrl(servicePageBasic.MainImage)" />
                        }
                    }
                    else
                    {
                        if (!String.IsNullOrEmpty(servicePageBasic.TeaserText))
                        {
                            <p>@servicePageBasic.TeaserText</p>
                        }
                        else
                        {
                            <p>@servicePageBasic.MainIntro</p>
                        }
                    }
                }
                else
                {
                    if (!string.IsNullOrEmpty(servicePage.Property["MainIntro"]?.ToString()))
                    {
                        <p>@servicePage.Property["MainIntro"]</p>
                    }
                }
            </a>
        </div>
    }
</div>
