﻿@using EPiServer.Core;
@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Models.Pages.BaseClasses

@model IEnumerable<PageData>

@{
    var useH2 = ViewBag.UseH2;
}

<div class="service-list">

@foreach (var page in Model)
{
<a href="@Url.ContentUrl(page.LinkURL)" class="service-list-item">

    @if (page is PageBase)
    {
        var pageBase = (PageBase)page;

        if (pageBase is SectionsPage && !string.IsNullOrEmpty(((SectionsPage)pageBase).IconImage))
        {
            <img src="@(((SectionsPage)pageBase).IconImage.GetImageUrl(Constants.ImageSize.Icon))" alt="Service icon" />
        }
        else if (!string.IsNullOrEmpty(((PageBase)pageBase).IconImage))
        {
            <img src="@pageBase.IconImage.GetImageUrl(Constants.ImageSize.Icon)" alt="Service icon" />
        }

        if (useH2)
        {
            <h2>@pageBase.HeadingOrPageName</h2>
        }
        else
        {
            <h3>@pageBase.HeadingOrPageName</h3>
        }
        <p>@pageBase.MainIntro</p>
    }
    else
    {
        if (useH2)
        {
            <h2>@page.Name</h2>
        }
        else
        {
            <h3>@page.Name</h3>
        }

        if (!page.Property["MainIntro"].IsNull)
        {
            <p>@page.Property["MainIntro"]</p>
        }
    }
</a>
}

</div>
