﻿
@using Norgesportalen.Business
@model Norgesportalen.Models.Blocks.ContactAmbassadorBlockForAccordion
<div class="inner">
    <div class="portrait">@Html.PropertyFor(m => m.MainImage, new {Size = Constants.ImageSize.Tiny })</div>
    <div class="information">
        <h2>@Html.PropertyFor(m => m.Name)</h2>
        <p class="ingress">@Html.PropertyFor(m => m.Title)</p>
        @Html.PropertyFor(m => m.MainBody)
    </div>
</div>