﻿@using Norgesportalen.Business
@model  GenericMediaViewModel

<div class="inner">
    <p>
        @Model.Intro
    </p>
    <p class="arrow-link">
        <a title="@Model.Name" href="@Model.Url" target="_blank">@Model.Name</a>
    </p>
</div>
