﻿@using EPiServer
@using EPiServer.Editor
@using Norgesportalen.Business
@using Norgesportalen.Models.Pages.BaseClasses
@model PageViewModel<Norgesportalen.Models.Pages.BaseClasses.BasicPageBase>

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
    var hasSidebar = Model.CurrentPage.RightColumContentArea?.FilteredItems?.Any() == true;
}

<article>
    <header>
        <div class="container">
            @if (Model.CurrentPage.GetOriginalType().Name.Equals("NewsPage") || Model.CurrentPage.GetOriginalType().Name.Equals("StatementPage"))
            {

                if (!Model.CurrentPage.HideDate && Model.CurrentPage.StartPublish.HasValue)
                {
                    <time datetime="@(Model.CurrentPage.StartPublish.Value.ToString("yyyy-MM-dd"))">@(Model.CurrentPage.StartPublish.Value.ToString(BasicPageBase.GetDateFormatString()))</time>
                }
                if (!string.IsNullOrEmpty(Model.CurrentPage.Location) || PageEditing.PageIsInEditMode)
                {
                    if (Model.CurrentPage.HideDate)
                    {
                        @Html.PropertyFor(m => m.CurrentPage.Location)
                    }
                    else
                    {
                        <span @Html.EditAttributes(m => m.CurrentPage.Location)>@Html.Raw("| " + Model.CurrentPage.Location)</span>
                    }
                }

            }
            <h1 class="padded--xsmall">@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>
            @if (Model.CurrentPage.MainImage != null || PageEditing.PageIsInEditMode)
            {
                <figure>
                    @Html.PropertyFor(m => m.CurrentPage.MainImage, new { Size = Constants.ImageSize.Large })
                    <figcaption>@Html.PropertyFor(m => m.CurrentPage.ImageText)</figcaption>
                </figure>
            }
        </div>
    </header>

    <section>
        <div class="container">
            <p class="ingress" @Html.EditAttributes(m => m.CurrentPage.MainIntro)>
                @Html.DisplayFor(m => m.CurrentPage.MainIntro, new { CssClass = "ingress" })
            </p>
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                if (!string.IsNullOrEmpty(Model.CurrentPage.LocalMainIntro) || PageEditing.PageIsInEditMode)
                {
                    <p class="ingress" @Html.EditAttributes(m => m.CurrentPage.LocalMainIntro)>
                        @Html.DisplayFor(m => m.CurrentPage.LocalMainIntro, new { CssClass = "ingress" })
                    </p>
                }
            }
            @if (hasSidebar || PageEditing.PageIsInEditMode)
            {
                <div class="article-content-with-sidebar">
                    @Html.PropertyFor(m => m.CurrentPage.MainBody)
                </div>
                <aside>
                    @Html.PropertyFor(m => m.CurrentPage.RightColumContentArea)
                </aside>
            }
            else
            {
                <div class="article-content">
                    @Html.PropertyFor(m => m.CurrentPage.MainBody)
                </div>
            }
        </div>
    </section>

    <section>
        <div class="container">
            @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { ChildrenCssClass = "padded--small" })
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                @Html.PropertyFor(m => m.CurrentPage.LocalMainContentArea, new { ChildrenCssClass = "padded--small" })
            }
        </div>
    </section>
</article>
