﻿

.section-page {
    background-color: $alternate-background;
}

.service-list {
    h2 {
        font-size: 1.125rem;
    }

    p {
        font-size: 1rem;
    }

    .service-list-item {
        h2,
        h3 {
            &::after {
                transition: all .2s ease-in-out;
                background-color: $passion-red;
                content: '';
                display: block;
                height: 2px;
                width: 2rem;
            }
        }
    }

    .socialmedia-icon {
        width: 48px;
        height: 48px;

        @include smaller-than($mobile) {
            width: 32px;
            height: 32px;
        }

        @include smaller-than($mini) {
            width: 28px;
            height: 28px;
        }
    }

    a.service-list-item {
        background-color: $base-color;
        border-top: 1px solid $seperator-color-light;
        padding: 1rem 3rem;
        display: block;
        color: inherit;

        @include larger-than($mobile) {
            &:hover {
                background-color: #f6f2f1;
                cursor: pointer;

                h2,
                h3 {
                    &::after {
                        width: 4rem;
                    }
                }
            }
        }
    }
}
