﻿// BASE
$black: #000000;
$white: #ffffff;
$primary-color: #227f94;
$base-color: $white;
$dark-gray: #333333;
$font-color: $dark-gray;
$light-gray: #f4f4f4;

$seperator-color: #656565;
$seperator-color-light: #c6c6c6;
$secondary-color: #3e3e3e;
$elements-color: #c61c08;
$warning-color: #c61c08;
$notify-color: #3e3e3e;

$alternate-background: #f4f4f4;

// LIGHTER
$arctic-blue-lighter: #a2ccd2;

// LIGHT
$arctic-blue-light: #56adb8;
$passion-red-light: #ee3c30;

// REGULAR
$arctic-blue: #20788c; //Old value #227f94. Change for WCAG AA
$passion-red: #c61c08;

// DARK
$arctic-blue-dark: #0e465e;
$passion-red-dark: #960004;
