﻿@using System.Collections.Specialized
@using System.Configuration
@using EPiServer.Editor
@using EPiServer.Security
@model SearchContentModel

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }



<article class="section-page">
    <header class="padded--medium">
        <div class="container">
            @*We use GET to submit the form to enable bookmarking etc of search results.  However, as GET will remove other
                query string values not in the form we can't use that in edit mode.*@
            <div class="search-container search--medium">
                @using (Html.BeginForm(null, null, Model.Layout.SearchPageRouteValues, PageEditing.PageIsInEditMode ? FormMethod.Post : FormMethod.Get))
                {
                    <div id="search-area" role="search">
                        <label for="search-field" class="visually-hidden">@Html.Translate("/search")</label>
                        <input id="search-field" title="@Html.Translate("/searchpage/searchTitle")" placeholder="@Html.Translate("/Menu/searchHere")" type="text" name="q" value="@Model.SearchedQuery" />
                        <button title="Search button" type="submit" class="searchButton" aria-label="Submit" id="SearchButton" disabled="@(Model.SearchServiceDisabled ? "disabled" : null)"><span  role="presentation"></span></button>
                    </div>
                }
            </div>
        </div>

    </header>
    <section class="service-list">
        <div class="container">
            <h2>
                @Html.Translate("/SearchPage/found")
                @if (Model.Hits != null)
                {
                    if (Model.NumberOfHits > 0)
                    {
                        @Model.NumberOfHits
                    }
                    else
                    {
                        <text>0</text>
                    }
                }
                @Html.Translate("/SearchPage/resultsFor") @Model.SearchedQuery
            </h2>

            @foreach (var hit in Model.Hits)
            {
                <a href="@hit.Url" class="service-list-item">
                    <h2>@hit.Title</h2>
                    <p>@hit.Excerpt</p>
                </a>
            }
        </div>
    </section>
    <section class="pagination padded--xsmall">
        <div class="container">
            @if (Model.PagerLinks != null)
            {
                <ul>

                    @if (Model.CurrentPageNo > 1 && Model.PreviousPage != null)
                    {
                        <li class="arrow-prev">@Html.RouteLink(Model.PreviousPage.LinkText, Model.PreviousPage.Route)</li>
                    }
                    @if (Model.Items != null)
                    {
                        foreach (var pagerLink in @Model.Items)
                        {

                            if (pagerLink.IsActivePage)
                            {
                                <li class="current"><a href="#">@pagerLink.LinkText</a></li>
                            }
                            else
                            {
                                <li>@Html.RouteLink(pagerLink.LinkText, pagerLink.Route)</li>
                            }

                        }
                    }

                    @if (Model.CurrentPageNo < Model.TotalPages)
                    {
                        <li class="arrow-next">@Html.RouteLink(Model.NextPage.LinkText, Model.NextPage.Route)</li>
                    }
                </ul>
            }
        </div>
    </section>
</article>

@if (Model.SearchServiceDisabled && PrincipalInfo.HasEditAccess)
{
    @Html.Partial("TemplateHint", Html.Translate("/searchpage/disabled"))
}
