﻿

.information-alert-block {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    border: 2px solid $passion-red-light;
    background-color: $base-color;

    p:last-child {
      margin: 0;
    }
}
