﻿.eventpage {
    .article__title {
        padding: $grid-gutter * 1.5 $grid-gutter;
    }

    .article__ingress {
        font-weight: normal;

        p {
            font-size: inherit;
            line-height: inherit;
            margin: 0;
        }
    }

    .article__aside {
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .article__mainfigure {
        display: flex;
        position: relative;

        &::before {
            content: "";
            background: $alternate-background;
            position: absolute;
            z-index: 0;
        }

        > div {
            position: relative;
        }
    }

    .article__mainfigure__caption {
        padding: 20px;
        margin: 0;
        position: relative;
    }

    .article__mainfigure__credit {
        display: block;
        font-weight: normal;
    }

    @include smaller-than($mobile) {
        .article__ingress {
            font-size: rem-calc(18px);
            line-height: rem-calc(27px);

            p {
                + p {
                    margin-top: rem-calc(27px);
                }
            }
        }

        .article__aside {
            width: calc(100% + #{$grid-gutter});
            margin-right: -$grid-gutter;
        }

        .article__mainfigure {
            flex-direction: column;
            width: calc(100% + #{$grid-gutter});
            margin: ($grid-gutter * 3) 0 ($grid-gutter * 2) -#{$grid-gutter};

            &::before {
                width: 100%;
                height: 100%;
            }

            > div {
                width: calc(100% - 15px);
                margin-top: -$grid-gutter;
            }
        }

        .event-details--maps {
            flex-direction: column-reverse;
            padding: 0 $grid-gutter $grid-gutter $grid-gutter;
            margin-left: -$grid-gutter;
            margin-right: -$grid-gutter;
            background: linear-gradient(
                to top,
                #daebed 0%,
                #daebed calc(100% - 20px),
                transparent calc(100% - 20px),
                transparent 100%
            );

            .event-details__content {
                width: span(10);
                margin: $grid-gutter auto 0 auto;

                .btn {
                    width: 100%;
                    text-align: center;
                }
            }

            .event-details__map {
                @include aspect-ratio(3, 2);
            }
        }
    }

    @include between($mobile, $tablet) {
        .article__ingress,
        .article__richtext {
            float: left;
            width: span(7);
        }

        .article__aside {
            float: right;
            width: span(4);
        }

        .article__mainfigure {
            width: calc(100% + 20px);
            margin: ($grid-gutter * 3) 0 ($grid-gutter * 2) -#{$grid-gutter};
            padding: 0 0 30px 0;
            float: left;

            &::before {
                width: 100%;
                height: 100%;
            }

            > div {
                display: flex;
                width: span(9);
                margin-top: -30px;
            }

            .article__mainfigure__caption {
                width: span(3);
            }
        }

        .event-details--maps {
            .event-details__content {
                width: span(3);
                padding: 0 20px;
            }

            .event-details__map {
                width: span(5 wide);
            }
        }
    }

    @include larger-than($mobile) {
        .article__ingress {
            font-size: rem-calc(20px);
            line-height: rem-calc(32px);

            p {
                + p {
                    margin-top: rem-calc(32px);
                }
            }
        }

        .article__mainfigure__caption {
            flex: 1 1 auto;
            align-self: flex-end;
            width: span(2 of 10);
            padding: 20px 20px 0 20px;
        }

        .article__mainfigure__credit {
            margin-top: 20px;
        }
    }

    @include smaller-than($tablet) {
        .article__ingress {
            margin-bottom: rem-calc(30px);
        }
    }

    @include larger-than($tablet) {
        .article__title {
            width: calc(#{span(9)} + 85px);
            margin-left: calc(#{span(3 wide)} - 85px);
            padding: 54px calc(#{span(4 wider)}) 54px 85px;
            background-color: $white;

            &.article__title--pull-up {
                margin-top: -152px;
                position: relative;
            }
        }

        .article__ingress {
            float: left;
            margin-bottom: rem-calc(30px);
        }

        .article__ingress,
        .article__richtext {
            width: span(4 wider);
            margin-left: span(3 wide);
        }

        .article__aside {
            width: span(4);
        }

        .article__mainfigure {
            width: span(10 of 12);
            margin: 50px 0 30px 0;
            padding: 0 0 30px 0;
            position: relative;

            &::before {
                content: "";
                background: #f4f4f4;
                width: calc(100% - 30px);
                height: calc(100% - 30px);
                position: absolute;
                z-index: 0;
                top: 30px;
                left: 30px;
            }

            > div {
                display: flex;
                flex: 0 1 auto;
                width: span(8 of 10);

                > img {
                    margin-left: auto;
                }
            }

            .article__mainfigure__caption {
                flex: 1 1 auto;
                align-self: flex-end;
                width: calc((#{span(2 of 10)}) - 20px);
                background: #f4f4f4;
                padding: 20px 20px 0 20px;
            }

            .article__mainfigure__credit {
                margin-top: 20px;
            }
        }

        .carousel__slides {
            width: span(7);
            margin-left: span(3 wide);

            div {
                width: span(5 of 7);
            }
        }

        .carousel__thumbnails {
            width: span(8);
            margin-left: span(2 wide);
        }

        .event-details--maps {
            padding: 30px 0;
            background: linear-gradient(
                to right,
                #daebed 0%,
                #daebed span(8),
                transparent span(8),
                transparent span(12)
            );

            .event-details__content {
                width: span(3);
                margin-left: span(2 wide);

                + .event-details__map {
                    margin-left: 20px;
                }
            }

            .event-details__map {
                width: span(5 wide);
                margin-right: span(2 wide);
            }
        }
    }
}
