﻿@using EPiServer.Editor;
@using EPiServer.SpecializedProperties;
@using Norgesportalen.Models.Pages.BaseClasses;
@using Norgesportalen.Business.Extensions;

@model NewsletterPageViewModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="@Model.NewsletterPageData.LanguageBranch" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.NewsletterPageData.Name</title>
</head>

<body bgcolor="#FFFFFF" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust:100%; margin:0; padding:0; background:#FFFFFF; font-family:'Open Sans', Arial, sans-serif; width:100%; height:100%;">
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()
    <center>
        @* Logo, title, subtitle, pub date: *@
        <table cellpadding="0" cellspacing="0" border="0" align="center" id="backgroundTable" style="border-bottom: 1px dashed #20788c; margin:0px auto; padding:0; width:100%; max-width:100%; line-height:100%; background:#FFFFFF;">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td class="mobile-full" align="center" width="630" style="width:630px;">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0px auto; padding:0; width:100%; line-height:100%;">
                            <tbody>
                                <tr>
                                    <td class="bodyPaddingTop" colspan="3" height="50" style="border-collapse:collapse; height:50px; line-height:50px;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                    <td align="left">
                                        <table cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0px auto; padding:0; width:100%; line-height:100%;">
                                            <tbody>
                                                <tr>
                                                    <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">
                                                        <img class="logo" src="@(String.Format("{0}{1}", Model.SiteUrl, "Frontend/dist-web/Static/images/love.png"))" height="55" width="45" style="display: block;" />
                                                    </td>
                                                    <td width="25" class="reduce-mobile-margin" style="border-collapse:collapse;">&nbsp;</td>
                                                    <td width="1" style="border-right: 1px solid #000">&nbsp;</td>
                                                    <td width="25" class="reduce-mobile-margin" style="border-collapse:collapse;">&nbsp;</td>
                                                    <td style="border-collapse:collapse;">
                                                        <span class="logo-title" style="font-size: 24px; font-family:'Open Sans', Arial, sans-serif; font-weight: 600;" @Html.EditAttributes(m => m.NewsletterPageData.LogoBlock.LogoTitle)>
                                                            @Model.NewsletterPageData.LogoBlock.LogoTitle
                                                        </span><br />
                                                        <span class="logo-subtitle" style="font-size: 18px; font-family:'Open Sans', Arial, sans-serif; line-height:22px;" @Html.EditAttributes(m => m.NewsletterPageData.LogoBlock.LogoSubText)>
                                                            @Model.NewsletterPageData.LogoBlock.LogoSubText
                                                        </span>
                                                    </td>
                                                    <td width="65" style="border-collapse:collapse; line-height:20px; background: #F6F6F6;" bgcolor="#F6F6F6">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0px auto; padding:0; width:100%; line-height:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="5" style="border-collapse:collapse; height:5px; line-height:5px; font-size:5px;" colspan="3">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="5" style="border-collapse:collapse; font-size:5px;">&nbsp;</td>
                                                                    <td width="45" height="45" align="center">
                                                                        @if (Model.NewsletterPageData.StartPublish.HasValue)
                                                                        {
                                                                            <span style="font-size: 22px; line-height: 1.25; font-weight: bold; font-family: 'Open Sans', Arial, sans-serif;">@Model.NewsletterPageData.StartPublish.Value.Day</span>
                                                                            <br />
                                                                            <span style="font-size: 14px; line-height: 1.25; font-family: 'Open Sans', Arial, sans-serif;">@Model.NewsletterPageData.StartPublish.Value.ToString("MMM")</span>
                                                                            <br />
                                                                            <span style="font-size: 12px; font-family: 'Open Sans', Arial, sans-serif;">@Model.NewsletterPageData.StartPublish.Value.Year</span>
                                                                        }
                                                                    </td>
                                                                    <td width="5" style="border-collapse:collapse; font-size:5px;">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="5" style="border-collapse:collapse; height:5px; line-height:5px;font-size:5px;" colspan="3">&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                    <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="bodyPaddingTop" colspan="3" height="30" style="border-collapse:collapse; height:30px; line-height:30px;">
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>

		@* ----------------------------- *@
        @* Title and main intro: *@
		@* ----------------------------- *@
        <table cellpadding="0" cellspacing="0" border="0" align="center" id="headingLeadTable" style="margin:0px auto; padding:0; width:100%; max-width:100%; line-height:100%; background:#F8F7F6;">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td class="mobile-full" align="center" width="630" style="width:630px;">
                        <table class="mobile-full" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0px auto; padding:0; width:630px; line-height:100%;">
                            <tbody>
                                <tr>
                                    <td class="bodyPaddingTop" colspan="3" height="30" style="border-collapse:collapse; height:30px; line-height:30px;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                    <td align="left">
                                        <span style="font-size: 24px; font-weight: 600; font-family:'Open Sans', Arial, sans-serif;" class="logo-title">
                                            @Html.PropertyFor(m => m.NewsletterPageData.PageName)
                                        </span><br /><br />
                                        <span style="font-size: 18px; line-height:1.58; font-family:'Open Sans', Arial, sans-serif;">
                                            @Html.PropertyFor(m => m.NewsletterPageData.MainIntro)
                                        </span>
                                    </td>
                                    <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="bodyPaddingTop" height="40" style="border-collapse:collapse; height:40px; line-height:40px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>

		@* ----------------------------- *@
        @* News listing, links and unsubscribe link: *@
		@* ----------------------------- *@
        <table cellpadding="0" cellspacing="0" border="0" align="center" id="backgroundTable" style="margin:0px auto; padding:0; width:100%; max-width:100%; line-height:100%; background:#FFFFFF;">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td class="mobile-full" align="center" width="630" style="width:630px;">

						@* ----------------------------- *@
                        @* News/Articles in main content area: *@
						@* ----------------------------- *@
                        @if (PageEditing.PageIsInEditMode && !Model.HasContentInMainContentArea)
                        {
                            <section>
                                <div class="container">
                                    @Html.PropertyFor(m => m.NewsletterPageData.MainContentArea)
                                </div>
                            </section>
                        }
                        else if (Model.HasContentInMainContentArea)
                        {
                            var index = 0;
                            <table class="mobile-full" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0px auto; padding:0; width:630px; line-height:100%;">
                                <tbody>
                                    <tr>
                                        <td class="bodyPaddingTop" height="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
											
                                            <table class="mobile-full" height="300" cellpadding="0" cellspacing="0" border="0" width="630" @Html.EditAttributes(m => m.NewsletterPageData.MainContentArea)>
                                                <tbody>
                                                    @foreach (var item in Model.MainContentPages)
                                                    {
                                                        if (index % 2 == 0)
                                                        {
                                                            @:<tr>
                                                        }
                                                        <td align="left" valign="top" style="@(index%2==0 ? "border-right: 1px solid #C6C6C6;" : "") border-bottom: 1px solid #C6C6C6" width="315" class="mobile-no-border mobile-full display-block">
                                                            <table class="mobile-full news-list" cellpadding="0" cellspacing="0" height="100%" border="0" align="left" style="height: 100%;" width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="20" colspan="3" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                                                        <td align="left" valign="top" style="height: 100%">
                                                                            <a href="@Url.ContentUrl(item.LinkURL)" style="text-decoration: none; font-size: 10px;">
                                                                                @if (item.MainImage != null)
                                                                                {
                                                                                    <table width="275" height="105" style="width: 100%; height: 105px; max-width: 275px; max-height:105px; overflow:hidden;">
                                                                                        <tr width="275" height="105" style="max-width: 275px; max-height:105px; width: 100%; height: 105px; overflow:hidden; vertical-align:top;">
                                                                                            <td width="275" height="105" style="width: 100%; height: 105px; max-width: 275px; max-height:105px; overflow:hidden; vertical-align:top;">
                                                                                                <div width="275" height="105" style="width: 100%; height: 105px; max-width: 275px; max-height:105px; overflow:hidden; vertical-align:top;">
                                                                                                    <img src="@(String.Format("{0}{1}?preset=Newsletter", Model.SiteUrl, @Url.ContentUrl(item.MainImage)))" style="display: block; max-width: 275px; max-height:105px;" />
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                }
                                                                                <br />
                                                                                <span style="font-size: 13px; color: #3E3E3E; font-family:'Open Sans', Arial, sans-serif;">
                                                                                    @if (!item.HideDate)
                                                                                    {
                                                                                        if (item.StartPublish.HasValue)
                                                                                        {
                                                                                            @item.StartPublish.Value.ToString(BasicPageBase.GetDateFormatString())
                                                                                        }

                                                                                        if (item.Location != null)
                                                                                        {
                                                                                            @Html.Raw(" | ")
                                                                                        }
                                                                                    }
                                                                                    @item.Location
                                                                                </span>
                                                                                <br />
                                                                                <br />
                                                                                <span style="line-height: 1.58; font-size: 18px; color: #3E3E3E; font-family:'Open Sans', Arial, sans-serif;"><strong>@item.HeadingOrPageName</strong></span><br />
                                                                                <span style="line-height: 1.58; font-size: 16px; color: #3E3E3E; font-family:'Open Sans', Arial, sans-serif;">@BasicPageBase.TeaserOrFallbackToIntro(item.TeaserText, item.MainIntro)</span><br /><br />
                                                                            </a>
                                                                        </td>
                                                                        <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="20" colspan="3" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        if (index % 2 != 0)
                                                        {
                                                            @:</tr>
                                                        }
                                                        index++;
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bodyPaddingTop" height="20" style="border-collapse:collapse; height:20px; line-height:20px;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }

						@* ----------------------------- *@
                        @* Links: *@
						@* ----------------------------- *@
                        @if (Model.HasLinks)
                        {
                            <table class="mobile-full" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0px auto; padding:0; width:630px; line-height:100%;">
                                <tbody>
                                    <tr>
                                        <td class="bodyPaddingTop" colspan="3" height="30" style="border-collapse:collapse; height:30px; line-height:30px;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                        <td align="left">
                                            <div style="font-size: 18px; font-weight: 600; color: #3E3E3E; font-family:'Open Sans', Arial, sans-serif;">
                                                @Html.PropertyFor(m => m.NewsletterPageData.LinkCollectionTitle)
                                            </div>
                                        </td>
                                        <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="bodyPaddingTop" height="5" style="border-collapse:collapse; height:5px; line-height:5px; border-bottom: 1px solid #C6C6C6">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="bodyPaddingTop" height="5" style="border-collapse:collapse; height:5px; line-height:5px;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                        <td align="left">
                                            @if (PageEditing.PageIsInEditMode)
                                            {
                                                <section>
                                                    <div class="container">
                                                        @Html.PropertyFor(m => m.NewsletterPageData.Links)
                                                    </div>
                                                </section>
                                            }
                                            else
                                            {
                                                foreach (LinkItem item in Model.NewsletterPageData.Links)
                                                {
                                                    <table class="mobile-full" cellpadding="0" cellspacing="0" border="0" align="center" style="margin: 0px auto; padding: 0; width: 100%; line-height: 100%;">
                                                        <tr>
                                                            <td class="bodyPaddingTop" colspan="2" height="10" style="border-collapse: collapse; height: 10px; line-height: 10px;">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="middle">
                                                                <img src="@(String.Format("{0}{1}", Model.SiteUrl, "Frontend/dist-web/Static/images/lenke_pil_rod.png"))" style="display: block;" height="12" width="12" />
                                                            </td>
                                                            <td><a href="@Url.PageUrl(item.Href)" target="@item.Target" style="color: #20788c; text-decoration: none; font-weight: 400; font-size: 16px; font-family: 'Open Sans', Arial, sans-serif;">@item.Text</a></td>
                                                        </tr>
                                                    </table>
                                                }
                                            }

                                        </td>
                                        <td width="20" style="border-collapse:collapse; height:20px; line-height:20px;">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        }

						@* ----------------------------- *@
                        @* Unsubscribe link *@
						@* ----------------------------- *@
                        <table class="mobile-full" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0px auto; padding:0; width:630px; line-height:100%;">
                            <tbody>
                                <tr>
                                    <td class="bodyPaddingbottom" colspan="3" height="60" style="border-collapse:collapse; height:60px; line-height:20px;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bodyPaddingTop mobile-full" colspan="3" style="border-collapse:collapse; line-height:20px;">
                                        <center>
                                            <span>
                                                @if (Model.DisplayUnsubscribeLink)
                                                {
                                                    <a href="@Url.PageUrl(Model.NewsletterPageData.UnsubscribePage).AddUrlParameter("mail", "%recipient%")" style="border-bottom: 2px solid red; color: #808080; text-decoration: none; font-weight: 400; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif;">@Html.Translate("/NewsLetter/unsubscribe")</a>
                                                }
                                            </span>
                                        </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bodyPaddingbottom" colspan="3" height="60" style="border-collapse:collapse; height:60px; line-height:20px;">
                                        &nbsp;
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>

		@* ----------------------------- *@
        @* Footer: *@
		@* ----------------------------- *@
        @if (Model.HomePage != null)
        {
            <table cellpadding="0" cellspacing="0" border="0" align="center" id="footer-table-outer" bgcolor="#3e3e3e" style="margin:0px auto; padding:0; width:100%; max-width:100%; line-height:100%;  color: #ffffff; background:#3e3e3e;">
				<tbody>
					<tr>
						<td>
							<table class="mobile-full" id="footer-table-inner" cellpadding="0"  cellspacing="0" border="0" align="center" style="margin:0px auto; padding:0; width:980px; line-height:100%;">
								<tbody>
									<tr>	
										<td colspan="3" style="vertical-align: top;">
											<h1 style="display: block; margin: 16px 0; padding: 0 0 16px; border-bottom: 1px solid #656565; font-family:'Open Sans'; font-size: 24px; font-weight: 100; color: #ffffff; text-align: left; text-transform: none;">
												@Html.PropertyFor(m => Model.HomePage.FooterTitle)
											</h1>
										</td>
									</tr>
									<tr>
									   <td style="width: 33%; padding-right: 20px; vertical-align: top; ">@Html.PropertyFor(m => Model.HomePage.FooterLeft)</td>
										<td style="width: 33%; padding-right: 20px; vertical-align: top;">@Html.PropertyFor(m => Model.HomePage.FooterCenter)</td>
										<td style="width: 33%; vertical-align: top; color: #ffffff;">
											@if (Model.HomePage.Footer3?.FilteredItems?.Any() == true)
                                            {
												<h2 style="color: #ffffff;">
													@Html.Translate("/SocialMedia/FollowUs")
												</h2>
												@Html.Action("GetSocialMediaBlock")
											}
										</td>
									</tr>
									<tr>
										<td colspan="3" style="vertical-align: bottom; text-align: center;">
											<img src="@(String.Format("{0}{1}", Model.SiteUrl, "Frontend/dist-web/Static/images/footer-bg.svg"))" />
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
        }

    </center>


@*
Outlook doesn't support background images, @font-face css, div-based layouts, and often fails when multiple selectors are used. Beware!
*@

    <style>
        @@font-face {
            font-family:'Open Sans';
            font-style:normal;
            font-weight:400;
            src:local('Open Sans'),
                local('OpenSans'),
                url('@(String.Format("{0}{1}", Model.SiteUrl, "Frontend/dist-web/Static/fonts/open-sans/regular/OpenSans-Regular.woff"))') format('woff');
        }
        h1 {
            font-family:'Open Sans';
        }
        h2 {
            font-family:'Open Sans';
        }
        #footer-table-inner h2 {
            font-family:'Open Sans';
            font-size: 18px;
            font-weight: 600;
            line-height:1.58;
            margin: 1.5rem 0 .5rem;
        }
        p {
            line-height: 1.58;
            font-family:'Open Sans',
            Arial, sans-serif;
        }
        span a {
            border-bottom: 1px solid #c61c08;
            color: #20788c;
            text-decoration: none;
        }
        span a:hover {
            border-bottom: 1px solid transparent;
        }
        #footer-table-inner {
            font-family:'Open Sans';
            color:#ffffff;
        }
        #footer-table-inner a {
            font-family:'Open Sans';
            color:#ffffff;
        }

        @@media only screen and (max-width: 480px) {
            .mobile-full {
                width: 100% !important;
                border-right: 0 !important;
                height: auto !important;
            }

            .mobile-no-border {
                border: 0 !important;
            }

            .reduce-mobile-margin {
                width: 15px !important;
            }

            .news-list {
                border-bottom: 1px solid #C6C6C6;
            }

            .display-block {
                display: block !important;
                text-align: left !important;
            }

            .logo {
                width: 37px !important;
                height: 45px !important;
            }

            .logo-title{
                font-size: 18px !important;
            }

            .logo-subtitle {
                font-size: 12px !important;
            }
        }
    </style>
</body>
</html>