.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    transition: all 500ms ease-out;
    white-space: normal;

    .carousel__slide__figure {
        display: flex;
        margin: 0;
    }

    .carousel__slide__img {
        @include aspect-ratio(3, 2);
        width: 100%;

        img {
            display: block;
            flex: 1 1 auto;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .carousel__slide__credit {
        display: block;
        font-weight: normal;
    }

    &.scrollable {
        overflow-y: scroll;
    }
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 20px;
}

.carousel__thumbnail {
    flex: 0 1 auto;
    width: span(2);
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    + .carousel__thumbnail {
        margin-left: 20px;
    }
}

.carousel__button--active {
    box-shadow: 0px 0px 0px 3px $arctic-blue-light;
}

.carousel__button {
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
    background: transparent;

    &:focus {
        box-shadow: 0px 0px 0px 3px $arctic-blue-light;
    }
}

.carousel {
    text-align: left;
    position: relative;
    margin-bottom: 22px;

    .carousel__slides[data-active-slide="1"] {
        .carousel__slide:first-of-type {
            margin-left: 0%;
        }
    }

    .carousel__slides[data-active-slide="2"] {
        .carousel__slide:first-of-type {
            margin-left: -100%;
        }
    }

    .carousel__slides[data-active-slide="3"] {
        .carousel__slide:first-of-type {
            margin-left: -200%;
        }
    }

    .carousel__slides[data-active-slide="4"] {
        .carousel__slide:first-of-type {
            margin-left: -300%;
        }
    }

    .carousel__slides[data-active-slide="5"] {
        .carousel__slide:first-of-type {
            margin-left: -400%;
        }
    }

    .carousel__slides[data-active-slide="6"] {
        .carousel__slide:first-of-type {
            margin-left: -500%;
        }
    }

    @include smaller-than($mini) {
        .carousel__thumbnail {
            flex: 0 0 auto;
            width: span(4);
        }
    }

    @include smaller-than($mobile) {
        .carousel__slide__figure {
            flex-direction: column;
        }

        .carousel__thumbnails {
            overflow-x: scroll;
            padding: 3px;
        }
    }

    @include larger-than($mobile) {
        .carousel__slide__caption {
            align-self: flex-end;
            padding: 20px 20px 0 20px;
            flex: 1 0 auto;
            width: 25%;
            min-width: 150px;

            .carousel__slide__credit {
                margin-top: 1rem;
            }
        }
    }
}
