@mixin show-grid ($container: true) {
    @if $container == true {
        background: susy-svg-grid();
        background-size: calc(100% - #{$grid-gutter * 2}) 100%;
        background-position-x: $grid-gutter;
        background-repeat: repeat-y;
    } @else {
        background: susy-svg-grid();    
    }
}