.card {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    background: #f4f4f4; //TODO: Add color as var
    position: relative;
    height: 100%;
  
    &:hover, &.has-focus {
      background: #daebed; //TODO: Add color as var
      filter: none; /* IE6-9 */
      -webkit-filter: none;
      filter: none;
    }

    &:hover .arrow__svg, &.has-focus .arrow__svg {
      transform: translateX(0px);
      stroke: $passion-red;
    }
    
    .light & {
      background: $white;
    }
  }
  
  .card__img {
    @include aspect-ratio(2, 1);
    margin: 0 -20px;
  
    img {
      max-width: 100%;
      object-fit: cover;
    }
  
    + .card__body {
      margin-top: -40px;
      height: 100%;
      position: relative;
    }
  }
  
  .card__dates {
    display: block;
    font-size: 14px;
    line-height: 20px;
    background: $arctic-blue-lighter;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 5px;
  }
  
  .card__title {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 600;
    background: none;
    a &{
      color: $font-color;
    }
  }

  
  
  .card__excerpt {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .card--white {
    background: #ffffff;
  }
  
  .card--expired {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    &:hover{
      filter: none; /* IE6-9 */
    -webkit-filter: none;
    filter: none;
    }
  }
  
  .card--focus {
    background: #daebed; //TODO: Add color as var
    
    &:hover, &.has-focus{
      background-color: #a2cdd2;
    }

    .card__footer{
      margin: auto 0 30px 0;
      justify-content: center;
    }

    .card__dates {
      background: transparent;
      padding: 22px 5px;
    }
  
    .card__img {
      + .card__body {
        margin-top: 0;
        height: auto;
        display: flex;
        flex-direction: column;
      }
    }
  
    .card__title {
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 0;
    }
  
    @include smaller-than($mobile) {
      margin-top: 20px;
      
      .card__img {
        margin: -20px 0 0 0;
        @include aspect-ratio(5, 4);
      }
    }
  
    @include larger-than($mobile) {
      flex-direction: row-reverse;
      width: calc(100% - 30px);
      margin-top: 30px;
  
      .card__img {
        flex: 1 1 auto;
        top: -30px;
        right: -30px;
      }
  
      .card__body{
        flex-basis: 300px;
        margin-right: 10px;
      }
  
      .card__title {
        font-size: 36px;
        line-height: 49px;
        
      }
    }
  }

  .card__footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .arrow {
    overflow: hidden;
    max-width: 32px;
  }
  
  .arrow__svg {
    stroke: $arctic-blue;
    transform: translateX(-4px);
    transition: transform 0.2s ease-in-out;
  }
  