<h1 id="norgesportalen-frontend-build">Norgesportalen Frontend Build</h1>
<h2 id="install-and-build-instructions">Install and Build instructions</h2>
<p>
    Norgesportalens frontend require several packages to be installed. For
    installation of these packages, you need a local version of
    <a href="https://nodejs.org/en/download/">NodeJS</a> on your machine.
</p>
<p>
    After installing NodeJS, you need to make sure you have the latest version
    of npm installed by running the following:
</p>
<pre><code class="hljs sh"><span class="hljs-built_in">npm</span> install <span class="hljs-built_in">npm</span> -g
</code></pre>
<p>
    You can verify the versions on your machine by typing
    <code>node -v</code> and <code>npm -v</code>. The supported version for this
    project is:
</p>
<ul>
    <li>Above Node v5.0.0</li>
    <li>Above Npm v3.3.6</li>
</ul>
<h3 id="install-dependencies">Install dependencies</h3>
<p>
    before we can run our project, we need to make sure all dependencies are
    installed. The dependencies are specified in the package.json file in the
    root of the project. Run the following command at the root of the project:
</p>
<pre><code class="hljs sh">npm <span class="hljs-keyword">install</span>
</code></pre>
<h3 id="build">Build</h3>
<p>To build the project, run the following command:</p>
<pre><code class="hljs sh">npm <span class="hljs-keyword">run</span><span class="bash"> build</span>
</code></pre>

<h3 id="tasks-and-watchers">Tasks and watchers</h3>
<p>In addition to the build script, the project has several defined tasks:</p>
<p>
    <code>npm start</code> Starts the development task, which runs a build and
    watches for changes across the entire project.
</p>
<p><code>npm run build:docs</code> Starts the docs build task.</p>
<p>
    <code>npm run lint</code> Starts the lint task, which lints both .scss and .js-files.
</p>
<p>
    <code>npm run lint:styles</code> Starts the lint task, which lints .scss-files.
</p>
<p>
    <code>npm run lint:scripts</code> Starts the lint task, which lints .js-files.
</p>

<p>* Excluding /node_modules/</p>
<h3 id="deployment">Deployment</h3>
<p>
    When running the build script on a server, you can use the BuildFrontend.cmd
    file as a build-script for frontend.
</p>
