/// Container
/// This is a generic, reusable class that applies a container-context to an
/// element. Combined with modifiers, you can set different a max-width.

.grid-container {
 // @include show-grid();
  position: relative;
  box-sizing: content-box;
  max-width: calc(1004px + #{$grid-gutter * 2});
  width: calc(100% - #{$grid-gutter * 2});
  padding: 0 $grid-gutter;
  margin: 0 auto;  

  *:not(.grid-container) {
    box-sizing: border-box;
  }
}

.grid-container--bleed {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.grid-container--s {
  max-width: 540px;
}

.grid-container--l {
  max-width: 1440px;
}
