.hero {
    position: relative;    
}

.hero__poster {
    @include aspect-ratio(1044, 400);

    > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero__img {
    width: 100%;
    height: 100%;
}

.hero__caption {
    @include figcaption;
    text-align: right;

    @include smaller-than($mobile) {
        font-weight: 400;
    }
}

.hero__title {    
    position: relative;
    margin: 0;
    font-weight: 400;

    @include smaller-than($mobile) {
        padding: $grid-gutter * 1.5 $grid-gutter;
        font-size: rem-calc(24px);
        line-height: rem-calc(30px);
    }

    @include between($mobile, $tablet) {
        padding: $grid-gutter * 1.5 $grid-gutter;
    }

    @include larger-than($mobile) {
        font-size: rem-calc(36px);
        line-height: rem-calc(49px);
    }

    @include larger-than($tablet) {

        .hero__poster + & {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        
        width: calc(#{span(9)} + 85px);
        margin-left: calc(#{span(3 wide)} - 85px);
        padding: 54px calc(#{span(4 wide)}) 54px 85px;
        background: #ffffff;        
    }
}

