﻿@using EPiServer
@using EPiServer.Editor;
@using EPiServer.ServiceLocation
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Models.Media
@using Norgesportalen.Models.Pages.BaseClasses;
@using npBaseClasses = Norgesportalen.Models.Pages.BaseClasses;

@model PageViewModel<SectionsPage>
@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
    var servicePages = Model.CurrentPage.ServicePages;
}

<article class="servicefrontpage section-page">
    @if (Model.CurrentPage.MainImage != null || PageEditing.PageIsInEditMode)
    {
        <header>
            <div class="jumbo">
                <div class="container-large">
                    @Html.PropertyFor(m => m.CurrentPage.MainImage)
                </div>
            </div>
            <div class="container-large">
                @if (Model.CurrentPage.MainImage != null)
                {
                    <span class="image-caption" role="presentation">@Html.Translate("/Media/photo"): @Model.CurrentPage.getImageCredit(Model.CurrentPage.MainImage)</span>
                }
            </div>
        </header>
    }
    <section class="padded">
        <div class="container">
            <h1>@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>
            <p class="ingress" @Html.EditAttributes(m => m.CurrentPage.MainIntro)>
                @Html.DisplayFor(m => m.CurrentPage.MainIntro)
            </p>
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                if (!string.IsNullOrEmpty(Model.CurrentPage.LocalMainIntro) || PageEditing.PageIsInEditMode)
                {
                    <p class="ingress" @Html.EditAttributes(m => m.CurrentPage.LocalMainIntro)>
                        @Html.DisplayFor(m => m.CurrentPage.LocalMainIntro)
                    </p>
                }
            }

            @Html.PropertyFor(m => m.CurrentPage.MainBody)

            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                if ((Model.CurrentPage.LocalMainBody != null && !Model.CurrentPage.LocalMainBody.IsEmpty) || PageEditing.PageIsInEditMode)
                {
                    @Html.PropertyFor(m => m.CurrentPage.LocalMainBody)
                }
            }

            <div class="panels service-panel">
                @foreach (var servicePage in servicePages)
                {
                    <div class="panel">
                        <a href="@Url.ContentUrl(servicePage.LinkURL)">
                            @* The collection we get in servicePages is a pagetype that inherits from PageBase *@

                            <h2>@servicePage.HeadingOrPageName</h2>

                            @if (servicePage is BasicPageBase)
                            {
                                BasicPageBase servicePageBasic = (BasicPageBase)servicePage;

                                if (!servicePageBasic.ShowIngressOrTeaserText)
                                {
                                    if (servicePageBasic.MainImage != null)
                                    {
                                        <img class="Portrett" alt="@servicePageBasic.MainImage.GetImageAltText()" src="@Url.ContentUrl(servicePageBasic.MainImage)" />
                                    }
                                }
                                else
                                {
                                    if (!String.IsNullOrEmpty(servicePageBasic.TeaserText))
                                    {
                                        <p>@servicePageBasic.TeaserText</p>
                                    }
                                    else
                                    {
                                        <p>@servicePageBasic.MainIntro</p>
                                    }
                                }
                            }
                            else
                            {
                                <p>@servicePage.MainIntro</p>
                            }
                        </a>
                    </div>
                }
            </div>

            @if (Model.CurrentPage.MainContentArea?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode)
            {
                @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { CssClass = "", ChildrenCssClass = "padded--small" })
            }
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                if (Model.CurrentPage.LocalMainContentArea?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode)
                {
                    @Html.PropertyFor(m => m.CurrentPage.LocalMainContentArea, new { CssClass = "", ChildrenCssClass = "padded--small" })
                }
            }
        </div>
    </section>
</article>
