﻿

.infographic {
    &.panel {
        text-align: center;
        position: relative;

        .inner {
            display: block;
            padding: 0 .9375rem;
        }

        @include smaller-than($mobile) {
            flex: 1 0 100%;
            text-align: left;
            padding: 1rem 0;
            min-height: 100px;

            .inner {
                padding: 0;
            }

            img {
                position: absolute;
                left: 0;
                max-width: 100px;
                padding-right: 1rem;
            }

            h3 {
                margin: 0 0 0 110px;
                padding: 0;
            }

            p {
                margin: 0 0 0 110px;
            }

            &::after {
                display: table;
                clear: both;
                content: '';
            }
        }

        @include smaller-than($mini) {
            text-align: center;

            img {
                max-width: 140px;
                position: relative;
                padding: 1rem 0;
            }

            p, h3 {
                margin: 0;
            }
        }
    }

    img {
        max-width: 170px;
    }
}
