﻿@using EPiServer.Editor

@model PageViewModel<ProcessPage>
@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
    var Pages = Model.CurrentPage.Pages;
    var showLinkButton = Model.CurrentPage.LinkContentArea?.FilteredItems?.Any() == true;
}

<article>
    <div class="container">
        <section class="process padded">
            <div class="vertical-line"></div>
            <h1>@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>
            <p class="ingress" @Html.EditAttributes(x => x.CurrentPage.MainIntro)>
                @Html.DisplayFor(m => m.CurrentPage.MainIntro)
            </p>
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                if (!string.IsNullOrEmpty(Model.CurrentPage.LocalMainIntro) || PageEditing.PageIsInEditMode)
                {
                    <p class="ingress" @Html.EditAttributes(x => x.CurrentPage.LocalMainIntro)>
                        @Html.DisplayFor(m => m.CurrentPage.LocalMainIntro)
                    </p>
                }
            }

            @Html.PropertyFor(m => m.CurrentPage.MainBody)
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                if ((Model.CurrentPage.LocalMainBody != null && !Model.CurrentPage.LocalMainBody.IsEmpty) || PageEditing.PageIsInEditMode)
                {
                    @Html.PropertyFor(m => m.CurrentPage.LocalMainBody)
                }
            }

            @Html.PropertyFor(m => m.CurrentPage.MainContentArea)

            @if (showLinkButton || PageEditing.PageIsInEditMode)
            {
                <a href="#links" class="btn anchor" tabindex="0" @Html.EditAttributes(x => x.CurrentPage.AnchorLinkText)>@Html.DisplayFor(m => m.CurrentPage.AnchorLinkText)</a>
            }

            <div class="process-steps" role="tablist">
                @{ var stepIndex = 1; }
                @foreach (var page in Pages)
                {
                    <div class="process-step @(PageEditing.PageIsInEditMode ? "open" : "")" id="@page.URLSegment">
                        <a href="#@page.URLSegment" class="process-step-header" tabindex="0" role="tab" aria-expanded="false">
                            <span class="step-number">@stepIndex</span>
                            <h2>@page.Heading</h2>
                        </a>
                        <div class="process-step-content" role="tabpanel" aria-hidden="true">
                            @if (page.MainBody != null)
                            {
                                @Html.XhtmlString(page.MainBody);
                            }

                            @if (page.LocalMainBody != null && !page.LocalMainBody.IsEmpty && page.FetchDataFromHelper != null)
                            {
                                @Html.XhtmlString(page.LocalMainBody);
                            }

                            @if (page.LocalLinks != null || page.Links != null)
                            {
                                <div class="link-list padded">
                                    <div class="panels">
                                        @if (page.Links != null)
                                        {
                                            foreach (var link in page.Links)
                                            {
                                                <div class="panel panel--large">
                                                    <div class="inner">
                                                        <p class="arrow-link">
                                                            <a href="@Url.ContentUrl(link.Href)" target="@link.Target">@link.Text</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        @if (page.FetchDataFromHelper != null && page.LocalLinks != null)
                                        {
                                            foreach (var link in page.LocalLinks)
                                            {
                                                <div class="panel panel--large">
                                                    <div class="inner">
                                                        <p class="arrow-link">
                                                            <a href="@Url.ContentUrl(link.Href)" target="@link.Target">@link.Text</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    stepIndex++;
                }
            </div>

        </section>
    </div>
    @if (Model.CurrentPage.LinkContentArea?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode)
    {
        <section class="padded white" id="links">
            <div class="container">
                @Html.PropertyFor(m => m.CurrentPage.LinkContentArea)
            </div>
        </section>
    }

    @if (Model.CurrentPage.FetchDataFromHelper != null && (Model.CurrentPage.LocalMainContentArea?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode))
    {
        <section class="padded white" id="links">
            <div class="container">

                @if (Model.CurrentPage.LocalMainContentArea?.FilteredItems?.Any() == true)
                {
                    @Html.PropertyFor(m => m.CurrentPage.LocalMainContentArea, new { ChildrenCssClass = "padded--small" })
                }

            </div>
        </section>
    }
</article>
