﻿@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions
@model  Norgesportalen.Models.Pages.BaseClasses.PageBase
<a href="@Url.ContentUrl(Model.LinkURL)" class="inner" data-top-task="@Model.HeadingOrPageName">
    @if (!string.IsNullOrEmpty(Model.IconImage))
    {
        <img src="@Model.IconImage.GetImageUrl(Constants.ImageSize.Icon)" alt="Icon" />
    }
    <span class="headline">@Model.HeadingOrPageName</span>    
</a>
