﻿@using Norgesportalen.Models.Blocks;
@model TopTaskLinkListBlock

@{ 
    Model.IsSmall = (bool)ViewData["IsSmall"];
}

<div class="inner">
    <span class="headline">
        @Model.Title
    </span>
    @foreach (var link in Model.ItemsToRender)
    {
        <p class="arrow-link">
            <a href="@Url.ContentUrl(link.Href)" target="@link.Target">@link.Title</a><br />
            @link.UnderTitle
        </p>}
    <div class="all-services">
        <a href="@Url.ContentUrl(Model.TitleAndReadmoreLink)">@Model.ReadMoreLinkTitle</a>
    </div>
</div>