﻿@using System.Web.Optimization
@model PageViewModel<NewsletterUnsubscribePage>
<!DOCTYPE html>
<html lang="@Model.CurrentPage.LanguageBranch">
<head>
    @{
        Html.RenderPartial("_GoogleTagManagerHead");
    }
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.CurrentPage.MetaTitle</title>
    @Html.CanonicalLink()
    @Html.AlternateLinks()
    @Styles.Render("~/Frontend/dist-web/Static/css/maincss")
</head>

<body class="unsubscribe-page">
    @{
        Html.RenderPartial("_GoogleTagManagerBody");
    }
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()

    <header>
        <div class="header-content">
            <a href="@Model.Layout.LogotypeLinkUrl" class="brand">
                @Html.PropertyFor(x => x.Layout.Logo)
            </a>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            <article>
                <header>
                    <h1>@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>
                </header>
                <p class="ingress">@Html.PropertyFor(m => m.CurrentPage.MainIntro)</p>
                @Html.PropertyFor(m => m.CurrentPage.MainBody)
                <div class="notifications"></div>
                <form id="unsubscribe-form" class="unsubscribe-form">
                    <div class="input-group">
                        <input type="email" name="email" class="unsubscribe-email" placeholder="@Html.Translate("/NewsLetter/email")" />
                        <input type="hidden" class="unsubscribe-id" value="@Model.CurrentPage.NewsLetterList"/>
                        <div class="input-group-btn">
                            <input type="submit" value="@Html.Translate("/NewsLetter/unsubscribe")" />
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </main>
    @Scripts.Render("~/Frontend/dist-web/Static/js/mainjs")
</body>
</html>


