﻿@using EPiServer.Core
@using Norgesportalen.Business.Extensions

@model HomePageViewModel

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }

@{
    var isSocialMediaLink = Model.CurrentPage.SocialmediaViewMorePageRef != null;
}

@Html.PropertyFor(m => m.CurrentPage.EmergencyContentArea)
@Html.PropertyFor(m => m.CurrentPage.InformationContentArea)

@* Top tasks Section ------------------------------------------------*@

<section class="top-tasks-panel @Html.Raw((Model.TopTasksCount() > 0) ? "top-tasks-panel--has-panels" : "" )" @(Model.TopTaskBackgroundStyle)>
    @if (Model.TopTasksCount() > 0 || Model.IsInEditMode())
    {
        <div class="container-large">

            <div class="panels @Html.Raw((Model.CurrentPage.TopTasksLinkList != null && !Model.IsInEditMode()) ? "panels--has-right-panel" : "" ) @Html.Raw((Model.CurrentPage.TopTasksLinkList == null && !Model.IsInEditMode()) ? "panels--no-right-panel" : "" ) @Html.Raw((Model.IsInEditMode()) ? "panels--in-edit-mode" : "" ) panels--count-@Model.LeftTopTasksCount()">

                @if (Model.IsInEditMode())
                {
                    <div class="panel">
                        @Html.PropertyFor(m => Model.CurrentPage.TopTasksContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.HomePageTopTasks, CssClass = "panels", ChildrenCssClass = "panel panel-small" })
                    </div>
                }
                else
                {
                    if (Model.LeftTopTasksCount() > 0)
                    {
                        <div class="panel">
                            @Html.PropertyFor(m => Model.CurrentPage.TopTasksContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.HomePageTopTasks, CssClass = "panels", ChildrenCssClass = "panel panel-small" })
                        </div>
                    }
                }

                @* Show the box if link list has items ------------------------------------------------*@

                @if (Model.CurrentPage.TopTasksLinkList != null || Model.IsInEditMode())
                {
                    <div class="panel panel-large">
                        <div class="panels">
                            <div class="panel">
                                <div class="inner">
                                    <span class="headline">
                                        @Html.PropertyFor(m => Model.CurrentPage.TopTasksTitle)
                                    </span>
                                    @if (EPiServer.Editor.PageEditing.PageIsInEditMode)
                                    {
                                        @Html.PropertyFor(m => Model.CurrentPage.TopTasksLinkList)
                                        <br />
                                        @Html.PropertyFor(m => Model.CurrentPage.TopTasksTitleAndReadmoreLink)
                                    }
                                    else
                                    {
                                        if (Model.CurrentPage.TopTasksLinkList != null)
                                        {
                                            foreach (var topTasksLink in Model.CurrentPage.TopTasksLinkList)
                                            {
                                                <p class="arrow-link">
                                                    @Html.DisplayFor(ttl => topTasksLink)
                                                    <br />
                                                    @topTasksLink.Title
                                                </p>
                                            }
                                        }
                                        if (Model.CurrentPage.TopTasksTitleAndReadmoreLink != null)
                                        {
                                            <div class="all-services">
                                                @foreach (var readMoreLink in Model.CurrentPage.TopTasksTitleAndReadmoreLink)
                                                {
                                                    @Html.DisplayFor(rml => readMoreLink)
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    }
</section>


@* News Section ------------------------------------------------*@
@if (Model.CurrentPage.NewsContentArea?.FilteredItems?.Any() == true || Model.AutomaticNewsList?.FilteredItems?.Any() == true || Model.IsInEditMode())
{
    // We need an extra class if SoMe content is used because then the SoMe-block is a natural delimiter between the sections, and we don't need the last border-bottom.
    string cssClass = "news-panel";
    bool hasSoMeContentAreaWithItems = Model.CurrentPage.SocialMediaContentArea?.FilteredItems?.Count() > 0;
    if (hasSoMeContentAreaWithItems)
    {
        cssClass += " has-SoMe-content-area";
    }

    <section class="@cssClass">
        <div class="container-large">
            @if (!PageReference.IsNullOrEmpty(Model.CurrentPage.NewsListPageRef) || Model.CurrentPage.IsInEditMode())
            {
                <a href="@Url.ContentUrl(Model.CurrentPage.NewsListPageRef)">
                    <h1 class="h1 text-center" @Html.EditAttributes(m => m.CurrentPage.NewsListPageRef)>@Model.CurrentPage.NewsListPageRef.GetHeadingFromPageref()</h1>
                </a>
            }

            @if (Model.CurrentPage.NewsContentArea?.FilteredItems?.Any() == true || Model.IsInEditMode())
            {
                @Html.PropertyFor(m => m.CurrentPage.NewsContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.HomePageManualNews, CssClass = "panels panels-manual", ChildrenCssClass = "panel" })
            }

            @if (Model.AutomaticNewsList?.FilteredItems?.Any() == true || Model.IsInEditMode())
            {
                @Html.PropertyFor(m => m.AutomaticNewsList, new { Tag = Norgesportalen.Global.ContentAreaTags.HomePageAutomaticNews, CssClass = "panels panels-auto", ChildrenCssClass = "panel" })
            }

            @if (!PageReference.IsNullOrEmpty(Model.CurrentPage.NewsListPageRef) || Model.CurrentPage.IsInEditMode())
            {
                <span class="text-center">
                    <a href="@Url.ContentUrl(Model.CurrentPage.NewsListPageRef)" class="view-all-btn">
                        @Html.Translate("/viewAll")
                    </a>
                </span>
            }
        </div>
    </section>
}



@* Social media Section ----------------------------------------*@
@if (Model.CurrentPage.SocialMediaContentArea?.FilteredItems?.Any() == true || Model.IsInEditMode())
{
    <section class="social-panel padded--xsmall">
        <div class="container-large">
            <div class="panels">
                @Html.PropertyFor(m => m.CurrentPage.SocialMediaContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.SocialMedia.Panel, HasContainer = false, ChildrenCssClass = "panel" })

                @if (isSocialMediaLink || Model.IsInEditMode())
                {
                    <div class="panel">
                        <a href="@Url.ContentUrl(Model.CurrentPage.SocialmediaViewMorePageRef)" class="inner">
                            <img src="/Frontend/dist-web/Static/images/lenkePil.svg" class="icon" />
                            <span @Html.EditAttributes(m => m.CurrentPage.SocialmediaViewMorePageRef)>@Html.Translate("/SocialMedia/viewAllSocialMedia")</span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
}

@* Themes Section ------------------------------------------------*@
@if (Model.CurrentPage.ThemesLargeContentArea?.FilteredItems?.Any() == true || Model.CurrentPage.ThemesContentArea?.FilteredItems?.Any() == true || Model.IsInEditMode())
{
    <section class="priority-panel">
        <div class="container-large">
            @if (!PageReference.IsNullOrEmpty(Model.CurrentPage.ThemesSectionListPageRef) || Model.CurrentPage.IsInEditMode())
            {
                <a href="@Url.ContentUrl(Model.CurrentPage.ThemesSectionListPageRef)">
                    <h1 class="h1 text-center" @Html.EditAttributes(m => m.CurrentPage.ThemesSectionListPageRef)>@Model.CurrentPage.ThemesSectionListPageRef.GetHeadingFromPageref()</h1>
                </a>
            }

            @Html.PropertyFor(m => m.CurrentPage.ThemesLargeContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.HomePageThemes, CssClass = "panels", ChildrenCssClass = Model.ThemesLargeCssLayout, IsSmall = Model.ThemesLargeCssLayout.Equals("panel-medium panel") })
            @Html.PropertyFor(m => m.CurrentPage.ThemesContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.HomePageThemes, CssClass = "panels", ChildrenCssClass = Model.ThemesPanelsCssLayout, IsSmall = Model.ThemesPanelsCssLayout.Equals("panel-medium panel") })

            @if (!PageReference.IsNullOrEmpty(Model.CurrentPage.ThemesSectionListPageRef) || Model.CurrentPage.IsInEditMode())
            {
                <span>
                    <a href="@Url.ContentUrl(Model.CurrentPage.ThemesSectionListPageRef)" class="view-all-btn">
                        @Html.Translate("/viewAll")
                    </a>
                </span>
            }
        </div>
    </section>
}
