﻿@using Norgesportalen.Business
@model ImageViewModel

<figure class="inline-image--left">
    <img src="@Model.Url" alt="@Model.AltText" />
    @if (string.IsNullOrEmpty(Model.Credits))
    {
        <figcaption>@Html.PropertyFor(x => x.ImageText)</figcaption>
    }
    else
    {
        <figcaption>@Html.PropertyFor(x => x.ImageText) @Html.Translate("/Media/photo"):@Html.PropertyFor(x => x.Credits)</figcaption>
    }
</figure>