﻿@using EPiServer.Editor
@using EPiServer.Forms.Core
@using EPiServer.Forms.EditView
@using EPiServer.Forms.EditView.Internal
@using EPiServer.Forms.Helpers.Internal
@using EPiServer.ServiceLocation
@model Norgesportalen.Models.Elements.PagePropertyHiddenEmailElementBlock

@{
    var isViewModeInvisibleElement = Model is IViewModeInvisibleElement;
    var extraCssClass = isViewModeInvisibleElement ? ConstantsFormsUI.CSS_InvisibleElement : string.Empty;
}

<div class="Form__Element FormHidden @Model.GetValidationCssClasses()"
     data-f-element-name="@Model.FormElement.ElementName" data_f_type="hidden">

    @if (PageEditing.PageIsInEditMode)
    {
        <label for="@Model.FormElement.Guid" class="Form__Element__Caption">
            @Model.Content.Name
        </label>
        <input class="Form__Element FormHidden @extraCssClass" readonly="readonly" value="@Model.EditViewFriendlyTitle">
    }
    else
    {
        <input name="@Model.FormElement.ElementName"
               id="@Model.FormElement.Guid"
               type="hidden"
               readonly="readonly"
               class="Form__Element FormHidden"
               value="@Model.Email"
               @Html.Raw(Model.AttributesString) data-f-type="hidden" />

        @Html.ValidationMessageFor(Model)
    }
</div>