.accordion {
  .accordion-item {
    margin: 0 0 1.5rem;
  }

  .accordion-title {
    background-color: #f6f2f1;
    cursor: pointer;
    padding: 1rem;
  }

  .accordion-content {
    background-color: #f6f2f1;
    display: none;
    padding: 1rem;
  }

  .accordion-icon {
    float: right;
    height: 16px;
    line-height: 1rem;
    position: relative;
    width: 16px;

    .horizontal {
      background-color: #f6f2f1;
      height: 2px;
      left: 0;
      position: absolute;
      top: 7px;
      width: 16px;
    }

    .vertical {
      background-color: #f6f2f1;
      height: 16px;
      left: 7px;
      position: absolute;
      top: 0;
      width: 2px;
    }

    &.open .vertical {
      transform: rotate(90deg);
    }
  }
}
