/// Removes the unit (e.g. px, em, rem) from a value, returning the number only.
///
/// @example scss
///      strip-unit(15px)
///
/// @param {Number} $num - Number to strip unit from.
///
/// @returns {Number} The same number, sans unit.

@function strip-unit($num) {
    @if type-of($num) != 'number' {
        @error 'The argument $num: `#{$num}` is of incorrect type: `#{type-of($num)}`. Type of `Number` is required!';
    }

    @else if unitless($num) {
        @warn 'The argument $num: `#{$num}` has no unit. Unit is required!';
    }

    @return $num / ($num * 0 + 1);
}
