.event-details {    
    background: #DAEBED;
    padding: rem-calc(22px);
}

.event-details__list {
    margin: 0;

    dt {
        font-weight: 600;
    }

    dd {
        margin: 0;

        + dt {
            margin-top: 20px;
        }
    }

    address {
        font-style: normal;
    }

    + .btn {
        margin-top: 20px;
        max-width: none;
    }
}

.event-details--maps {
    display: flex;
    padding: 20px;
    // NOTE: Creates the illusion of an offset map
    // background: #daebed 0%,#daebed span(8),transparent span(8),transparent span(12));

    .event-details__content {
        flex: 1 1 auto;
    }

    .event-details__map {
        @include aspect-ratio(2, 1);        
        flex: 1 1 auto;
        
        > div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            .googlemap {
                height: 100% !important;
                width: 100% !important;
            }
        }
    }
}