﻿

section.social-panel {
    background-color: #f5f2f1;
    border-top: 1px #cdcdcd solid;
    border-bottom: 1px #cdcdcd solid;

    .panels {
        width: 100%;
        justify-content: center;

        .panel {
            flex: 1 0 25%;
            max-width: 50%;

            @include smaller-than($mobile) {
                flex: 1 0 50%;
                max-width: 100%;
            }

            @include smaller-than($mini) {
                flex: 1 0 100%;
                max-width: 100%;
            }
        }
    }

    a:hover, a:focus {
        text-decoration: underline;
    }

    .inner {
        color: inherit;
        margin: .9375rem .9375rem .9375rem 30px;
        display: flex;
        align-items: center;
        position: relative;

        .icon {
            position: absolute;
            left: -30px;
            top: .25rem;
            max-width: 20px;
        }
    }

    .socialmedia-icon {
        position: absolute;
        left: -30px;
        max-width: 20px;
    }
}

.socialmedia-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: auto 100%;
    overflow: hidden;
    border: 0;
    text-indent: -9999px;
    background-repeat: no-repeat;

    &.facebook {
        background: url('../images/facebook-logo.png');
        background-image: url('../images/facebook-logo.svg');
    }

    &.twitter {
        background: url('../images/twitter-logo.png');
        background-image: url('../images/twitter-logo.svg');
    }

    &.vimeo {
        background: url('../images/vimeo-logo.png');
        background-image: url('../images/vimeo-logo.svg');
    }

    &.youtube {
        background: url('../images/youtube-logo.png');
        background-image: url('../images/youtube-play-button.svg');
    }

    &.instagram {
        background: url('../images/instagram-logo.png');
        background-image: url('../images/instagram-logo.svg');
    }

    &.linkedin {
        background: url('../images/linkedin-logo.png');
        background-image: url('../images/linkedin-logo.svg');
    }

    &.vkontakte {
        background: url('../images/vkontakte-logo.png');
        background-image: url('../images/vkontakte-logo.svg');
    }

    &.weibo {
        background: url('../images/weibo-logo.png');
        background-image: url('../images/weibo-logo.svg');
    }

    &.snapchat {
        background: url('../images/snapchat-logo.png');
        background-image: url('../images/snapchat-logo.svg');
    }

    &.flickr {
        background: url('../images/flickr-logo.png');
        background-image: url('../images/flickr-logo.svg');
    }
}
