﻿.top-tasks-panel {
    background-color: $arctic-blue-lighter;
    //position, size are needed as background-image can be set from epi
    background-position: center center;
    background-size: cover;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;

    .container-large {
        width: 100%;
    }

    @include larger-than($mobile) {
        min-height: 300px;
    }

    @include larger-than($tablet) {
        min-height: 500px;
    }

    @include smaller-than($mobile) {
        border-top: 1px solid $base-color;
        padding: 1rem 0;

        &.top-tasks-panel--has-panels {
            background-image: none !important;
        }

        .container-large {
            padding: 0;
        }

        .panel-space-above {
            margin-top: 1rem;

            + .panel-space-above {
                margin-top: 2rem;
            }
        }
    }

    // ==========================================================================
    // PANEL
    // ==========================================================================

    .panel {
        position: relative;
        display: flex;
        flex: 1 0 25%;

        .panel-heading {
            position: absolute;
            top: -48px;
            left: 0.9375rem;
            font-weight: 400;
        }

        p {
            font-size: 0.875rem;
            font-weight: 200;
        }

        .inner {
            @include rgba(background-color, 255, 255, 255, 0.9);

            border: 1px solid $arctic-blue;
            margin: 0.9375rem;
            padding: 40px 0.9375rem;
            display: block;
            width: 100%;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);

            @include smaller-than($mobile) {
                padding: 0.9375rem;
            }
        }

        @include smaller-than($mobile) {
            flex: 1 0 50%;
        }

        .headline {
            color: $arctic-blue-dark;
            display: block;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0.5rem 0;
        }
    }

    // SMALL PANEL

    .panel-small {
        .inner {
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            text-align: center;
        }

        .inner:hover {
            background-color: $base-color;

            .headline::after {
                width: 70px;
            }
        }

        .headline {
            display: block;
            text-transform: none;
            text-align: center;
        }

        .headline::after {
            transition: all 0.2s ease-in-out;
            background-color: $passion-red;
            content: "";
            display: block;
            height: 2px;
            margin: 10px auto;
            width: 40px;
        }
    }

    // ==========================================================================
    // HAS right panel
    // ==========================================================================

    .panels--has-right-panel {
        @include smaller-than($mobile) {
            display: block;
        }

        > .panel:first-of-type {
            display: block;
            flex: unset;
            min-width: 100%;

            @include larger-than($mobile) {
                flex: 2;
                min-width: 0;
            }
        }

        > .panel:first-of-type > .panels {
            display: block;

            @include larger-than($mini) {
                display: grid;
                display: -ms-grid;
                grid-template-columns: 1fr 1fr;
                -ms-grid-columns: 1fr 1fr;
                -ms-grid-rows: 1fr 1fr;
            }

            .panel-small {
                @include larger-than($mini) {
                    min-height: 250px;
                    min-width: 100%;
                }
            }

            .panel-small a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .headline {
                    width: 100%;
                }
            }
        }

        .panel-large {
            flex: 1;
            @include larger-than($mobile) {
                width: 100%;
            }

            @include smaller-than($mobile) {
                width: 100%;
                display: block;
            }

            a {
                font-size: 1rem;
            }

            .inner {
                text-align: left;
                padding: 0.9375rem;
            }
        }

        &:not(.panels--count-0) {
            .panel-large {
                min-height: 500px;
                max-height: none;
            }
        }

        &.panels--count-0 {
            margin: 0 auto;
            @include larger-than($mini) {
                max-width: (100%/3) * 2;
            }

            @include larger-than($mobile) {
                max-width: (100%/3);
            }

            > .panel:first-of-type > .panels {
                display: block;
            }
            .panel-large .panel{
                min-height: 250px;
            }
        }

        &.panels--count-1 {
            .panel-large {
                min-height: 250px;
            }
        }

        &.panels--count-1,
        &.panels--count-2 {
            margin: 0 auto;

            @include larger-than($mini) {
                max-width: (100%/3) * 2;
            }

            @include larger-than($mobile) {
                max-width: (100%/3) * 2;
            }

            > .panel:first-of-type {
                flex: 1;

                & > .panels {
                    display: block;
                }
            }
        }

        &.panels--count-3,
        &.panels--count-4 {
            > .panel:first-of-type > .panels {
                display: block;

                @include larger-than($mini) {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: 1fr 1fr;
                    -ms-grid-columns: 1fr 1fr;
                    -ms-grid-rows: 1fr 1fr;
                    grid-template-areas:
                        "one two"
                        "four three";

                    .panel-small {
                        &:nth-child(1) {
                            grid-area: one;
                        }

                        &:nth-child(2) {
                            grid-area: two;
                        }

                        &:nth-child(3) {
                            grid-area: three;
                        }

                        &:nth-child(4) {
                            grid-area: four;
                        }
                    }
                }
            }
        }
    }

    // ==========================================================================
    // NO right panel
    // ==========================================================================

    .panels--no-right-panel {
        margin: 0 auto;

        @include larger-than($mobile) {
            max-width: (100%/3) * 2;
        }

        > .panel:first-of-type > .panels {
            .panel-small {
                @include larger-than($mini) {
                    min-height: 250px;
                    min-width: 100%;
                }

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .headline {
                        width: 100%;
                    }
                }
            }
        }

        &.panels--count-1 {
            @include larger-than($mini) {
                max-width: (100%/3) * 2;
            }

            @include larger-than($mobile) {
                max-width: (100%/3);
            }

            > .panel:first-of-type > .panels {
                display: block;
            }
        }

        &.panels--count-2 {
            @include larger-than($mini) {
                max-width: (100%/3) * 2;
            }

            > .panel:first-of-type > .panels {
                display: block;
                @include larger-than($mini) {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: 1fr 1fr;
                    -ms-grid-columns: 1fr 1fr;
                    -ms-grid-rows: 1fr 1fr;
                    grid-template-areas:
                        "one two";

                    .panel-small {
                        &:nth-child(1) {
                            grid-area: one;
                        }

                        &:nth-child(2) {
                            grid-area: two;
                        }
                    }
                }
            }
        }

        &.panels--count-3,
        &.panels--count-4 {
            > .panel:first-of-type > .panels {
                display: block;

                @include larger-than($mini) {
                    display: grid;
                    display: -ms-grid;
                    grid-template-columns: 1fr 1fr;
                    -ms-grid-columns: 1fr 1fr;
                    -ms-grid-rows: 1fr 1fr;
                    grid-template-areas:
                        "one two"
                        "four three";

                    .panel-small {
                        &:nth-child(1) {
                            grid-area: one;
                        }

                        &:nth-child(2) {
                            grid-area: two;
                        }

                        &:nth-child(3) {
                            grid-area: three;
                        }

                        &:nth-child(4) {
                            grid-area: four;
                        }
                    }
                }
            }
        }
    }

    // ==========================================================================
    // IN EDIT MODE
    // ==========================================================================

    .panels--in-edit-mode {
        @include smaller-than($mobile) {
            display: block;
        }

        > .panel:first-of-type {
            display: block;
            flex: unset;
            min-width: 100%;

            @include larger-than($mobile) {
                flex: 2;
                min-width: 0;
            }
        }

        > .panel:first-of-type > .panels {
            display: block;

            @include larger-than($mini) {
                display: grid;
                display: -ms-grid;
                grid-template-columns: 1fr 1fr;
                -ms-grid-columns: 1fr 1fr;
                -ms-grid-rows: 1fr 1fr;
            }

            .panel-small {
                @include larger-than($mini) {
                    min-height: 250px;
                    min-width: 100%;
                }
            }

            .panel-small a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .headline {
                    width: 100%;
                }
            }
        }

        .panel-large {
            flex: 1;
            @include larger-than($mobile) {
                min-height: 500px;
                max-height: none;
                width: 100%;
            }

            @include smaller-than($mobile) {
                width: 100%;
                display: block;
            }

            a {
                font-size: 1rem;
            }

            .inner {
                text-align: left;
                padding: 0.9375rem;
            }
        }

        > .panel:first-of-type > .panels {
            display: block;

            @include larger-than($mini) {
                display: grid;
                display: -ms-grid;
                grid-template-columns: 1fr 1fr;
                -ms-grid-columns: 1fr 1fr;
                -ms-grid-rows: 1fr 1fr;
                grid-template-areas:
                    "one two"
                    "four three";

                .panel-small {
                    &:nth-child(1) {
                        grid-area: one;
                    }

                    &:nth-child(2) {
                        grid-area: two;
                    }

                    &:nth-child(3) {
                        grid-area: three;
                    }

                    &:nth-child(4) {
                        grid-area: four;
                    }
                }
            }
        }
    }
    // ==========================================================================
    // LINK LIST
    // ==========================================================================

    ul.link-list {
        margin-left: 0;
        padding-left: 0;
        list-style: none;

        li {
            position: relative;
            margin-bottom: 0.5rem;
            padding-bottom: 0;
            padding-left: 30px;
            line-height: 1.5;

            a {
                font-weight: 600;
                background-color: #ffffff;
                border-bottom: none;

                &::before {
                    position: absolute;
                    top: -1px;
                    left: 0;
                    display: inline-block;
                    width: 26px;
                    height: 22px;
                    margin: 2px 0.25rem 0 0;
                    background-color: transparent;
                    background-image: url(../images/lenkePil.svg);
                    background-repeat: no-repeat;
                    background-position: 0.5rem 0.2rem;
                    content: "";
                }

                &:hover,
                &:focus {
                    border-bottom: 1px solid $elements-color;
                }
            }

            .link-note {
                display: block;
                margin-top: -0.1rem;
                font-size: 0.875rem;
                font-weight: 200;
            }
        }
    }

    // ==========================================================================
    // ALL SERVICES LINK
    // ==========================================================================

    .all-services {
        padding-top: 1rem;
        padding-bottom: 2rem;
        text-align: center;
        line-height: 2;

        a {
            border-bottom: 1px solid $arctic-blue;

            &:hover,
            &:focus {
                color: $passion-red;
                border-bottom-color: $passion-red;
            }
        }
    }
}
