.scroll-anim-wrapper {
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-top: -8px;
	margin-left: -25px;
	display: inline-block;
	width: 50px;
	height: 50px;
	z-index: 100;
	box-sizing: border-box;

	&.hidden {
		display: none;
	}

	.scroll-anim {
		display: block;
		position: absolute;
		opacity: 0;
		width: 50px;
		height: 25px;
		margin: 0 auto;
		text-align: center;
		background: url('../images/arrow-scroll-down.svg') center center no-repeat;
		background-size: contain;
		animation: movedown 1.2s 3s ease-in-out forwards 5;
	}
}

@keyframes movedown {
	0% {
		top: -2px;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 20px;
		opacity: 0;
	}
}