@using EPiServer.Editor;
@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions
@model EventListViewModel.ListedEvent
@{
    var archivedCssClass = string.Empty;
    if (Model.EventList == EventListViewModel.EventListType.Archived)
    {
        archivedCssClass = " card--expired";
    }

}
<li class="card-list__item">
    <article class="card card--event @archivedCssClass">
        <div class="card__img">
                @if (Model.MainImage != null || PageEditing.PageIsInEditMode)
                {
                    <img class="ratio__content" src="@Model.MainImage.GetImageUrl(Constants.ImageSize.Medium)" alt="@Model.MainImage.GetImageAltText()" />
                }
        </div>
        <div class="card__body">
            <div class="card__dates">
                <time datetime="@Model.EventStartDate.ToString("yyyy-MM-dd HH:mm:ss:fff")">@Html.Raw(Model.FormattedEventDate)</time>
            </div>
            <a class="js-card__title" href="@Url.ContentUrl(Model.LinkUrl)">
                <h2 class="card__title">@Model.Name</h2>
            </a>
            <p class="card__excerpt">
                @Model.Text
            </p>
        </div>
        <footer class="card__footer">
            <div class="arrow">
                <svg width="29" class="arrow__svg" height="10" viewBox="0 0 29 10" xmlns="http://www.w3.org/2000/svg">
                    <line y1="5" x2="27" y2="5" stroke-width="2"/>
                    <path d="M28.0416 5L24.0891 9.26447L23.6814 8.82463L26.9046 5.33949L27.2186 5L26.9046 4.66051L23.6814 1.17537L24.0891 0.735534L28.0416 5Z"/>
                </svg>
            </div>
        </footer>
    </article>
</li>