@using EPiServer.Editor;
@using Norgesportalen
@model EventListViewModel
@{
    var allEventsOnPage = Model.EventsOnPage.ToList();
    var activeEventsOnPage = allEventsOnPage.FindAll(o => o.EventList == EventListViewModel.EventListType.Active);
    var archivedEventsOnPage = allEventsOnPage.FindAll(o => o.EventList == EventListViewModel.EventListType.Archived);
}
@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }


<article class="eventlist-page">
    <section>
        <div class="grid-container grid-container--l grid-container--bleed">
            <h1 class="section__heading">@Model.CurrentPage.PageName</h1> 
            @if (PageEditing.PageIsInEditMode) 
            {
                <p class="information-alert-block">Note to editor: List is cached for visitors, content refreshes after 4 min.</p>

                if (!Model.ShowFocusedEvent && Model.CurrentPage.FocusEventContent != null) 
                {
                    <h2 class="information-alert-block">The selected focus event have expired and will not be visible.</h2> 
                } 
            }

            @if (PageEditing.PageIsInEditMode) 
            { 
                @Html.PropertyFor(m => m.CurrentPage.FocusEventContent, new{ Tag = Global.ContentAreaTags.FocusedEvent, hascontainer = false, childrencustomtagname = "article", ChildrenCssClass = "card card--focus" }) 
            } 
            
            @if (Model.ShowFocusedEvent && Model.CurrentPage.FocusEventContent != null && !PageEditing.PageIsInEditMode && Model.SelectedPage == 1) 
            { 
                @Html.DisplayFor(m => m.CurrentPage.FocusEventContent, new{ Tag = Global.ContentAreaTags.FocusedEvent, hascontainer = false, childrencustomtagname = "article", ChildrenCssClass = "card card--focus" }) 
            }

        </div>

        @if (activeEventsOnPage.Any() || archivedEventsOnPage.Any()) {
            <div class="grid-container">
            
                @if (activeEventsOnPage.Any())
                {
                    <div class="grid-row">
                        <ul class="card-list">

                            @foreach (var page in activeEventsOnPage)
                            {
                                @Html.Partial("EventsPartial", page)
                            }

                        </ul>
                    </div>
                }
                @if (archivedEventsOnPage.Any())
                {
                    <div class="grid-row">
                        <ul class="card-list">

                            @foreach (var page in archivedEventsOnPage)
                            {
                                @Html.Partial("EventsPartial", page)
                            }

                        </ul>
                    </div>
                }
            </div>
        }
    </section>

    @*pagination*@
    <section class="pagination padded--xsmall">
        <div class="container-small">
            @if (Model.Paging.PagerLinks != null) 
            {
                <ul>
                    @if (Model.Paging.PreviousPage != null)
                    {
                        //pagination
                        <li class="pagination-arrow pagination-arrow--prev">@Html.ActionLink(Html.Translate("/pagination/previous"), "index", Model.Paging.PreviousPage.Route)</li>
                    }
                    @foreach (var pagerLink in Model.Paging.PagerLinks)
                    {
                        if (pagerLink.IsActivePage)
                        {
                            <li class="current">
                                <a href="#">@pagerLink.LinkText</a>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(pagerLink.LinkText, "index", pagerLink.Route)</li>
                        }
                    }
                    @if (Model.Paging.NextPage != null)
                    {
                        <li class="pagination-arrow pagination-arrow--next">

                            @Html.ActionLink(Html.Translate("/pagination/next"), "index", Model.Paging.NextPage.Route)
                        </li>
                    }
                </ul>
            }
        </div>
    </section>
</article>