﻿

.servicefrontpage {
    header {
        color: $arctic-blue-dark;
    }
    .jumbo {
        text-align: center;
        background-color: #a4cdd3;
        margin: 0;

        img {
            vertical-align: middle;
            width: 100%;
        }
    }
}
