.grid-row {
  @include row-base;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}

.grid-row--colgap {
  margin-right: -$grid-gutter;
  margin-left: -$grid-gutter;
  padding-right: $grid-gutter / 2;
  padding-left: $grid-gutter / 2;

  > [class*='grid-col'] {
    padding-right: $grid-gutter / 2;
    padding-left: $grid-gutter / 2;
  }
}

.grid-row--rowgap {
  > [class*='grid-col'] {
    padding-bottom: $grid-gutter;
  }
}

.grid-row--stretch {
  > [class*='grid-col'] > * {
    height: 100%;
  }
}