﻿@import "hamburger/hamburger";
@import "menu/menu";
@import "language-bar/language-bar";

body > header {
  background-color: $base-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @include smaller-than($mobile) {
    position: relative;
  }

  .header-content {
    height: 140px;
    padding: 10px 20px 0;
    position: relative;
    max-width: 1044px;
    margin: 0 auto;

    @include smaller-than($tablet) {
      height: 90px;
    }

    @include smaller-than($mobile) {
      height: 75px;
    }
  }

  a.brand {
    padding-top: 0.5rem;
    width: calc(100% - 62px); //75%
    float: left;
    text-decoration: none;
    color: $black;

    @include tablet() {
      padding-top: 0.75rem;
    }

    .logo {
      background-image: url("../images/love.svg");
      height: 64px;
      width: 90px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      float: left;
      border-right: 2px solid #333;
      margin-right: 30px;

      @include smaller-than($tablet) {
        height: 48px;
        width: 70px;
      }

      @include smaller-than($mobile) {
        height: 36px;
        width: 40px;
        margin-right: 10px;
        border-right: 1px solid #333;
      }
    }

    .logo-title {
      font-size: 36px;
      font-weight: 300;
      margin: 0;
      display: block;
      padding: 0 0 0.3rem 0;
      letter-spacing: -0.025em;
      line-height: 100%;

      @include smaller-than($tablet) {
        font-size: 28px;
      }

      @include smaller-than($mobile) {
        font-size: 19px;
        margin-left: 50px;
      }

      @media (max-width: 420px) {
        font-size: 17px;
      }

      @media (max-width: 370px) {
        font-size: 14px;
      }
    }

    .logo-subtitle {
      font-size: 18px;
      font-weight: 300;
      margin: 0;
      display: block;
      padding: 0;
      line-height: 100%;
      letter-spacing: -0.025em;

      @include smaller-than($tablet) {
        font-size: 14px;
        margin-left: 50px;
      }

      @include smaller-than($mobile) {
        font-size: 10px;
      }
    }
  }
}
