﻿

.information-block {
    background-color: $arctic-blue;
    color: $base-color;

    h2 {
        margin-top: 0;
        text-align: center;
    }

    a, a:visited {
        color: $base-color;
        border-bottom: 1px solid $base-color;
    }

    a:hover {
        color: $base-color;
        border-bottom: none;
    }
}