// ==========================================================================
// Susy 3 Grid settings
// ==========================================================================

// 12 symmetrical, fluid columns…
// gutters are static, triggering calc()…
// elements span equal columns & gutters…
// containers span equal columns & gutters…

$grid-columns: 12;
$grid-gutter: 20px;
$grid-spread: 'narrow';
$grid-container-spread: 'narrow';

$susy: (
    'columns': susy-repeat($grid-columns),
    'gutters': $grid-gutter,
    'container-spread': $grid-container-spread,
    'spread': $grid-spread,
    'svg-grid-colors': rgba(255, 0, 0, 0.20)
);