﻿

.subscription-block {
    .input-group {
        display: table;
        margin: .5rem 0;

        input {
            border: 0;
            border-radius: 0;
            padding: .5rem;
            font-size: 1rem;
        }

        input[type="email"] {
            background-color: $base-color;
            width: 100%;
        }

        input[type="submit"] {
            background-color: $passion-red;
            color: $base-color;
            margin-left: .5rem;

            &:focus {
                background-color: $passion-red-dark;
            }

            &:disabled {
                background-color: $seperator-color;
            }
        }

        .input-group-btn {
            display: table-cell;
            width: 1%;
        }
    }

    .response {
    }
}

main {
    .subscription-block {
        .input-group {
            input[type="email"] {
                background-color: $alternate-background;
                border: 1px solid $seperator-color-light;
                width: 100%;
            }
        }

        .response {

        }
    }
}
