﻿@using EPiServer.Editor
@using Norgesportalen.Business.Publishing

@model PageViewModel<ProcessStepPage>
<!DOCTYPE html>
<html lang="@Model.CurrentPage.LanguageBranch">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.CurrentPage.MetaTitle</title>
    <link rel="stylesheet" href="/Frontend/dist-web/Static/css/main.css">
</head>

<body class="@Model.CurrentPage.PageTypeName.ToLower()">
    @if (PageEditing.PageIsInEditMode && Model.CurrentPage is IAbleToFetchFromCentral)
    {
        Html.RenderPartial("_FetchDataFromCentralEditorHelper", Model);
    }
    <main>
        <div class="container">
            <h2>@Html.PropertyFor(m => m.CurrentPage.Heading)</h2>

            @Html.PropertyFor(m => m.CurrentPage.MainBody)
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                if ((Model.CurrentPage.LocalMainBody != null && !Model.CurrentPage.LocalMainBody.IsEmpty) || PageEditing.PageIsInEditMode)
                {
                    @Html.PropertyFor(m => m.CurrentPage.LocalMainBody)                            
                }
            }                 
            @Html.PropertyFor(m => m.CurrentPage.Links)

            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                @Html.PropertyFor(m => m.CurrentPage.LocalLinks)
            }
        </div>
    </main>
</body>
