﻿.news-list {
  .panels {
    margin: 1rem 0;
  }

  .panel {
    border-bottom: 1px solid $seperator-color-light;
    border-right: 1px solid $seperator-color-light;
    color: $black;
    flex-basis: calc(33.33% - 1px);
  }

  .inner {
    display: block;
    height: 100%;
    padding: 0.9375rem;
    color: inherit;
  }

  .panel:nth-child(3n) {
    border-right: 0;
    padding-right: 0;
  }

  h2 {
    margin-top: 0.5rem;
  }

  &-image-wrapper {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .img {
    @include aspect-ratio(16, 9);
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
  }

  @include smaller-than($mobile) {
    .panel:first-child {
      border-top: 1px solid $seperator-color-light;
    }

    .panel {
      border-right: 0;
      flex: 1 0 100%;

      .inner {
        display: block;
        height: 100%;
        padding: 0.5rem 0;
      }
    }
  }

  @include larger-than($mobile) {
    .panel:nth-child(-n + 3) {
      border-top: 1px solid $seperator-color-light;
    }

    .panel:hover {
      background-color: $base-color;

      h2 {
        color: $passion-red;
      }
    }
  }
}
