﻿

.focus-block {
    background-color: $arctic-blue-dark;
    padding: .9375rem 2rem;
    color: $base-color;
    border-radius: 12px;
    margin-bottom: 1rem;

    p {
        margin: .5rem 0;
    }

    a, a:visited {
        border-bottom: 1px solid $base-color;
        color: $base-color;
    }

     a:hover {
         border-bottom: $arctic-blue-dark;
         color: $base-color;
     }

    @include smaller-than($mobile) {
        border-radius: 12px;
        padding: 4px 1rem;
    }
}
