﻿.news-panel {
    padding: 3rem 0;

    //if page includes a .social-panel, this class is injected by BE
    
    &.has-SoMe-content-area {
        .panels-manual:last-of-type:after {
            content: none;
        }
    }

    .panel {
        margin: 0.9375rem 0;

        > a {
            color: inherit;
        }
    }

    .date {
        margin-top: 20px;
        font-size: 0.75rem;
    }

    .headline {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.25rem;
    }

    @include smaller-than($mobile) {
        .panel {
            flex: 1 0 100%;
        }
    }

    .panels-manual {
        position: relative;

        + .panels-manual {
            margin-top: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            border-bottom: 1px solid $seperator-color-light;

            @include larger-than($mobile) {
                right: 10px;
                left: 10px;
            }
        }

        .panel {
            padding-bottom: 20px;

            @include larger-than($mobile) {
                margin-right: 10px;
                margin-left: 10px;
                padding-bottom: 40px;

                // one item
                
                &:first-child:nth-last-child(1) {
                    flex: 1 0 96%;

                    > a {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: -10px;
                        margin-left: -10px;

                        > * {
                            flex: 1 0 46%;
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                    }

                    .date {
                        margin-top: 0;
                    }
                }

                // two items
                
                &:first-child:nth-last-child(2),
                &:first-child:nth-last-child(2) ~ .panel {
                    flex: 1 0 46%;
                }

                // three items
                &:first-child:nth-last-child(3),
                &:first-child:nth-last-child(3) ~ .panel {
                    flex: 1 0 30%;
                }
            }

            > a {
                .headline::after {
                    transition: all 0.2s ease-in-out;
                    background-color: $passion-red;
                    content: "";
                    display: block;
                    height: 2px;
                    margin: 10px 0;
                    width: 40px;
                }

                &:hover,
                &:focus {
                    .headline::after {
                        width: 70px;
                    }
                }
            }

            .img {
                @include aspect-ratio(1044, 400);
                
                background-position: center;
                background-size: cover;
            }
        }
    }

    .panels-auto {
        .panel {
            @include smaller-than($mobile) {
                margin-top: 0;
                margin-bottom: 0;
            }

            @include larger-than($mobile) {
                flex: 0 0 33.33333%;
                padding-right: 10px;
                padding-left: 10px;
            }
        }

        .headline {
            padding-left: 16px;
            font-size: 1.125rem;
            margin-bottom: 5px;

            &::before {
                background-image: url("../images/lenkepil-rod-2019.svg");
                background-repeat: no-repeat;
                background-size: contain;
                content: "";
                display: inline-block;
                margin: 5px 0;
                padding: 0;
                height: 12px;
                width: 12px;
                position: absolute;
                transform: translate(-14px, 5px);
                transition: transform 0.2s ease-in-out;
            }
        }

        .intro {
            margin-left: 1.2rem;
            font-size: 0.9rem;
        }

        a {
            &:hover,
            &:focus {
                .headline {
                    text-decoration: underline;
                }
            }
        }
    }
}
