

.link-list {
  .panels {
    padding: .5rem 0;
  }

  h2 {
    border-bottom: 1px solid $seperator-color-light;
    margin: 0;
    padding: 1rem 0 .5rem;
  }

  .panel {
    flex: 0 0 50%;
  }

  .inner {
    padding: .5rem 1rem .5rem 0;
  }

  @include smaller-than($mobile) {
    .panel {
      flex: 1 0 100%;
    }
  }
}
