﻿body > footer {
  background-color: $secondary-color;
  background-image: url("../images/footer-bg.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  color: $base-color;
  padding: 4rem 0 5rem 0;
  width: 100%;
  clear: both;

  @include smaller-than($mobile) {
    padding: 1rem 0 10rem 0;
    background-size: auto 10rem;
  }

  a,
  a:visited {
    color: $base-color;
  }

  a:hover {
    text-decoration: none;
  }

  h1 {
    border-bottom: 1px solid $seperator-color;
    color: $base-color;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0 0 1rem;
    text-align: left;
    text-transform: none;
    margin: 1rem 0;
    width: 100%;
    clear: both;
    display: block;

    @include smaller-than($mobile) {
      font-size: 1.25rem;
      margin: 0 0;
    }
  }

  .btn {
    max-width: 100%;
  }

  .footer-section {
    padding: 1.125rem 0.9375rem 1rem 0;
    display: block;
    word-wrap: break-word;
    width: 100%;

    > *:first-child,
    > *:first-child > *:first-child,
    > *:first-child > *:first-child > *:first-child,
    > *:first-child > *:first-child > *:first-child > *:first-child,
    > *:first-child
      > *:first-child
      > *:first-child
      > *:first-child
      > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .panel {
    max-width: 33.33%;
  }

  .icon {
    visibility: hidden;
  }

  .socialmedia-icons {
    a {
      position: relative;
      display: block;
      margin: 0 1rem 0.5rem 0;
      padding-left: 28px;

      .socialmedia-icon {
        position: absolute;
        top: 0;
        left: 0;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    a,
    a:visited {
      text-decoration: none;
    }
  }

  .socialmedia-icon {
    &.facebook {
      background-image: url("../images/facebook-logo-white.svg");
    }

    &.twitter {
      background-image: url("../images/twitter-logo-white.svg");
    }

    &.vimeo {
      background-image: url("../images/vimeo-logo-white.svg");
    }

    &.youtube {
      background-image: url("../images/youtube-play-button-white.svg");
    }

    &.instagram {
      background-image: url("../images/instagram-logo-white.svg");
    }

    &.linkedin {
      background-image: url("../images/linkedin-logo-white.svg");
    }

    &.vkontakte {
      background-image: url("../images/vkontakte-logo-white.svg");
    }

    &.weibo {
      background-image: url("../images/weibo-logo-white.svg");
    }
    &.snapchat {
      background: url("../images/snapchat-logo-white.png");
      background-image: url("../images/snapchat-logo-white.svg");
    }
    &.flickr {
      background: url("../images/flickr-logo-white.png");
      background-image: url("../images/flickr-logo-white.svg");
    }
  }

  @include smaller-than($mobile) {
    .panels .panel {
      flex: 1 0 100%;
      max-width: 100%;
    }

    h2:first-child,
    h3:first-child {
      margin-top: 0.5rem;
    }

    .footer-section,
    .subscription-block,
    .socialmedia-block {
      padding: 1rem 0;
      border-bottom: 1px solid $seperator-color;
    }
  }
}
