

.service-panel {
    padding: 2rem 0;

    .panel {
        background-color: $base-color;
        border-bottom: 1px solid $seperator-color-light;
        border-right: 1px solid $seperator-color-light;
        color: $black;
        flex-basis: calc(33.33% - 1px);
        text-decoration: none;

        a {
            display: block;
            height: 100%;
            padding: .5rem .9375rem;
            color: inherit;
        }

        img {
            max-width: 100%;
        }

        .image-wrapper {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    h2,
    h3 {
        font-size: 1.125rem;
    }

    h2,
    h3 {
        &::after {
            background-color: $passion-red;
            content: '';
            display: block;
            height: 2px;
            transition: all .2s ease-in-out;
            width: 2rem;
        }
    }

    @include larger-than($mobile) {
        .panel:hover {
            background-color: #f6f2f1;

            h2,
            h3 {
                &::after {
                    width: 4rem;
                }
            }
        }

        .panel:nth-child(3n) {
            border-right: 0;
        }

        &:nth-child(-n+3) {
            border-top: 1px solid $seperator-color-light;
        }
    }

    @include smaller-than($mobile) {
        .panel:nth-child(2n) {
            border-right: 0;
        }

        .panel {
            flex-basis: calc(50% - 1px);
        }
    }

    @include smaller-than($mini) {
        .panel {
            border: 0;
            border-top: 1px solid $seperator-color-light;
            flex-basis: 100%;

            &:last-child {
                border-bottom: 1px solid $seperator-color-light;
            }
        }
    }
}
