﻿

.link-panel {
  .panel {
    border-bottom: 1px solid $seperator-color-light;
    border-right: 1px solid $seperator-color-light;
    flex: 0 0 50%;
    flex-basis: calc(50% - 1px);
  }

  .inner {
    padding: .5rem .9375rem .5rem 0;
  }

  .white-panel {
    background-color: $base-color;
  }

  @include larger-than($mobile) {
    .panel:nth-child(-n+2) {
      border-top: 1px solid $seperator-color-light;
    }

    .panel:nth-child(2n) {
      border-right: 0;
      padding-right: 0;

      .inner {
        padding: .5rem .9375rem;
      }
    }
  }

  @include smaller-than($mobile) {
    .panel:first-child {
      border-top: 1px solid $seperator-color-light;
    }

    .inner {
      padding: .5rem 0;
    }

    .panel {
      border: 0;
      border-bottom: 1px solid $seperator-color-light;
      flex: 1 0 100%;

      .inner {
        border: 0;
        padding: .5rem 0;
      }
    }
  }
}
