﻿@using Norgesportalen.Business.EditorDescriptors
@model Norgesportalen.Models.Blocks.SocialMediaBlock

<a href="@Url.ContentUrl(Model.LinkUrl)" class="socialmedia-link" target="_blank" rel="noreferrer">
    <span class="socialmedia-icon @SocialmediaIconHelper.GetSocialMediaIconCssClass((int)Model.Icons)"></span>
    <p>@Html.PropertyFor(m => m.Heading)</p>
</a>