﻿@using Norgesportalen.Business.EditorDescriptors
@model Norgesportalen.Models.Blocks.SocialMediaBlock

<a href="@Url.ContentUrl(Model.LinkUrl)" class="socialmedia-link" target="_blank" rel="noreferrer"  style="border:0">
    <img src="/Frontend/dist-web/Static/images/@SocialmediaIconHelper.GetSocialMediaIconCssClass((int)Model.Icons)-logo.png"  height="22" width="22" border="0"/>
</a>