﻿@using Norgesportalen.Business.EditorDescriptors
@model Norgesportalen.Models.Blocks.SocialMediaBlock

<a href="@Url.ContentUrl(Model.LinkUrl)" class="service-list-item">
    <span class="socialmedia-icon @SocialmediaIconHelper.GetSocialMediaIconCssClass((int)Model.Icons)"></span>
    <h2>@Html.PropertyFor(m => m.Heading)</h2>
    <p>@Html.PropertyFor(m => m.Text)</p>
</a>