﻿@using Norgesportalen.Business.EditorDescriptors
@using Norgesportalen.Business.Extensions
@model Norgesportalen.Models.Blocks.SocialMediaBlock
@{
    var socialMediaClass = SocialmediaIconHelper.GetSocialMediaIconCssClass((int)Model.Icons);
    var socialLabel = Model.Heading;
    if (string.IsNullOrWhiteSpace(socialLabel))
    {
        socialLabel = socialMediaClass.FirstCharToUpper();
    }
}
<a href="@Url.ContentUrl(Model.LinkUrl)" target="_blank" rel="noreferrer">
    <span class="socialmedia-icon @socialMediaClass"></span>
    @socialLabel
</a>
