﻿@using Norgesportalen.Business.EditorDescriptors
@model Norgesportalen.Models.Blocks.SocialMediaBlock

<a href="@Url.ContentUrl(Model.LinkUrl)" class="inner">
    <span class="socialmedia-icon @SocialmediaIconHelper.GetSocialMediaIconCssClass((int)Model.Icons)"></span>
    @Html.PropertyFor(m => m.Heading)
</a>
