﻿@using EPiServer.Editor
@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions

@model PageViewModel<ProfilingPage>

@{ 
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
    var Pages = Model.CurrentPage.Pages; 
}
<article class="section-page">
    <header>
        <div class="container">
            <h1>@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>
        </div>
    </header>
    <section>
        <div class="container">
            <p class="ingress" @Html.EditAttributes(m => m.CurrentPage.MainIntro)>
                @Html.DisplayFor(m => m.CurrentPage.MainIntro, new {CssClass = "ingress"})
            </p>           
            @if (Model.CurrentPage.FetchDataFromHelper != null && (!string.IsNullOrEmpty(Model.CurrentPage.LocalMainIntro) || PageEditing.PageIsInEditMode))
            {
                <p class="ingress" @Html.EditAttributes(m => m.CurrentPage.LocalMainIntro)>
                    @Html.DisplayFor(m => m.CurrentPage.LocalMainIntro, new { CssClass = "ingress" })
                </p>
            }
            
            @Html.PropertyFor(m => m.CurrentPage.MainBody)
            @if (Model.CurrentPage.FetchDataFromHelper != null && ((Model.CurrentPage.LocalXHtml != null && !Model.CurrentPage.LocalXHtml.IsEmpty) || PageEditing.PageIsInEditMode))
            {
                @Html.PropertyFor(m => m.CurrentPage.LocalXHtml)
            }
        </div>
    </section>
    <section class="service-list">
        <div class="container">
            @foreach (var page in Pages)
            {
                <a href="@Url.ContentUrl(page.LinkURL)" class="service-list-item"> 
                    
                    @if (page is SectionsPage && !string.IsNullOrEmpty(((SectionsPage)page).IconImage))
                    {
                        <img src="@(((SectionsPage)page).IconImage.GetImageUrl(Constants.ImageSize.Icon))" alt="Service icon" />
                    }
                    else if (!string.IsNullOrEmpty(page.IconImage))
                    {
                        <img src="@page.IconImage.GetImageUrl(Constants.ImageSize.Icon)" alt="Service icon"/>
                    }                                        
                    <h2>@page.HeadingOrPageName</h2>
                    <p>@page.MainIntro</p>
                </a>
            }
        </div>
    </section>
</article>