﻿@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html
@using Norgesportalen.Business
@using Norgesportalen.Business.Helpers
@using Norgesportalen.Models.Pages.BaseClasses
@using Norgesportalen.Business.Extensions
@model BaseFormsViewModel

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
    var sectionCssClass = Model.UseListViewForChildren ? "service-list" : "";
    var useH2InRelatedContent = string.IsNullOrEmpty(Model.CurrentPage.RelatedContentHeader);
}


<article class="article corearticle-page">
    <header class="article__header">
        <div class="grid-container grid-container--bleed">
            @if (Model.CurrentPage.MainImage != null || PageEditing.PageIsInEditMode)
            {
                if (PageEditing.PageIsInEditMode)
                {
                    <div class="np-margin-bottom--m">
                        <span style="color: red">@Html.DescriptionFor(m => m.CurrentPage.MainImage)</span>
                        @Html.PropertyFor(m => m.CurrentPage.MainImage, new { Size = Constants.ImageSize.MainImageTop })
                    </div>
                }
                else
                {
                    <div class="article__hero hero">
                        <div class="hero__poster">
                            @Html.PropertyFor(m => m.CurrentPage.MainImage, new { Size = Constants.ImageSize.MainImageTop })
                        </div>
                        <figcaption class="hero__caption">
                            @Model.CurrentPage.MainImage.GetImageText()
                            @Model.CurrentPage.MainImage.GetImageCredit()
                        </figcaption>
                    </div>
                }
            }
        </div>
        <div class="grid-container">
            <!-- Title -->
            <h1 class="article__title">@Html.PropertyFor(m => m.CurrentPage.Name)</h1>

            <!-- Ingress  -->
            @if (PageEditing.PageIsInEditMode || !string.IsNullOrEmpty(Model.CurrentPage.MainIntro))
            {
                <div class="article__ingress ingress" @Html.EditAttributes(m => m.CurrentPage.MainIntro)>
                    <p>@Html.DisplayFor(m => m.CurrentPage.MainIntro)</p>
                </div>

                if (Model.CurrentPage.FetchDataFromHelper != null)
                {
                    if (!string.IsNullOrEmpty(Model.CurrentPage.LocalMainIntro) || PageEditing.PageIsInEditMode)
                    {
                        <div class="article__ingress ingress" @Html.EditAttributes(m => m.CurrentPage.LocalMainIntro)>
                            <p>@Html.DisplayFor(m => m.CurrentPage.LocalMainIntro)</p>
                        </div>
                    }
                }
            }

            <!-- Publine (pubdate and location)  -->
            <div class="article__publine publine">
                @if (!Model.CurrentPage.HideDate && Model.CurrentPage.StartPublish.HasValue)
                {
                    <time datetime="@(Model.CurrentPage.StartPublish.Value.ToString("yyyy-MM-dd"))">@(Model.CurrentPage.StartPublish.Value.ToString(BasicPageBase.GetDateFormatString()))</time>
                }
                @if (!string.IsNullOrEmpty(Model.CurrentPage.Location) || PageEditing.PageIsInEditMode)
                {
                    if (Model.CurrentPage.HideDate)
                    {
                        @Html.PropertyFor(m => m.CurrentPage.Location)
                    }
                    else
                    {
                        <span @Html.EditAttributes(m => m.CurrentPage.Location)>@Html.Raw("| " + Model.CurrentPage.Location)</span>
                    }
                }
            </div>
        </div>
    </header>


    <section>
        <div class="grid-container">
            <div class="article__body">
                <!-- Article Main Content -->
                <div class="article__main">
                    @if (PageEditing.PageIsInEditMode || (Model.CurrentPage.MainBody != null && !Model.CurrentPage.MainBody.IsEmpty))
                    {
                        <div class="article__richtext clearfix np-margin-bottom--m np-main-body">
                            @Html.PropertyFor(m => m.CurrentPage.MainBody)
                        </div>
                    }


                    @if (Model.CurrentPage.FetchDataFromHelper != null)
                    {
                        if (Model.CurrentPage.LocalMainBody != null && !Model.CurrentPage.LocalMainBody.IsEmpty || PageEditing.PageIsInEditMode)
                        {
                            <div class="article__richtext clearfix np-margin-bottom--m np-main-body" @Html.EditAttributes(m => m.CurrentPage.LocalMainBody)>
                                <p>@Html.DisplayFor(m => m.CurrentPage.LocalMainBody)</p>
                            </div>
                        }
                    }

                    @if (PageEditing.PageIsInEditMode)
                    {
                        <div class="article__richtext clearfix np-margin-bottom--m np-main-body">
                            @Html.PropertyFor(m => m.CurrentPage.FormSelection)
                        </div>
                    }
                    
                    @if (Model.FormsArea != null)
                    {
                        <div class="article__richtext clearfix np-margin-bottom--m np-main-body">
                            @Html.PropertyFor(m => m.FormsArea)
                        </div>
                    }

                    @if (PageEditing.PageIsInEditMode ||
                            (Model.CurrentPage.MainContentArea?.FilteredItems?.Any() == true) ||
                            (Model.CurrentPage.FetchDataFromHelper != null && Model.CurrentPage.LocalMainContentArea?.FilteredItems?.Any() == true))
                    {
                        <section class="@(PageEditing.PageIsInEditMode ? "np-margin-top--m" : "")">
                            @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { ChildrenCssClass = "padded--small" })

                            @if (Model.CurrentPage.FetchDataFromHelper != null)
                            {
                                @Html.PropertyFor(m => m.CurrentPage.LocalMainContentArea, new { ChildrenCssClass = "padded--small" })
                            }
                        </section>
                    }

                </div>

                <!-- Article Sidebar -->
                <aside class="article__sidebar">

                    @if (PageEditing.PageIsInEditMode || Model?.CurrentPage?.RelatedLinks != null)
                    {
                        <div class="article-related">
                            <h3 class="article__sidebar__title">@Html.Translate("/shared/related")</h3>
                            <ul class="related-links__list">
                                @Html.PropertyFor(m => m.CurrentPage.RelatedLinks)
                            </ul>
                        </div>
                    }

                </aside>
            </div>
        </div>
    </section>


    @if (Model.ShowChildrenList)
    {
        <section>
            <div class="grid-container">

                @if (!useH2InRelatedContent || PageEditing.PageIsInEditMode)
                {
                    <h2>@Html.PropertyFor(x => x.CurrentPage.RelatedContentHeader)</h2>
                }

                @if (Model.UseListViewForChildren)
                {
                    @Html.Partial("PagePartials/ServiceList", Model.Children, new { UseH2 = useH2InRelatedContent })
                }
                else
                {
                    @Html.Partial("PagePartials/ServicePanel", Model.Children, new { UseH2 = useH2InRelatedContent })
                }

            </div>
        </section>
    }
</article>
