﻿input, .btn {
    -webkit-appearance: none;
}

.btn {
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 600;
    line-height: rem-calc(24px);
    padding: rem-calc(13px 45px);
    display: inline-block;
    background-color: $arctic-blue;
    color: $base-color !important;
    border: none !important;
    cursor: pointer;
    position: relative;
    margin: .5rem 0;
    transition: background-color 0.2s ease-in-out;
    text-align: center;

    @include larger-than($mobile) {
        &:hover {
            &.anchor::after{
                border-top: 7px solid $passion-red;    
            }
            background-color: $passion-red;
        }
    }

    &.anchor::after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -7px;
        bottom: -7px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $arctic-blue;
        transition: border-top 0.2s ease-in-out;
    }
}

.btn-link {
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    text-decoration: underline;
    background-color: transparent;
    border: none;

    &:hover {
        text-decoration: none;
    }
}