.contactpage {
    position: relative;

    article header.container {
        padding-top: 2rem;
    }

    .header-image {
        display: none;

        @include larger-than($mobile) {
            display: block;

            & ~ article header.container {
                padding-top: 0.7rem;
            }
        }

        &-inner {
            max-width: 980px;
            margin: 0 auto;
        }

        figure {
            height: 0;
            overflow: hidden;
            padding-bottom: 400 / 980 * 100%;
            position: relative;
            margin: 0;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                max-height: none;
            }
        }

        .figcaption {
            @include figcaption;
            text-align: right;
            z-index: 1;
            background: white;
            bottom: 0;
        }
    }
}
