﻿.visually-hidden,
.visuallyhidden {
    @include visually-hidden;
}

.overflow-hidden {
    @include overflow-hidden(!important); 
}

.hidden {
    @include hidden;
}

.hidden-mobile {
    @include smaller-than($mobile) {
        @include hidden;
    }
}
