﻿

.process {
    margin: 1rem auto;

    @include smaller-than($tablet) {
        margin-left: 70px;
    }

    @include larger-than($mobile) {
        border-left: 1px solid $arctic-blue-light;
        padding-left: 30px;
    }

    @include smaller-than($mobile) {
        margin-left: 0px;
    }

    @include smaller-than($mobile) {
        .process-steps {
            margin-left: .5rem;
            border-left: 1px solid $arctic-blue-light;
            min-height: 100px;
        }
    }

    .process-step {
        position: relative;
        margin: 4rem 0 0;
        padding: 0 0 0 1rem;

        @include smaller-than($mobile) {
            padding: 0 0 0 2rem;
            margin: 2rem 0 0;
        }

        .process-step-header {
            cursor: pointer;
            outline: 0;
            color: inherit;

            h2 {
                border-bottom: 2px solid $passion-red;
                margin: .25rem 0 .5rem;
                display: inline-block;

                @include smaller-than($mobile) {
                    border-bottom: 2px solid transparent;
                    text-decoration: underline;
                }
            }
        }

        &.open {
            .process-step-content {
                display: block;
            }
        }
    }

    .process-step-header:focus {
        h2 {
            border-bottom: 2px solid transparent;
            color: $passion-red;

            @include smaller-than($mobile) {
                text-decoration: none;
            }
        }

        .step-number {
            background-color: $passion-red;
            border: 1px solid $passion-red;
            color: #fff;
        }
    }



    .step-number {
        border: 1px solid $arctic-blue-light;
        width: 3rem;
        height: 3rem;
        top: -.5rem;
        line-height: 3rem;
        border-radius: 50%;
        font-size: 1.25rem;
        font-weight: 600;
        color: $passion-red;
        background-color: $base-color;
        text-align: center;
        display: block;
        position: absolute;
        left: -55px;

        @include smaller-than($mobile) {
            left: -1rem;
            width: 2rem;
            line-height: 2rem;
            height: 2rem;
            top: -.25rem;
        }
    }

    .process-step-content {
        display: none;
    }

    .container {
        position: relative;
    }
}

.no-js .process .process-step-content {
    display: block;
}
