﻿.menu {
    background-color: $base-color;
    border: 1px solid $arctic-blue-dark;
    color: $arctic-blue-dark;
    cursor: pointer;
    float: right;
    font-size: .75rem;
    height: 60px;
    padding: 0;
    margin: .5rem 0 0;
    position: relative;
    text-align: center;
    width: 60px;
    z-index: 100;

    @include smaller-than($mobile) {
        margin: .4rem 0 0;
        font-size: 11px;
        height: 45px;
        width: 45px;
    }

    &.open {
            .hamburger {
            span:nth-child(1) {
                margin-left: 0;
                top: 7px;
                width: 0;
            }
        
            span:nth-child(2) {
                transform: rotate(45deg);
            }
        
            span:nth-child(3) {
                transform: rotate(-45deg);
            }
        
            span:nth-child(4) {
                margin-left: 0;
                top: 7px;
                width: 0;
            }
        }    
    }
}

.no-js header {
    .header-content .menu:hover ~ .dropdown-menu,
    .header-content .menu:focus ~ .dropdown-menu,
    .dropdown-menu:hover,
    .dropdown-menu:focus {
        display: block;
    }
}


.hamburger {
    height: 20px;
    margin: 10px 0 0;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    display: block;

    @include smaller-than($mobile) {
        height: 17px;
        margin: 5px 0 0;
    }

    span {
        background: $arctic-blue-dark;
        border-radius: 2px;
        display: block;
        height: 2px;
        left: 50%;
        margin-left: -11px;
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        width: 22px;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 7px;

            @include smaller-than($mobile) {
                top: 5px;
            }
        }

        &:nth-child(4) {
            top: 14px;

            @include smaller-than($mobile) {
                top: 10px;
            }
        }
    }
}

