﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ClaimsBasedLogin.aspx.cs" Inherits="Norgesportalen.Custom.Authentication.ClaimsBasedLogin" %>

<%@ Register TagPrefix="wif" Namespace="System.IdentityModel.Services" Assembly="System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" %>
<%@ Import Namespace="SSO.Security" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
