﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ClaimsBasedLogin.aspx.cs" Inherits="Mfa.Norgesportalen.Site.Custom.Templates.Authentication.Logout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title></title>
    </head>
    <body>
    </body>
</html>