﻿$header-min-height: 500px;

.themepage {
  article header {
    background-color: $arctic-blue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: $header-min-height;
    margin: 1px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    h1 {
      color: $base-color;
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 100;
      text-transform: none;
      margin: 2rem 0;

      &::after {
        background-color: $base-color;
        content: "";
        display: block;
        height: 2px;
        margin: 0 auto;
        width: 4rem;
      }
    }

    .article-top {
      max-width: 500px;
      margin: 0 auto;
      padding: 0 20px;
      position: absolute; 
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      display: table; //ensures desired rezising of element

      @include larger-than($tablet) {
        padding: 0 0.5rem;
      }

      @include larger-than($mobile) {
        max-width: none;
      }
    }

    .article-title {
      text-align: center;
    }

    .article-intro {
      font-size: 1.125rem;
      background: white;
      padding: 1.5rem;
      border-radius: 0;
      margin-bottom: 2rem;
      max-width: 940px;

      @include larger-than($mobile) {
        font-size: 1.25rem;
        padding: 2rem 7rem;
        border-radius: 40px 40px 0 0;
        margin: 0;
      }
    }

    .image-caption {
      display: none;

      @include larger-than($tablet) {
        display: inline-block;
        float: none;
        position: absolute;
        right: 0;
        margin: 0;
        color: $base-color;
        transform: rotate(-90deg) translate(100%, -100%);
        transform-origin: top right;
        max-width: $header-min-height;
        padding: 10px;
        bottom: 0px;
      }
    }
  }

  .main-body {
    @include larger-than($mobile) {
      .text-columns {
        column-count: 2;
        column-gap: 2rem;
        column-rule: 1px solid #c6c6c6;
      }
    }

    p {
      margin: 0 0 1rem;
    }

    p:first-child::first-letter {
      font-size: 3.5rem;
      line-height: 3.5rem;
      float: left;
      font-weight: 400;
      padding: 0 5px 0 0;
    }
  }

  .infographic-area {
    ul {
      list-style-type: square;
    }

    ul li {
      line-height: 1.5rem;
      font-weight: 400;
      padding-bottom: 0.5rem;
    }

    .panels {
      margin-top: 2rem;
      padding-top: 2rem;
      justify-content: center;
    }
  }

  @include larger-than($mobile) {
    .local-content {
      ul {
        list-style-type: square;
        column-count: 2;
        column-gap: 3rem;
        column-rule: 1px solid #c6c6c6;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0;

        li {
          margin-left: 1rem;
          line-height: 1.5rem;
          font-weight: 400;
          padding-bottom: 0.5rem;
        }
      }
    }
  }

  .arctic-light {
    background-color: $arctic-blue-lighter;

    .panels {
      border-top: 1px solid $arctic-blue-light;
    }
  }

  .arctic-blue {
    background-color: $arctic-blue;
    color: #fff;

    a,
    a:visited,
    a:hover {
      color: #fff;
    }

    .panels {
      border-top: 1px solid $arctic-blue-lighter;
    }
  }
}
