﻿@using EPiServer.Editor
@model PageViewModel<SocialMediaListpage>

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
  
}
<article class="section-page">
    <header>
        <div class="container">
            <h1>@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>

        </div>
    </header>
    <section>
        <div class="container">
            <p class="ingress" @Html.EditAttributes(m => m.CurrentPage.MainIntro)>
                @Html.DisplayFor(m => m.CurrentPage.MainIntro)
            </p>
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                if (!string.IsNullOrEmpty(Model.CurrentPage.LocalMainIntro) || PageEditing.PageIsInEditMode)
                {
                    <p class="ingress" @Html.EditAttributes(m => m.CurrentPage.LocalMainIntro)>
                        @Html.DisplayFor(m => m.CurrentPage.LocalMainIntro)
                    </p>
                }
            }
            @Html.PropertyFor(m => m.CurrentPage.MainBody)
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                if ((Model.CurrentPage.LocalMainBody != null && !Model.CurrentPage.LocalMainBody.IsEmpty) || PageEditing.PageIsInEditMode)
                {
                    @Html.PropertyFor(m => m.CurrentPage.LocalMainBody)
                }
            }

        </div>
    </section>
    <section class="service-list">
        <div class="container">
            @Html.PropertyFor(m => m.CurrentPage.BlocksContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.SocialMedia.List, HasContainer = false })
            @if (Model.CurrentPage.FetchDataFromHelper != null)
            {
                @Html.PropertyFor(m => m.CurrentPage.LocalSocialMediaContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.SocialMedia.List, HasContainer = false })
            }
        </div>
    </section>
</article>