pre {
    border: 1px solid #c0c0c0;
    margin: 0.5rem 0;
    padding: 1rem;
    overflow: auto;
    max-height: 450px;
}

code {
    border: 1px solid #c0c0c0;
    margin: 0 .25rem 0 0;
    padding: 2px .25rem;
    font-family: Consolas, Monaco, monospace !important;
    font-size: .825rem;
    line-height: 1.2rem;
}

pre code {
  border: 0;
  margin: 0;
  padding: 0rem;
}

.hljs {
  display: block;
  overflow-x: auto;
  color: #383a42;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
