@import "../styles/styles.scss";
@import "../Static/fonts/fonts";
@import "../components/helpers/helpers";
@import "../components/global/global";
@import "../components/areas/areas";
@import "../components/components/components";
@import "../components/pages/pages";

html {
  // box-sizing: border-box;
  // font-family: "Source Sans Pro", sans-serif;
  // font-size: 16px;
  overflow-y: scroll;
}

body {
  // background: #fff;
  // color: #222;
  cursor: auto;
  // font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  // font-style: normal;
  // font-weight: normal;
  // line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

#navigation {
  position: fixed;
  width: 240px;
  display: block;
  border-right: 1px solid #e0e6ed;
  overflow-y: auto;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;

  .logo {
    background-image: url("../../Static/images/love.svg");
    background-size: 60px auto;
    background-position: center 20px;
    background-repeat: no-repeat;
    height: 40px;
    display: block;
    margin: 0 auto;
    padding: 110px 0 0;
    text-align: center;
    border-bottom: 1px solid #e0e6ed;
  }

  .brand {
    text-align: center;
    padding: 1rem;
  }

  li,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & > ul > li {
    border-bottom: 1px solid #e0e6ed;
    display: block;

    &:hover {
      cursor: pointer;
      background-color: #f2f2f2;
    }

    &.open {
      background-color: #f0f0f0;
    }

    &.dropdown .dropdown-item::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 12px;
      border-top: 5px solid #999;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 0;
    }

    &.dropdown.open .dropdown-item::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 12px;
      border-top: 0;
      border-bottom: 5px solid #999;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }

  .dropdown-item,
  a,
  a:visited {
    padding: 1rem;
    display: block;
    line-height: 2rem;
    font-size: 1.125rem;
    text-transform: capitalize;
    position: relative;
  }

  .dropdown ul {
    background-color: #f9fafc;
    border-top: 1px solid #e0e6ed;
    padding: 0;
    margin: 0;
    display: none;
  }

  .dropdown.open ul {
    display: block;
  }

  .dropdown li {
    font-weight: normal;
    padding: 0;

    a {
      padding: 0.5rem 2rem;
      font-size: 1rem;
    }
  }

  a,
  a:visited {
    color: #3c4858;
  }

  .active {
    font-weight: 600;
  }
}

.dm-header {
  background-color: #f9fafc;
  display: block;
  height: 151px;
  position: relative;

  small {
    display: block;
    text-transform: uppercase;
  }

  h1 {
    font-size: 50px;
    padding: 0;
    margin: 0;
    font-weight: 200;
    position: absolute;
    bottom: 10px;
    text-transform: capitalize;
  }
}

#main-content {
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 0 0 150px 241px;
}

.styleguide-container {
  border: 1px solid #e0e6ed;
  margin: 0.5rem 0;
  padding: 1rem;
}

// Padded

.padding-example {
  background-color: #e0e6ed;
  margin-bottom: 1rem;
}

// COLOR palette
.color {
  color: #fff;
  padding: 1rem 0.5rem;
  text-align: center;
  margin: 0 1rem 1rem 0;
}

.inverted {
  color: #000;
}
.arctic-blue-lighter {
  background-color: $arctic-blue-lighter;
}
.arctic-blue-light {
  background-color: $arctic-blue-light;
}
.arctic-blue {
  background-color: $arctic-blue;
}
.arctic-blue-dark {
  background-color: $arctic-blue-dark;
}
.passion-red-light {
  background-color: $passion-red-light;
}
.passion-red {
  background-color: $passion-red;
}
.passion-red-dark {
  background-color: $passion-red-dark;
}
.seperator {
  background-color: $seperator-color;
}
.seperator-light {
  background-color: $seperator-color-light;
}
.alternate-background {
  background-color: $alternate-background;
}

@import "highlightjs";
