﻿

.accordion {
    margin: 0 0 1.5rem;

    // .accordion-item {
    //     margin: 0 0 1.5rem;
    // }

    .accordion-title {
        width: 100%;
        padding: 1rem 2.5rem 1rem 1rem;
        font-size: inherit;
        text-align: left;
        background-color: #f6f2f1;
        border: none;
        cursor: pointer;

        &:active:focus {
            outline: none;
        }
    }

    .accordion-content {
        background-color: $alternate-background;
        display: none;
        padding: 1rem;

        p {
            font-size: 1rem;
        }
    }

    .accordion-icon {
        float: right;
        height: 16px;
        line-height: 1rem;
        position: relative;
        margin-right: -1.5rem;
        transition: transform .25s .25s ease-in-out;
        width: 16px;

        .horizontal {
            background-color: $passion-red;
            height: 2px;
            left: 0;
            position: absolute;
            top: 7px;
            transition: transform .25s ease-in-out;
            width: 16px;
        }

        .vertical {
            background-color: $passion-red;
            height: 16px;
            left: 7px;
            position: absolute;
            top: 0;
            transition: transform .25s ease-in-out;
            width: 2px;
        }
    }

    // .accordion-item.open {
    &.open {
        .accordion-content {
            display: block;
        }

        .accordion-icon {
            transform: rotate3d(0, 0, 1, 45deg);
            transition: transform .25s ease-in-out;
        }

        .accordion-icon .vertical {
            transform: rotate3d(0, 0, 1, 45deg);
            transition: transform .25s .25s ease-in-out;
        }

        .accordion-icon .horizontal {
            transform: rotate3d(0, 0, 1, -45deg);
            transition: transform .25s .25s ease-in-out;
        }
    }
}
.padded--small > .accordion {
    &:first-child {
        margin-top: -1rem;
    }
    &:last-child {
        margin-bottom: .5rem;
    }
}

.no-js .accordion .accordion-content {
    display: block;
}
