﻿@model CountriesOverviewViewModel

@using EPiServer.Editor

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<article>
    <header>
        <div class="container">
            @Html.PropertyFor(m => m.CurrentPage.MainBody)
            <h1>
                @Html.Translate("/CountriesOverviewPage/searchForCountry")
            </h1>
            <div class="search-container search--large">
                <form role="search" aria-describedby="search-description">
                    <p id="search-description" class="visually-hidden">@Html.Translate("/CountriesOverviewPage/searchDescription")</p>
                    <input id="page-id" type="hidden" value="@Model.CurrentPage.ContentLink" />
                    <label for="search-field" class="visually-hidden">@Html.Translate("/search")</label>
                    <input id="search-field" aria-label="Search input" type="text" placeholder="@Html.Translate("/CountriesOverviewPage/searchTypeHere")" />
                    <button type="submit" title="Search button" aria-label="Submit"><span role="presentation"></span></button>
                </form>
            </div>
        </div>
    </header>

    <section id="countries">
        <div class="container-large">
            <p class="visually-hidden result-text" aria-live="assertive"></p>
            <div class="embassies panels" role="presentation">
                @foreach (var row in Model.CountrySitesGroups)
                {
                    <div class="panel">
                        <div class="inner">
                            @foreach (var category in row)
                            {
                                <h2>@category.Letter.ToString()</h2>
                                <ul>
                                    @foreach (var site in category.Embassies)
                                    {
                                        <li>
                                            <a href="@site.Website">@site.Name</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    @if ((Model.DelegationList != null && Model.DelegationList.Any()) || PageEditing.PageIsInEditMode)
    {
        <section id="delegations" class="link-panel light">
            <div class="container-large">
                <h2>
                    @Html.PropertyFor(x => x.CurrentPage.DelegationsLinkListHeading)
                    @if (string.IsNullOrEmpty(Model.CurrentPage.DelegationsLinkListHeading) && !PageEditing.PageIsInEditMode)
                    {
                        @Html.Translate("/CountriesOverviewPage/delegations")
                    }
                </h2>
                <div class="panels" @Html.EditAttributes(x => x.CurrentPage.DelegationsLinkList)>
                    @foreach (var delegation in Model.DelegationList)
                    {
                        <div class="panel">
                            <div class="inner">
                                <p>@delegation.ShortText</p>
                                <p class="arrow-link">
                                    <a href="@delegation.Website">@delegation.Name</a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    @if ((Model.ConsulateGeneralsList != null && Model.ConsulateGeneralsList.Any()) || PageEditing.PageIsInEditMode)
    {
        <section id="consulate-generals" class="link-panel almost-light">
            <div class="container-large">
                <h2>
                    @Html.PropertyFor(x => x.CurrentPage.ConsulateLinkListHeading)
                    @if (string.IsNullOrEmpty(Model.CurrentPage.ConsulateLinkListHeading) && !PageEditing.PageIsInEditMode)
                    {
                        @Html.Translate("/CountriesOverviewPage/consulateGenerals")
                    }
                </h2>
                <div class="panels" @Html.EditAttributes(x => x.CurrentPage.ConsulatesLinkList)>
                    @foreach (var consulateGeneral in Model.ConsulateGeneralsList)
                    {
                        <div class="panel">
                            <div class="inner">
                                <p>@consulateGeneral.ShortText</p>
                                <p class="arrow-link">
                                    <a href="@consulateGeneral.Website">@consulateGeneral.Name</a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

</article>
