﻿

.priority-panel {
    padding: 3rem 0;
    text-align: center;


    &:after {
        clear: both;
        display: block;
        content: '';
    }

    .panel {
        margin: .9375rem 0;

        .inner {
            background-position: center center;
            background-size: cover;
            overflow: hidden;
            position: relative;
            padding: 40px .9375rem;
            margin: .9375rem;
            display: block;
            color: inherit;
        }

        .overlay {
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;

            p {
                display: none;
            }
        }

        @include larger-than($mobile) {

            .overlay {
                transition: all .2s ease-in-out;
                @include rgba(background-color, 238, 238, 238, .9);
                bottom: -25%;
                height: 50%;
            }

            &:hover .overlay {
                @include rgba(background-color, 238, 238, 238, 1);
                bottom: 0;
                p {
                    display: block;
                }
            }
        }

        .small {
            font-size: .75rem;
            text-transform: uppercase;
        }

        h2 {
            margin: .5rem 0;
            padding: 0;

            &::after {
                background-color: $passion-red;
                content: '';
                display: block;
                height: 2px;
                margin: .5rem auto;
                width: 50px;
            }
        }

        p {
            margin: .25rem 10%;
        }
    }

    .panel-large {
        flex: 1 0 50%;


        .inner {
            height: 310px;
        }

        @include smaller-than($mobile) {
            flex: 1 0 100%;

            .inner {
                height: 200px;
            }
        }
    }

    .panel-medium {
        .inner {
            height: 200px;
        }

        .overlay {
            bottom: -15%;
        }

        @include smaller-than($mobile) {
            flex: 1 0 100%;

            .inner {
                height: 200px;
            }
        }
    }

    @include smaller-than($mobile) {
        .panel .overlay {
            @include rgba(background-color, 238, 238, 238, 1);
            bottom: 0;

            p {
                display: none;
            }
        }
    }
}
