﻿

.filter-block {
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .filter-items {
        margin: 1rem 0 0;
        display: block;

        .filter-item {
            display: inline-block;
            padding: 0 1rem;

            a, a:visited {
                color: $font-color;
                font-weight: 600;
                border: 0;
            }

            a:hover {
                color: $font-color;
                text-decoration: underline;
            }

            .unchecked::before {
                content: '';
                width: 20px;
                height: 20px;
                float: left;
                background-size: auto 100%;
                margin: 1px 5px 0 0;
                overflow: hidden;
                background-repeat: no-repeat;
                background-image: url('../images/checkbox-unchecked.svg');
            }

            .checked::before {
                content: '';
                width: 20px;
                height: 20px;
                float: left;
                background-size: auto 100%;
                overflow: hidden;
                margin: 1px 5px 0 0;
                background-repeat: no-repeat;
                background-image: url('../images/checkbox-checked.svg');
            }
        }
    }
}
