﻿@using EPiServer.Editor;
@model InfoScreenViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.PageData.HeaderText</title>
    <meta name="robots" content="noindex, nofollow" />
</head>
<body>

    <script>
        var links = [ @Html.Raw(Model.LinksJsList) ];
        var isFbInit = false;
        var isTwttrInit = false;

        function showLink(link) {
            var div = document.getElementById('content');
            if (link.includes('facebook.com')) {
                div.innerHTML = `
                    <div class="fb-page"
                         data-height="${div.offsetHeight}"
                         data-width="500"
                         data-href="${link}"
                         data-tabs="timeline"
                         data-small-header="false"
                         data-adapt-container-width="true"
                         data-hide-cover="false"
                         data-adapt-container-width="true"
                         data-show-facepile="false">
                    </div>`;
                FB.XFBML.parse();
            } else if (link.includes('twitter.com')) {
                div.innerHTML = `
                    <div>
                        <a data-height="${div.offsetHeight}"
                           data-width="500"
                           class="twitter-timeline"
                            href="${link}">
                        </a>
                    </div>`;
                twttr.widgets.load();
            } else {
                div.innerHTML = `<iframe id="theiframe" src="${link}"</div>`;
            }
        }

        function onReady() {
            var currentlink;
            var i = 0;
            var func = function () {
                if (i == 0) {
                    links = links.sort(() => Math.random() - 0.5);
                }
                if (links[i] != currentlink) {
                    showLink(links[i]);
                    currentlink = links[i];
                }
                i = (i + 1) % links.length;
            }
            if (!isFbInit || !isTwttrInit) {
                setTimeout(onReady, 100);
            } else {
                func();
                setInterval(func, @Html.Raw(Model.PageData.ChangeInterval) * 1000);
            }
        }

        if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
            onReady();
        } else {
            document.addEventListener('DOMContentLoaded', onReady);
        }

        window.fbAsyncInit = function () {
            FB.init({
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.2'
            });
            isFbInit = true;
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };
            return t;
        }(document, "script", "twitter-wjs"));

        twttr.ready(function (twttr) {
            isTwttrInit = true;
        });

    </script>

    <style type="text/css">
        * { margin: 0; padding: 0; border: 0; font-family: "Open Sans", sans-serif; font-weight: 600; }
        html { height: 100%; }
        body { display: flex; flex-direction: column; height: 100%; }
        #header { flex: 0 0 auto; line-height: 60px; background-color: #656565; color: #fff; text-align: center; border-bottom: 3px solid #eae6e6; }
        #content { flex: 1 1 auto; display: flex; justify-content: space-around; }
        #content #theiframe { width: 100%; }
    </style>

    <div id="header">
        @Html.Raw(Model.PageData.HeaderText)
    </div>

    <div id="content" />

</body>
</html>
