﻿.norway-info {
  > header .header-content {
    height: 100px;

    @include smaller-than($tablet) {
      height: 90px;
    }

    @include smaller-than($mobile) {
      height: 75px;
    }
  }

  main header {
    background-color: #227f94;
    color: $base-color;
    text-align: center;
    position: relative;
    padding: 2rem 0;
    background-image: url(../images/nordlys_med_bg.png);
    background-repeat: no-repeat;
    background-position: 80% top;
    background-size: contain;

    .container {
      max-width: 640px;
      padding: 0 20px;
      font-size: 1rem;
    }

    &::after {
      content: "";
      height: 0px;
      width: 0px;
      margin: 0 0 0 -20px;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $arctic-blue;
    }

    p,
    p a {
      color: #fff;
    }

    a:focus {
      outline-color: $base-color;
    }

    h1 {
      font-weight: 600;
      margin: 0.5rem 0;
      font-size: 1.25rem;
    }
  }

  main {
    margin: 100px 0 0;

    @include smaller-than($tablet) {
      margin: 90px 0 0;
    }

    @include smaller-than($mobile) {
      margin: 0;
    }

    ul,
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 1.125rem;
      line-height: 1.75rem;

      a,
      a:visited {
        color: inherit;
        border-bottom: 1px solid transparent;
      }

      @include larger-than($mobile) {
        a:hover {
          border-bottom: 1px solid $passion-red;
        }
      }
    }
  }

  .embassies {
    padding: 2rem 0;

    .panel {
      flex: 1 0 20%;

      @include smaller-than($mobile) {
        flex: 1 0 100%;
      }
    }

    .inner {
      padding: 0 1rem 0 0;
    }

    h2 {
      margin: 2rem 0 0 0;
    }
  }

  #delegations,
  #consulate-generals {
    padding: 0;
    border-top: 1px solid $arctic-blue-light;

    h2 {
      margin: 2rem 0 0.5rem 0;
    }

    .container-large {
      padding-top: 2rem;
      padding-bottom: 5rem;
    }

    &:last-of-type {
      .container-large {
        padding-bottom: 10rem;
      }
    }
  }

  #consulate-generals {
    border-top: 1px solid $arctic-blue-lighter;
  }
}
