.corearticle-page {
    padding-top: 50px;

    .article__ingress {
        @include ingress;
        margin: 1.5rem 0 1.5rem;
        min-height: 1rem;

        p {
            margin: 0;

            + p {
                margin-top: 0.5rem;
            }
        }

        @include smaller-than($mobile) {
            font-size: 1.125rem;
            line-height: 1.6875rem;
        }
    }

    .article__publine {
        flex: 1 0 auto;
        width: 100%;
        margin: 24px 0;
    }

    .article__sidebar {
        width: auto;
        margin: 0;
    }

    .article__sidebar__title {
        margin-top: 0;
    }

    @include smaller-than($mini) {
        .article__richtext {
            img {
                max-width: 100%;
            }
        }
    }

    @include larger-than($mini) {
        .article__richtext {
            @include clearfix;
            .inline-image--left {
                margin: 8px 20px 10px 0px;
                display: table;
                float: left;
                max-width: 50%;
                
                figcaption {
                    display: table-caption;
                    caption-side: bottom;
                }
            }
        }
    }

    @include smaller-than($mobile) {
        .article__hero {
            margin-bottom: 50px;
        }
        
        .article__body__figure {
            width: calc(100% + #{$grid-gutter});
            margin-left: -($grid-gutter / 2);

            img {
                width: 100%;
            }

            figcaption {
                text-align: right;
                padding: 0 ($grid-gutter / 2);
            }
        }
    }

    @include larger-than($mobile) {
        .article__body {
            display: grid;
        }

        .article__hero {
            margin-bottom: 24px;
        }

        .article__title {
            width: span(10);
        }

        .article__ingress {
            width: span(10);
        }

        .article__body {
            grid-template-columns: span(7) span(1 wider) span(4);
            grid-template-areas:
                "main  . aside"
            ;
        }

        .article__main {
            grid-area: main;
        }

        .article__sidebar {
            grid-area: aside;
        }
    }
}
