﻿@import 'fonts/fonts';
@import 'global/colors/colors';

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

p {
    EditMenuName: Paragraph;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -0.003em;
}

p.text-center {
    EditMenuName: Paragraph Centered;
    text-align: center;
}

b, strong {
    ChangeElementType: true;
    font-weight: 600;
}

h2 {
    EditMenuTitle: Heading Styles;
    EditMenuName: Headline;
    font-size: 1.125rem;
    font-weight: 600;
}

h3 {
    EditMenuName: Headline2;
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem 0 .5rem;
}

ul li {
    padding-bottom: .75rem;
    line-height: 1.58;
}

a,
a:visited,
a:hover {
    color: $secondary-color;
    text-decoration: none;
}

p,
span,
li {
    a,
    a:visited {
        border-bottom: 1px solid $elements-color;
        color: $secondary-color;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 1px solid $black;
    }
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

figure {
    width: 100%;
    margin: 0 0 1rem;

    img {
        width: 100%;
        display: block;
        height: auto;
    }

    figcaption {
        font-style: italic;
        display: block;
        margin: .5rem 0 0;
        font-size: .875rem;
        font-weight: 400;
        color: $seperator-color;
    }
}