﻿@using System.Web.Optimization
@model PageViewModel<NewsletterConfirmPage>

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<article class="service">
    <header>
        <div class="container">
            <h1>@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>
        </div>
    </header>
    <section>
        <div class="container">
            <p class="ingress">
                @if (Model.CurrentPage.ShowErrormsg) {
                    @Html.PropertyFor(m => m.CurrentPage.ErrorMsg)
                } else
                {
                    @Html.PropertyFor(m => m.CurrentPage.MainIntro)
                }
            </p>
            <div class="article-content">
                @Html.PropertyFor(m => m.CurrentPage.MainBody)
            </div>
        </div>
    </section>
</article>


