﻿

.breadcrumbs {
    background-color: $arctic-blue;
    color: $base-color;
    padding: .5rem 0;

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;

        &::before {
            content: " / ";
            padding: 0 .5rem;
        }

        &:first-child::before {
            display: none;
        }
    }

    a,
    a:visited {
        color: $base-color;
        border: 0;
    }

    a:hover,
    a:focus {
        color: $base-color;
        border: 0;
        text-decoration: underline;
    }

    @include smaller-than($tablet) {
        font-size: 0.875rem;
    }

    @include smaller-than($mobile) {
        min-height: 2px;
        padding: 0;
        ul {
            display: none;
        }
    }
}
