﻿

.unsubscribe-page {
    background-color: #f0f0f0;
    > header .header-content {
        height: 100px;

        @include smaller-than($tablet) {
            height: 90px;
        }

        @include smaller-than($mobile) {
            height: 75px;
        }
    }

    main {
        margin: 100px 0 0;
        padding: 2rem 0;

        @include smaller-than($tablet) {
            margin: 90px 0 0;
        }

        @include smaller-than($mobile) {
            margin: 0;
        }

        .container {
            background-color: #fff;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    .unsubscribe-form {

        .input-group {
            display: table;
            margin: .5rem 0;

            input {
                display: table-cell;
                border: 0;
                border-radius: 0;
                padding: .5rem;
                font-size: 1rem;
            }

            input[type="email"] {
                background-color: $base-color;
                border: 2px solid $passion-red;
                width: 100%;
            }

            input[type="submit"] {
                background-color: $passion-red;
                border: 2px solid $passion-red;
                color: $base-color;
                margin-left: .5rem;
            }

            .input-group-btn {
                display: table-cell;
                width: 1%;
            }
        }
    }
}
