﻿@using Norgesportalen.Business.Helpers
@model IPageViewModel<Norgesportalen.Models.Pages.BaseClasses.SitePageData>

<nav class="breadcrumbs">
    <div class="container-large">
        <ul>
            @foreach (var crumb in HtmlHelpers.CreateBreadcrumb(Html, Model.CurrentPage))
            {
                if (crumb.LinkUrl != null)
                {
                    <li><a href="@Url.ContentUrl(crumb.LinkUrl)" title="@crumb.Title">@crumb.Text</a></li>
                }
                else
                {
                    <li>@crumb.Text</li>
                }
            }
        </ul>
    </div>
</nav>