﻿@using EPiServer.Core
@using Norgesportalen.Models.Pages.BaseClasses

@* Controller redirecter hitt med dette request parm for å tvinge reload av dojo *@

@* Force reload of parent window if controller adds this request param *@
@if (this.Request["RefreshParent"] != null)
{
    <script>
        @*TODO: Lag dojo plugin*@
        window.top.location.reload();
    </script>
}

@* Remove fetch button: *@
@if (Model.CurrentPage.LinkType == PageShortcutType.FetchData)
{
    <div class="removeFetchedContentPanel">
        @{

            // TODO: Controler navnet kunne vel vært på en felles kontroller? Men det funker ikke.
            string controller = Model.CurrentPage.PageTypeName;
            if (Model.CurrentPage is NewsPage || Model.CurrentPage is StatementPage || Model.CurrentPage is InformationArticlePage)
            {
                controller = "BasicPageBase";
            }
            else
            if (Model.CurrentPage is SocialMediaListpage)
            {
                controller = "DefaultPage";
            }

            using (Html.BeginForm("RemoveFetch", controller))
            {
                <button type="submit">Remove fetch content from page</button>

                try
                {
                    var pageId = Model.CurrentPage.FetchDataFromHelper;
                    var pageRef = new PageReference(pageId);
                    var contentRepository = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentRepository>();
                    var page = contentRepository.Get<PageData>(pageRef);
                    <span>[@page.Name]</span>
                }
                catch
                {
                    <span>[Error: Fetch content points to content that doesn't exist]</span>
                }
            }

        }
    </div>
}

@* Add fetch content to on-page-edit area: *@
@{
    bool hideFetchFrom = Model.CurrentPage.LinkType == PageShortcutType.FetchData;
}

<div style="display:@(hideFetchFrom ? "none" : "block");" class="fetchContentPanel">
    <div class="fetchContentLabel">
        Fetch content from other page:
    </div>
    <div class="fetchContentButtonArea" @Html.EditAttributes("FetchDataFromHelper")>
        &nbsp;
    </div>
</div>
@Html.FullRefreshPropertiesMetaData(new[] { "FetchDataFromHelper" })
