﻿@model IPageViewModel<Norgesportalen.Models.Pages.BaseClasses.SitePageData>

@using EPiServer.Editor

@{
    var homePage = Model.Layout.HomePage;
}

<div class="container-large footer-content">
    @if (Model.CurrentPage is CountriesOverviewPage)
    {
        CountriesOverviewPage countriesOverviewPage = (CountriesOverviewPage)Model.CurrentPage;

        <h1>@Html.PropertyFor(m => countriesOverviewPage.FooterTitle)</h1>
        <div class="panels">
            <div class="panel">
                <div class="footer-section">
                    @Html.PropertyFor(m => countriesOverviewPage.FooterLeft)
                </div>
            </div>
            <div class="panel">
                <div class="footer-section">
                    @Html.PropertyFor(m => countriesOverviewPage.FooterCenter)
                </div>
            </div>
            <div class="panel">
                <div class="footer-section">
                    @if (countriesOverviewPage.FooterRight?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode)
                    {
                        <div class="socialmedia-block">
                            <h2>
                                @if (string.IsNullOrEmpty(countriesOverviewPage.SocialMediaOptionalHeading) && PageEditing.PageIsInEditMode)
                                {
                                    // Always show the default text in edit mode when the set text is empty, to indicate the default text in addition to showing the text editor
                                    @Html.Translate("/SocialMedia/FollowUs") <br />
                                }

                                @* We allow whitespace-strings since this gives the editor the possibility to have no heading *@
                                @if (!string.IsNullOrEmpty(countriesOverviewPage.SocialMediaOptionalHeading) || PageEditing.PageIsInEditMode)
                                {
                                    @Html.PropertyFor(m => countriesOverviewPage.SocialMediaOptionalHeading)
                                }
                                else
                                {
                                    @Html.Translate("/SocialMedia/FollowUs")
                                }
                            </h2>
                            @Html.PropertyFor(m => countriesOverviewPage.FooterRight, new { Tag = Norgesportalen.Global.ContentAreaTags.SocialMedia.Footer, CssClass = "socialmedia-icons", ChildrenCustomTagName = "span" })
                        </div>
                    }
                    @Html.PropertyFor(m => countriesOverviewPage.NewsletterSubscriptionField, new { Tag = Norgesportalen.Global.ContentAreaTags.SocialMedia.Footer, CssClass = "newsletter-block", ChildrenCustomTagName = "div" })
                </div>
            </div>
        </div>
    }
    else if (Model.Layout.HomePage != null)
    {
        <h1>@Html.PropertyFor(m => m.Layout.HomePage.FooterTitle)</h1>
        <div class="panels">
            <div class="panel">
                <div class="footer-section">
                    @Html.PropertyFor(m => m.Layout.HomePage.FooterLeft)
                </div>
            </div>
            <div class="panel">
                <div class="footer-section">
                    @Html.PropertyFor(m => m.Layout.HomePage.FooterCenter)
                </div>
            </div>
            <div class="panel">
                <div class="footer-section">
                    @{
                        if (homePage.Footer3?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode) 
                        {
                            <div class="socialmedia-block">
                                <h2>
                                    @if (string.IsNullOrEmpty(homePage.SocialMediaOptionalHeading) && PageEditing.PageIsInEditMode)
                                    {
                                        // Always show the default text in edit mode when the set text is empty, to indicate the default text in addition to showing the text editor
                                        @Html.Translate("/SocialMedia/FollowUs") <br />
                                    }

                                    @* We allow whitespace-strings since this gives the editor the possibility to have no heading *@
                                    @if (!string.IsNullOrEmpty(homePage.SocialMediaOptionalHeading) || PageEditing.PageIsInEditMode)
                                    {
                                        @Html.PropertyFor(m => m.Layout.HomePage.SocialMediaOptionalHeading)
                                    }
                                    else
                                    {
                                        @Html.Translate("/SocialMedia/FollowUs")
                                    }
                                </h2>
                                @Html.PropertyFor(m => m.Layout.HomePage.Footer3, new { Tag = Norgesportalen.Global.ContentAreaTags.SocialMedia.Footer, CssClass = "socialmedia-icons", ChildrenCustomTagName = "span" })
                            </div>
                        }
                    }

                    @Html.PropertyFor(m => m.Layout.HomePage.NewsletterSubscriptionField, new { Tag = Norgesportalen.Global.ContentAreaTags.SocialMedia.Footer, CssClass = "newsletter-block", ChildrenCustomTagName = "div" })
                </div>
            </div>
        </div>
    }
</div>

