﻿@using System.Globalization
@using EPiServer.Editor
@using EPiServer.Globalization
@using EPiServer.SpecializedProperties
@using EPiServer.Web.Routing

@model IPageViewModel<Norgesportalen.Models.Pages.BaseClasses.SitePageData>

<div class="header-content">

    @if (Model.CurrentPage is CountriesOverviewPage)
    {
        <a href="/" class="brand">
            <span class="logo"></span>
            <span class="logo-title">@Html.Translate("/CountriesOverviewPage/norway")</span>
            <span class="logo-subtitle">@Html.Translate("/CountriesOverviewPage/ministry")</span>
        </a>
    }
    else
    {
        <ul class="language-bar">
            @if (Model?.Layout?.LanguageOptions?.MoreThanOneOption == true)
            {
                foreach (var possibleLanguage in Model.Layout.LanguageOptions.Options)
                {
                    <li class="language">
                        @*http://joelabrahamsson.com/figuring-out-the-current-language-branch-in-episerver-cms/*@
                        @if (ContentLanguage.PreferredCulture.Name.Equals(possibleLanguage.LanguageCode))
                        {
                            @possibleLanguage.DisplayText
                        }
                        else
                        {

                            if (possibleLanguage.CurrentPageIsPublishedInThisLanguageCode)
                            {
                                <a href='@possibleLanguage.PageUrlForLanguageCode' title="@possibleLanguage.DisplayText">@possibleLanguage.DisplayText</a>
                            }
                            else
                            {
                                <a class="language-dropdown-btn" tabindex="0" title="@possibleLanguage.DisplayText">@possibleLanguage.DisplayText</a>
                                <div class="language-dropdown">
                                    <p>@possibleLanguage.DisplayTextPageMissingInLangCode</p>
                                    <div class="language-dropdown-link">
                                        <p class="arrow-link">
                                            <a href="@possibleLanguage.HomePageUrlForLanguageCode">@Html.Translate("/Menu/goToFrontPage")</a>
                                        </p>
                                    </div>
                                </div>
                            }
                        }
                    </li>
                }
            }
        </ul>

        <a href="@Model.Layout.LogotypeLinkUrl" class="brand">
            @if (EPiServer.Security.PrincipalInfo.HasAdminAccess)
            {
                @Html.PropertyFor(x => x.Layout.Logo)
            }
            else
            {
                @Html.DisplayFor(x => x.Layout.Logo)
            }
        </a>


        if (Model?.Layout?.HomePage?.HideMainMenu == false)
        {
            <button class="menu" id="navigation-btn" aria-controls="navigation" aria-expanded="false">
                <span class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="text">
                    @Html.Translate("/Menu/menu")
                </span>
            </button>

            <nav class="dropdown-menu" id="navigation" aria-hidden="true">
                <div class="dropdown-content">
                    <div class="container-large">
                        <div class="language-bar">
                            @if (Model.Layout.LanguageOptions.MoreThanOneOption)
                            {
                                foreach (var possibleLanguage in Model.Layout.LanguageOptions.Options)
                                {
                                    <div class="language">
                                        @if (ContentLanguage.PreferredCulture.Name.Equals(possibleLanguage.LanguageCode))
                                        {
                                            @possibleLanguage.DisplayText
                                        }
                                        else
                                        {

                                            if (possibleLanguage.CurrentPageIsPublishedInThisLanguageCode)
                                            {
                                                <a href='@possibleLanguage.PageUrlForLanguageCode'>@possibleLanguage.DisplayText</a>

                                            }
                                            else
                                            {
                                                <a href='@possibleLanguage.HomePageUrlForLanguageCode'>@possibleLanguage.DisplayText</a>
                                            }
                                        }
                                    </div>
                                }

                            }
                        </div>
                        <div class="panels">
                            @foreach (var menuItem in Model.Layout.Menu.TopMenu.Items)
                            {
                                <ul class="panel">
                                    <li class="inner">
                                        <section>
                                            <h1>
                                                @Html.ContentLink(menuItem.ContentLink)
                                            </h1>
                                            <ul class="hidden-mobile">
                                                @foreach (var item in menuItem.Items)
                                                {
                                                    <li class="menu-item">
                                                        @Html.ContentLink(item.ContentLink)
                                                    </li>
                                                }
                                                @if (menuItem.HasMoreItems)
                                                {
                                                    <li>
                                                        <a href="@UrlResolver.Current.GetUrl(menuItem.ContentLink, CultureInfo.CurrentUICulture.Name)">@Html.Translate("/viewAll")</a>
                                                    </li>
                                                }
                                            </ul>
                                        </section>
                                    </li>
                                </ul>
                            }
                        </div>

                        @if (Model.Layout.Menu.HorizontalMenu.Items.Any())
                        {

                            <section class="about-norway">
                                <h1>
                                    <a href="@Model.Layout.Menu.HorizontalMenu.Link">
                                        @Model.Layout.Menu.HorizontalMenu.Title
                                    </a>
                                </h1>
                                <ul class="hidden-mobile">
                                    @if (Model.Layout.Menu.HorizontalMenu.Items.Any())
                                    {
                                        foreach (var item in Model.Layout.Menu.HorizontalMenu.Items)
                                        {
                                            <li>
                                                @Html.ContentLink(item.ContentLink)
                                            </li>
                                        }
                                    }

                                    @if (Model.Layout.Menu.HorizontalMenu.HasMoreItems)
                                    {
                                        <li>
                                            <a href="@Model.Layout.Menu.HorizontalMenu.Link">@Html.Translate("/viewAll")</a>
                                        </li>
                                    }
                                </ul>
                            </section>
                        }

                        @*We use GET to submit the form to enable bookmarking etc of search results.  However, as GET will remove other
                            query string values not in the form we can't use that in edit mode.*@<div class="search-container">
                            @using (Html.BeginForm(null, null, Model.Layout.SearchPageRouteValues, PageEditing.PageIsInEditMode ? FormMethod.Post : FormMethod.Get))
                            {
                                <div id="search-area" role="search">
                                    <label for="search-field" class="visually-hidden">@Html.Translate("/search")</label>
                                    <input id="search-field" title="@Html.Translate("/searchpage/searchTitle")" placeholder="@Html.Translate("/Menu/searchHere")" type="text" name="q" />
                                    <button title="Search button" type="submit" class="searchButton" id="SearchButton" aria-label="Submit"><span role="presentation"></span></button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </nav>
        }
    }

</div>
