﻿@model DSS.PageSurvey.Models.ViewModels.SurveyViewModel

@{
    if (Model == null)
    {
        return;
    }
}

<div class="page-survey-container">
    <div class="page-survey"
         data-page-survey="@Model.SurveyPageId"
         data-page-survey-api="/api/survey/SubmitPageSurveyAnswer"
         data-text-hidden-title="Tilbakemeldingsskjema"
         data-text-question="@Model.SurveyHeader"
         data-text-options='[{"response": "@Model.Alt1", "feedback": "@Model.PlaceHolderTextOne"},{"response": "@Model.Alt2", "feedback": "@Model.PlaceHolderTextTwo"}]'
         data-text-comment="@Model.CommentHeader"
         data-text-illegal-characters="@Model.FormatErrorText"
         data-text-send="@Model.SendText"
         data-text-thanks="<h2>@Model.ConfirmationHeader</h2><p>@Model.ConfirmationMessage</p>"
         data-text-failed="<h2>@Model.ErrorTitle</h2><p>@Model.ErrorText</p>">
    </div>
</div>
