﻿@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model DSS.PageSurvey.Models.ViewModels.SurveyPageViewModel

@*@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; ViewBag.BodyCssClass = "page-article"; }*@


<div class="content-row article">
    <div class="content-col-2 article-content">
        <header class="article-header">
            <h1>@Html.PropertyFor(m => m.CurrentPage.PageName)</h1>
        </header>
        <div style="padding-top:20px;">

            @ViewData["Result"]

            <div style="padding-top:20px;">


                <table>
                    <thead>
                    <tr>
                        <td style="border-bottom: 1px solid gray;">
                            Navn
                        </td>
                        <td style="border-bottom: 1px solid gray;">
                            Verdi
                        </td>
                    </tr>
                    </thead>
                    <tbody>

                    @for (int i = 0; i < Model.Properties.Count(); ++i)
                    {
                        <tr>
                            <td>@Model.Properties[i].TranslateDisplayName()</td>
                            <td>@Model.Properties[i].Value</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        @*@Html.Partial("~/Views/Shared/_Survey.cshtml", model: Model.Layout.SurveyViewModel, viewData: new ViewDataDictionary(new { Show = "true" }))*@
        @*@Html.Partial("~/Views/Shared/_Survey.cshtml", Model.Layout.SurveyViewModel, new { Show = "true" })*@

    </div>
</div>
