﻿@using EPiServer.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage<EPiServer.Core.IContent>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
    <link rel="stylesheet" href="/Frontend/dist-web/Static/css/main.css">
</head>

<body class="homepage">
    <main class="main-content">
        <div class="container">
            @if (@Model != null)
            {
                { Html.RenderContentData(@Model, false); }
            }
        </div>
    </main>
    <script src="/Frontend/dist-web/Static/js/main.js"></script>
</body>
</html>