

.card-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    list-style-type: none;
    margin:0;
    padding: 0;
    margin: 0 -20px;
    padding: 0 10px;
}


.card-list__item {
    flex: 0 1 auto;
    width: 100%;
    padding: 0 10px 20px 10px;

    @include between(460px, $tablet)  {
        width: 50%;

    }

    @include larger-than($tablet)  {
        width: 33.33%;
    }
}