﻿@using EPiServer.Core
@using EPiServer.Web.Routing
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Models.Media
@model EPiServer.Core.ContentReference

@{
    // Get the the MediaData object being rendered
    var currentContent = !ContentReference.IsNullOrEmpty(Model)
                            ? EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>().Get<ImageFile>(Model)
                            : null;
}

@if (currentContent != null) // Images should be rendered with an image tag and an alt text
{
    string imagetext;
    var image = (ImageFile)currentContent;
    if (string.IsNullOrEmpty(image.AltText))
    {
        imagetext = image.Name;
    }
    else
    {
        imagetext = image.AltText;
    }

    if(!string.IsNullOrEmpty(image.Credit))
    {
        imagetext = imagetext + " - " + @Html.Translate("/Media/photo") + ":" + image.Credit;
    }
    var imageSize = (ViewData["Size"] != null) ? ViewData["Size"].ToString() : string.Empty;
    <img src="@image.ContentLink.GetImageUrl(imageSize)" alt="@imagetext" />
}