﻿@using EPiServer.SpecializedProperties
@model LinkItemCollection

@foreach (var linkItem in Model ?? Enumerable.Empty<LinkItem>())
{
    <p>
        <a href="@Url.ContentUrl(linkItem.Href)" title="@linkItem.Title" class="" target="@linkItem.Target">
            @linkItem.Text
        </a>
    </p>
}