﻿@using EPiServer.SpecializedProperties
@model LinkItemCollection

@{
    string classes = "";
    if (Model != null)
    {
        if (Model.Count < 4)
        {
            classes = "panel panel--large";
        }
        else
        {
            classes = "panel";
        }
    }
}

<div class="panels">
    @foreach (var linkItem in Model ?? Enumerable.Empty<LinkItem>())
    {
        <div class="@classes">
            <div class="inner">
                <p class="arrow-link">
                    <a href="@Url.ContentUrl(linkItem.Href)" title="@linkItem.Title" target="@linkItem.Target">
                        @linkItem.Text
                    </a>
                </p>
            </div>
        </div>
    }
</div>