﻿@model Norgesportalen.Models.Pages.BaseClasses.PageBase

<div class="inner related-link-block-element">
    @if (!string.IsNullOrEmpty(Model.MainIntro))
    {
        <p>
            @Model.MainIntro
        </p>
    }

    <p class="arrow-link">
        <a title="@Model.HeadingOrPageName" href="@Model.LinkURL" target="_self">@Model.HeadingOrPageName</a>
    </p>
</div>
