﻿@using EPiServer.SpecializedProperties
@model LinkItemCollection

@foreach (var linkItem in Model ?? Enumerable.Empty<LinkItem>())
{
    <div class="panel panel--large">
        <div class="inner">
            <p class="arrow-link">
                <a href="@Url.ContentUrl(linkItem.Href)" target="@linkItem.Target">@linkItem.Text</a>
            </p>
        </div>
    </div>
}