﻿@using EPiServer.SpecializedProperties
@model LinkItemCollection

@foreach (var linkItem in Model ?? Enumerable.Empty<LinkItem>())
{
    <li class="related-links__item arrow-link">
        <a href="@Url.ContentUrl(linkItem.Href)" title="@linkItem.Title" target="@linkItem.Target">
            @linkItem.Text
        </a>
    </li>
}
