﻿@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions
@model CoreArticlePage
@{
    // quick WIN before demo
    bool IsSmall = false;
    if (ViewData["IsSmall"] != null)
    {
        IsSmall = (bool)ViewData["IsSmall"];
    }
}
<a href="@Url.ContentUrl(Model.LinkURL)" style="background-image: url('@Model.MainImage.GetImageUrl(Constants.ImageSize.Medium)');" class="inner">
    <div class="overlay">
        <h2>@Model.HeadingOrPageName</h2>
        @if (!IsSmall)
        {
            <p>@Model.MainIntro</p>
        }
    </div>
</a>