﻿@model ThemePage
    <div style="background-image: url('@Url.ContentUrl(Model.Image)');" class="inner">
        <a href="@Url.ContentUrl(Model.LinkURL)">
            <div class="overlay">
                <span class="small">THEME</span>
                <h2>@Model.Name</h2>
                <p>@Model.Ingress</p>
            </div>
        </a>
    </div>