﻿@using EPiServer.Framework.Web.Mvc.Html
@model IPageViewModel<Norgesportalen.Models.Pages.BaseClasses.SitePageData>
<!DOCTYPE html>
<html lang="@Model.CurrentPage.LanguageBranch">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.CurrentPage.MetaTitle</title>
    @Html.CanonicalLink()
    @Html.AlternateLinks()
    <link rel="stylesheet" href="/Frontend/dist-web/Static/css/main.css">
    @Html.RequiredClientResources("_Header")
</head>

<body class="@Model.CurrentPage.PageTypeName.ToLower() no-js">

    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()

    <main class="main-content" id="main-content">
        @RenderBody()
    </main>
</body>
</html>