﻿@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Business.Publishing
@using Norgesportalen.Models.Pages.BaseClasses
@using Norgesportalen.Models.Interfaces
@using System.Web.Optimization
@using EPiServer.Framework.Web

@model IPageViewModel<SitePageData>
<!DOCTYPE html>
<html lang="@Model.CurrentPage.Language.Name">
<head>
    @{
        if (!PageEditing.PageIsInEditMode)
        {
            Html.RenderPartial("_GoogleTagManagerHead");
        }
    }
    @{
        string imageUrl;
        bool setWidthAndHeight = false;
        if (Model.CurrentPage != null && Model.CurrentPage.FaceBookImage != null)
        {
            imageUrl = $"{EPiServer.Web.SiteDefinition.Current.SiteUrl}{Url.ContentUrl(Model.CurrentPage.FaceBookImage)}";
        }
        else if (Model.CurrentPage is IHasMainImage pageWithMainImage && pageWithMainImage.MainImage != null)
        {
            imageUrl = $"{EPiServer.Web.SiteDefinition.Current.SiteUrl}{Url.ContentUrl(pageWithMainImage.MainImage)}";
        }
        else
        {
            imageUrl = $"{EPiServer.Web.SiteDefinition.Current.SiteUrl}Frontend/dist-web/static/images/meta/opengraph-200x200.png";
            setWidthAndHeight = true;
        }
    }
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        string metaTitle = Model.CurrentPage.MetaTitle;
        if (Model.Layout.CurrentPageIsHomePage)
        {
            metaTitle = Model.Layout.HomePageTitle;
        }
        else if (!(Model.CurrentPage is CountriesOverviewPage))
        {
            metaTitle += " - " + Model.Layout.HomePageTitle;
        }
    }

    <title>@metaTitle</title>

    <meta property="og:site_name" content="@EPiServer.Web.SiteDefinition.Current.Name">
    <meta property="og:title" content="@Model.CurrentPage.MetaTitle" />
    <meta name="title" content="@Model.CurrentPage.SeoTitle" />

    @if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaDescription))
    {
        <meta property="og:description" content="@Model.CurrentPage.MetaDescription" />
        <meta name="description" content="@Model.CurrentPage.SeoDescription" />
    }

    <meta property="og:type" content="website">
    <meta property="og:image" content="@imageUrl" />
    @if (setWidthAndHeight)
    {
        <meta property="og:image:width" content="200" />
        <meta property="og:image:height" content="200" />
    }
    <meta property="og:url" content="@Model.CurrentPage.CanonicalUrl">

    @if (Model.CurrentPage is SearchPage)
    {
        <meta name="robots" content="noindex, nofollow" />
    }

    <link rel="apple-touch-icon" sizes="57x57" href="/Frontend/dist-web/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Frontend/dist-web/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Frontend/dist-web/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Frontend/dist-web/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Frontend/dist-web/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Frontend/dist-web/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Frontend/dist-web/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Frontend/dist-web/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Frontend/dist-web/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="@EPiServer.Web.SiteDefinition.Current.Name">
    <link rel="icon" type="image/png" href="/Frontend/dist-web/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/Frontend/dist-web/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/Frontend/dist-web/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/Frontend/dist-web/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/Frontend/dist-web/favicons/favicon-32x32.png" sizes="32x32">

    @Html.AbsoluteCanonicalLink()
    @Html.AbsoluteAlternateLinks()
    @Styles.Render("~/Frontend/dist-web/Static/css/maincss")
    @if (PageEditing.PageIsInEditMode)
    {
        @Styles.Render("~/Frontend/dist-web/Static/css/editmode")
    }

    @Html.RequiredClientResources(RenderingTags.Header)
</head>

@{
    var cssClass = Model.CurrentPage.PageTypeName.ToLower();
    if (Model.CurrentPage is CountriesOverviewPage)
    {
        cssClass = "norway-info";
    }

}

<body class="@cssClass no-js">
    @{
        if (!PageEditing.PageIsInEditMode)
        {
            Html.RenderPartial("_GoogleTagManagerBody");
        }
    }
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()


    @if (!(Model.CurrentPage is CountriesOverviewPage))
    {
        <a href="#main-content" class="skipToContent" accesskey="s">@Html.Translate("/skipToMainContent")</a>
    }

    <header>
        @if (PageEditing.PageIsInEditMode && Model.CurrentPage is IAbleToFetchFromCentral)
        {
            Html.RenderPartial("_FetchDataFromCentralEditorHelper", Model);
        }
        @{
            Html.RenderPartial("_Header", Model);
        }
    </header>
    <main class="main-content" id="main-content" aria-hidden="false">

        @if (Model.CurrentPage is CountriesOverviewPage countriesOverviewPage)
        {
            @Html.PropertyFor(m => countriesOverviewPage.NatEmergencyContentArea)
        }

        @Html.PropertyFor(m => Model.Layout.NationalEmergencyArea)

        @if (!(Model.Layout.CurrentPageIsHomePage || Model.Layout.CurrentPageIsCountriesOverviewPage))
        {
            Html.RenderPartial("_Breadcrums");
        }

        @RenderBody()

        @if (Model.Layout.SurveyViewModel != null)
        {
            @Html.Partial("_Survey", Model.Layout.SurveyViewModel)

            @Scripts.Render("~/Static/Survey/page-survey")
        }
    </main>

    <footer>
        @{Html.RenderPartial("_Footer", Model);}
    </footer>

    @if (!(Model.CurrentPage is CountriesOverviewPage))
    {
        <script id="leadingtexts" type="application/json">
            @Html.Raw(Model.CurrentPage.GetLeadingTexts())
        </script>
    }

    @if (Model.Layout.GdprPopupPage != null)
    {
        <div class="gdpr-wrapper hidden" data-gdpr>
            <div class="container-large">
                <div class="gdpr">
                    <div class="gdpr-col-logo">
                        <span class="logo"></span>
                        @Html.PropertyFor(m => m.Layout.GdprPopupPage.LogoText)
                    </div>
                    <div class="gdpr-col-content">
                        @Html.PropertyFor(m => m.Layout.GdprPopupPage.MainColumn)
                    </div>
                    <div class="gdpr-col-accept">
                        <button type="button" class="btn-link" data-accept-gdpr>@Html.PropertyFor(m => m.Layout.GdprPopupPage.AgreeText)</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @Scripts.Render("~/Frontend/dist-web/Static/js/mainjs")
    @Html.RequiredClientResources(RenderingTags.Footer)
</body>
</html>
