﻿@import "../../styles/styles";
@import "../fonts/fonts";
@import "../../components/helpers/helpers";
@import "../../components/global/global";
@import "../../components/areas/areas";
@import "../../components/components/components";
@import "../../components/pages/pages";

#__bs_notify__ {
  display: block;
  padding: 15px;
  font-family: sans-serif;
  position: fixed;
  font-size: 0.9em;
  z-index: 9999;
  top: auto !important;
  right: 0px;
  bottom: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0 !important;
  background-color: rgba(27, 32, 50, 0.5) !important;
  margin: 0px;
  color: white;
  text-align: center;
  pointer-events: none;
}
