﻿@using EPiServer.SpecializedProperties
@model Norgesportalen.Models.Blocks.AccordionItemLinkListBlock

<div class="accordion">
    <button type="button" class="accordion-title" aria-controls="_@Model.TitleWithNoWhiteSpaces()" aria-expanded="false" id="@Model.TitleWithNoWhiteSpaces()">
        @Html.PropertyFor(x => x.Title)
        <span class="accordion-icon">
            <span class="horizontal"></span>
            <span class="vertical"></span>
        </span>
    </button>
    <div id="_@Model.TitleWithNoWhiteSpaces()" class="accordion-content" aria-hidden="true">
        <div class="accordion-content link-list" role="tabpanel" aria-hidden="true">
            @Html.PropertyFor(x => x.LinkList)
        </div>
    </div>
</div>
