﻿@model Norgesportalen.Models.Blocks.AccordionItemFreeTextTwoColumns


<div class="accordion">
    <button type="button" class="accordion-title" aria-controls="_@Model.TitleWithNoWhiteSpaces()" aria-expanded="false" id="@Model.TitleWithNoWhiteSpaces()">
        @Html.PropertyFor(x => x.Title)
        <span class="accordion-icon">
            <span class="horizontal"></span>
            <span class="vertical"></span>
        </span>
    </button>
    <div id="_@Model.TitleWithNoWhiteSpaces()" class="accordion-content" aria-hidden="true">
        <div class="accordion-content" role="tabpanel" aria-hidden="true">
            <div class="columns">
                <div class="column column-50">
                    @Html.PropertyFor(m => m.MainBody)
                </div>
                <div class="column column-50">
                    @Html.PropertyFor(m => m.MainBody2)
                </div>
            </div>
        </div>
    </div>
</div>
