﻿@using Norgesportalen.Business
@model Norgesportalen.Models.Blocks.ContactPersonBlockForAccordion

<div class="inner">
    <div class="portrait">@Html.PropertyFor(m => m.MainImage, new { Size = Constants.ImageSize.Tiny })</div>
    <div class="information">
        <h2>@Html.PropertyFor(m => m.Name)</h2>
        <p class="ingress">@Html.PropertyFor(m => m.Title)</p>
        @Html.PropertyFor(m => m.MainBody)
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <p><a href="mailto:@Model.Email">@Html.PropertyFor(m => m.Email)</a></p>
        }
        @if (!string.IsNullOrEmpty(Model.Phone))
        {
            <p>@Html.PropertyFor(m => m.Phone)</p>
        }
    </div>
</div>

