﻿@model Norgesportalen.Models.Blocks.EmergencyBlock

@using EPiServer.Editor

<section class="emergency-block padded--large @Html.Raw(Model.BannerColor)">
    <div class="container">
        <h2>@Html.PropertyFor(x => x.Title)</h2>
        @Html.PropertyFor(x => x.MainBody)

        @if (PageEditing.PageIsInEditMode)
        {
            @Html.PropertyFor(x => x.LinkText)
            @Html.PropertyFor(x => x.Url)
        }
        else if (Model.Url != null && !string.IsNullOrWhiteSpace(Model.Url.ToString()))
        {
            <p>
                @if (!string.IsNullOrWhiteSpace(Model.LinkText))
                {
                    <a href="@Model.Url">@Model.LinkText</a>
                }
                else
                {
                    @Html.PropertyFor(x => x.Url)
                }
            </p>
        }
    </div>
</section>

