﻿@model Norgesportalen.Models.Blocks.GoogleMapsBlock

@{
    string lat = "";
    string lng = "";
    string link = "";
    if (!string.IsNullOrEmpty(Model.Coordinates))
    {
        var longLat = Model.Coordinates.Split(',');
        lat = longLat[0];
        lng = longLat[1];
        link = string.Format("https://www.google.no/maps/place/{0},{1}", lat, lng);
    }

    var cursor = Model.LinkToGoogleMaps ? "pointer" : "initial";
}

@if (string.IsNullOrEmpty(Model.Coordinates))
{
    @Html.Raw("<h1>No coordinates set</h1>")
}
else
{
    if (Model.LinkToGoogleMaps)
    {
        <a href="@link" target="_blank" rel="noreferrer">
            <div id="googleMap" class="googlemap"></div>
        </a>
    }
    else
    {
        <div id="googleMap" class="googlemap"></div>
    }

    <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(@lat,@lng);
            var mapProp = { center: myCenter, zoomControl: false, streetViewControl: false, fullscreenControl: false, mapTypeControl: false, zoom: @Model.ZoomLevel, scrollwheel: false, gestureHandling: 'none', draggableCursor: '@cursor', clickableIcons: false, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Yj4Bdy6nbsszqLFo81uM3FQ4NEK_XD4&callback=myMap"></script>
}

