﻿@using Norgesportalen.Business
@model Norgesportalen.Models.Blocks.ImageBlock


    <figure>
        @Html.PropertyFor(x => x.Image, new {Size = Constants.ImageSize.Large}
            )
        <figcaption>@Html.PropertyFor(x => x.ImageText)</figcaption>
    </figure>

