﻿@model Norgesportalen.Models.Blocks.InfographicBlock
<div class="inner">
    @Html.PropertyFor(x => x.Image)
    <h3>@Html.PropertyFor(x => x.Heading)</h3>
    <p>@Html.PropertyFor(x => x.Text)</p>
</div>