﻿@using EPiServer.Editor;
@model Norgesportalen.Models.Blocks.LinkWithTitleContainerBlock

@{
    bool isItems = Model.LinkWithTitleContentArea?.FilteredItems?.Any() == true;
}

<div class="link-list">
    <h2>@Html.PropertyFor(m => m.Title)</h2>
    @if (PageEditing.PageIsInEditMode || isItems)
    {
        if (Model.LinkWithTitleContentArea != null && Model.LinkWithTitleContentArea.Count < 4)
        {
            @Html.PropertyFor(m => m.LinkWithTitleContentArea, new { CssClass = "panels", ChildrenCssClass = "panel panel--large arrow-link"})
        }
        else
        {
            @Html.PropertyFor(m => m.LinkWithTitleContentArea, new { CssClass = "panels", ChildrenCssClass = "panel arrow-link"})
        }
    }
</div>




