﻿@model Norgesportalen.Models.Blocks.LinkWithTextContainerBlock

<div class="link-panel">
    <h2>@Html.PropertyFor(m => m.Title)</h2>
    @Html.PropertyFor(m => m.LinkWithTextContentArea, new { CssClass = "panels", ChildrenCssClass = "panel" })
</div>