﻿@model Norgesportalen.Models.Blocks.LinkWithTextBlock
<div class="inner">
    <p>
        @Html.PropertyFor(x => x.Text)
    </p>
    <p class="arrow-link">
        <a title="@Model.Title" href="@Model.Url" target="_blank" @Html.EditAttributes(m => m.Title)>@Model.Title</a>
    </p>
</div>