﻿@model Norgesportalen.Models.Blocks.LinkWithTitleBlock
<div class="inner">
    <p class="arrow-link"> 
        <a title="@Model.Title" href="@Url.ContentUrl(Model.LinkUrl)" class="@ViewData["ElementCssClass"]" @Html.EditAttributes(m => m.Title)> 
        @Model.Title 
        </a> 
    </p> 
</div>
