﻿@model Norgesportalen.Models.Blocks.LogoBlock
@*<a href="@ViewData["HomeLink"]" class="brand">*@
    <span class="logo"></span>
    <span class="logo-title" @Html.EditAttributes(m => m.LogoTitle)>@Model.LogoTitle</span>
    <span class="logo-subtitle" @Html.EditAttributes(m => m.LogoSubText)>@Model.LogoSubText</span>

