﻿@using EPiServer.Editor;
@model Norgesportalen.Models.Blocks.NewsletterSubscriptionBlock

<div class="subscription-block">
    <h2>@Html.PropertyFor(x => x.Title)</h2>
    <span class="information">
        @Html.PropertyFor(x => x.MainIntro)
    </span>

    @{
        string ListAndConfPageId;
        if (Model.EmailVerificationEnabled && Model.ConfirmSubscriptionPage != null)
        {
            ListAndConfPageId = Model.NewsLetterList + "," + Model.ConfirmSubscriptionPage.ID.ToString();
        } else
        {
            ListAndConfPageId = Model.NewsLetterList;
        }
    }
    <form class="newsletter-subscription" data-subscribeid="@ListAndConfPageId" data-thankyou="@Model.ThankYouMsg" 
          data-error="@Html.Translate("/Error/internalError/ingress")" data-tryagain="@Html.Translate("/Error/internalError/button")">
        <div class="input-group">
            <input type="email" name="email" class="subscribe-email" placeholder="@Html.Translate("/NewsLetter/email")" />
            <div class="input-group-btn">
                <input type="submit" value="@Html.Translate("/NewsLetter/send")" />
            </div>
        </div>
    </form>      
    <div class="response hidden">
    </div>
</div>
