﻿@using Norgesportalen.Models.Blocks;
@model TopTaskLinkListBlock

@{
    Model.IsSmall = false;
}

<main class="main-content">
    <div class="inner">
        <span class="headline">
            @Html.PropertyFor(x => x.Title)
        </span>
        @Html.PropertyFor(x => x.LinkList)

        <p>
            @Html.PropertyFor(x => x.ReadMoreLinkTitle)<br />
            @Html.PropertyFor(x => x.TitleAndReadmoreLink)
        </p>
    </div>
</main>