﻿.related-link-panel {
  border-top: 1px solid $seperator-color-light;
  border-bottom: 1px solid $seperator-color-light;
  padding-top: 12px;

  .panel {
    flex: 0 0 100%;
    flex-basis: 100%;
  }

  .white-panel {
    background-color: $base-color;
  }
}
