﻿$micro: 328px; 	 // 0px to 328px = Older small mobiles
$mini: 375px; 	 // 0px to 375px = Small mobiles
$mobile: 768px;	 // 360px to 767px = Normal phones / very small tablets
$tablet: 1024px; // 768px to 1279px = Normal tablets / very small laptops
// 1280px to Infinity = Desktops, TVs etc.