﻿@using Norgesportalen.Models.Pages.BaseClasses;
@model  BasicPageBase

<a href="@Url.ContentUrl(Model.LinkURL)">
    <div class="text">
        <div class="date">
            @if (!Model.HideDate)
            {
                if (Model.StartPublish.HasValue)
                {
                    @Model.StartPublish.Value.ToString(BasicPageBase.GetDateFormatString())
                }
                if (Model.Location != null)
                {
                    @Html.Raw(" | ")
                }
            }
            @Model.Location
        </div>
        <h2 class="headline">@Model.HeadingOrPageName</h2>
        <p class="intro">@Model.ShortIntro</p>
    </div>
</a>

