﻿@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Models.Pages.BaseClasses;
@using System.Globalization;
@model  BasicPageBase

@{
    string imageUrl = Model.MainImage.GetImageUrl(Constants.ImageSize.Large);
}

<a href="@Url.ContentUrl(Model.LinkURL)">
    <div class="img" style="background-image: url(@imageUrl);">

    </div>

    <div class="text">
        <div class="date">
            @if (!Model.HideDate)
            {
                if (Model.StartPublish.HasValue)
                {
                    @Model.StartPublish.Value.ToString(BasicPageBase.GetDateFormatString())
                }
                if (Model.Location != null)
                {
                    @Html.Raw(" | ")
                }
            }
            @Model.Location
        </div>
        <h2 class="headline">@Model.HeadingOrPageName</h2>
        <p class="intro">@BasicPageBase.TeaserOrFallbackToIntro(Model.TeaserText, Model.MainIntro)</p>
    </div>
</a>

