.mission-address-block {
  background: #f6f2f1;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;

  @include larger-than($mobile) {
    flex-direction: row;
  }

  strong,
  p {
    font-size: 1.125rem;
  }

  .panel-info {
    margin: 0;
  }

  .panel {
    min-width: 50%;
    flex: 1;
    padding: 1rem;

    &.maps-panel {
      padding: 0;

      //some divs that comes from BE with googlemaps api
      > div, 
      > div > div {
        height: 100%
      }

      .googlemap,
      #googleMap {
        min-height: 400px;
        height: 100%;
        margin-bottom: 0;
      }
    }
  }
}
