﻿

.pagination {
    text-align: center;

    ul li {
        list-style-type: none;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    li.current a {
        border: 0;
        background-color: $seperator-color;
        color: white;
        height: 32px;
        width: 32px;
        border-radius: 32px;
    }

    li {
        a {
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            margin-left: 15px;
            font-weight: 600;

            &:hover{
                border-bottom: none;
            }
        }

        // Targeting li's with no class attribute
        &:not([class]) a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: none;
            padding-bottom: 0;
            color: $arctic-blue;
            height: 32px;
            width: 32px;
            border-radius: 32px;

            &:hover, &:focus {
                background-color: $light-gray;
                color: $passion-red;
                border: none;    
            }
        }
    }
    
    .pagination-arrow--next a, 
    .pagination-arrow--prev a{
        color: $arctic-blue;
        position: relative;
        background-color: $light-gray;
        width: auto;
        height: auto;
        border: none;
        line-height: 20px;
        padding: 12px 26px;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;
        align-items: baseline;
        text-transform: capitalize;
    
        &::before, &::after {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition: background-image 0.2s ease-in-out;
        }

        &:hover, &:focus{
            background-color: $passion-red;
            color: white;
        }
    }

    .pagination-arrow--prev a {
        &::before{
            background-image: url("../images/lenkepil-bla-2019.svg");
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            width: 10px;
            height: 10px;
            margin-right: 3px;
        }

        &:hover, &:focus{
            &::before{
                background-image: url("../images/lenkepil-hvit-2019.svg");
            }
        }
    }

    .pagination-arrow--next a {
        &::after{            
            background-image: url("../images/lenkepil-bla-2019.svg");
            width: 10px;
            height: 10px;
            margin-left: 3px;
        }

        &:hover, &:focus{
            &::after{
                background-image: url("../images/lenkepil-hvit-2019.svg");
            }
        }
    }
}
