﻿@using EPiServer.Editor;
@model FilteredListViewModel

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }


<article class="light">
    <header>
        <div class="container">
            <h1 class="text-center"> @Html.PropertyFor(m => m.CurrentPage.Heading)</h1>
        </div>
    </header>
    <br />
    <section class="news-list">
        <div class="container">
            @if (PageEditing.PageIsInEditMode)
            {
                <p class="information-alert-block">Note to editor: List is cached for visitors, content refreshes after 4 min.</p>
            }
            <div class="panels">
                @foreach (var page in Model.ArticlesOnPage)
                {
                    <div class="panel">
                        <a href="@Url.ContentUrl(page.LinkUrl)" class="inner">
                            <small>@page.Published @page.Location</small>
                            <h2>@page.Name</h2>
                            <p>
                                @page.Text
                            </p>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
    @*pagination*@
    <section class="pagination padded--xsmall">
        <div class="container-small">
            @if (Model.Paging.PagerLinks != null)
            {
                <ul>
                    @if (Model.Paging.PreviousPage != null)
                    {
                        <li class="arrow-prev">@Html.ActionLink("#", "index", Model.Paging.PreviousPage.Route)</li>
                    }
                    @foreach (var pagerLink in @Model.Paging.PagerLinks)
                    {
                        if (pagerLink.IsActivePage)
                        {
                            <li class="current"><a href="#">@pagerLink.LinkText</a></li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(pagerLink.LinkText, "index", pagerLink.Route)</li>
                        }
                    }
                    @if (Model.Paging.NextPage != null)
                    {
                        <li class="arrow-next">@Html.ActionLink("#", "index", Model.Paging.NextPage.Route)</li>
                    }
                </ul>
            }
        </div>
    </section>
</article>