﻿.language-bar {
    display: block;
    margin: 0 0 .5rem;
    text-align: right;

    .language {
        display: inline-block;
        font-size: .875rem;
        text-transform: uppercase;
        position: relative; 
        padding: 0;
         
        a {
            color: $passion-red;
        }

        &:not(:first-child) {
            &::before {
                display: inline-block;
                margin: 0 1rem;
                width: 1px;
                content: '|';
                text-indent: 99999px;
                background-color: $font-color;
            }
        }
    }

    .language-seperator {
        display: inline-block;
        font-size: .875rem;
        margin: 0 1rem;

        &::before {
            border-right: 1px solid $font-color;
            content: '';
        }
    }

    .language-dropdown-btn {
        cursor: pointer;
        text-decoration: underline;
    }

    .language-dropdown {
        position: absolute;
        right: 0;
        z-index: 200;
        background-color: #f6f2f1;
        border-top: 1px solid $passion-red;
        padding: 1rem;
        width: 230px;
        text-align: left;
        margin-top: 10px;
        display: none;

        &.open {
            display: block;
        }

        &::before {
            position: absolute;
            content: " ";
            bottom: 100%;
            left: 100%;
            margin-left: -14px;
            border-width: 7px;
            border-style: solid;
            border-color: transparent transparent $passion-red;
        }

        .language-dropdown-link {
            border-top: 1px solid $seperator-color;
            margin: .5rem 0;
            padding: .5rem 0;

            .arrow-link {
                background: none;
            }
        }
    }
}

.header-content > .language-bar {
    @include smaller-than($tablet) {
        display: none;
    }
}

.dropdown-menu .language-bar {

    &, a {
        color: #fff;
    }

    a {
        display: inline-block;
        font-size: .875rem;
    }

    .language::before {
        background-color: #fff;
    }

    @include larger-than($tablet) {
        display: none;
    }
}
