﻿article {
    background-color: #fff;
    header {
        font-size: .75rem;
        font-weight: 600;
        position: relative;

        .container {
            padding-top: 2rem;
        }
    }

    section {
        padding: 0rem 0 2rem;
    }

    &.light {
        background-color: $alternate-background;
    }

    .article-content-with-sidebar {
       width: 75%;
       padding-right: 2rem;
       display: inline-block;

        &::after {
            display: table;
            clear: both;
            content: '';
        }

        @include smaller-than($mobile) {
            width: 100%;
            float: left;
            padding: 0;
        }
    }
}
