﻿@model PageViewModel<ContactPage>

@{
    var mapIsUsed = Model.CurrentPage.GoogleMapsBlock?.FilteredItems?.Any() == true;
    var addressTextIsUsed = Model.CurrentPage.MissionAddressField != null && !string.IsNullOrWhiteSpace(Model.CurrentPage.MissionAddressField.ToString());
}


@if (addressTextIsUsed || mapIsUsed || Model.CurrentPage.IsInEditMode())
{
    <div class="panels mission-address-block">
        @if (addressTextIsUsed || Model.CurrentPage.IsInEditMode())
        {
            <div class="panel">
                @Html.PropertyFor(m => m.CurrentPage.MissionAddressField)
            </div>
        }

        @if (mapIsUsed || Model.CurrentPage.IsInEditMode())
        {
            <div class="panel maps-panel">
                @Html.PropertyFor(m => m.CurrentPage.GoogleMapsBlock)
            </div>
        }
    </div>
}