﻿@using EPiServer.Editor
@using EPiServer.Core
@using Norgesportalen.Business.Extensions

@model PageViewModel<ContactPage>

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
    var isSocialMediaLink = Model.CurrentPage.SocialmediaViewMorePageRef != null;
}

@if (Model.CurrentPage.HeadingImage != null || PageEditing.PageIsInEditMode)
{
    <div class="header-image">
        <div class="header-image-inner">
            <figure>
                @Html.PropertyFor(m => m.CurrentPage.HeadingImage)
                <figcaption class="visually-hidden">@Html.PropertyFor(m => m.CurrentPage.HeadingImageText)</figcaption>
            </figure>
            <span class="figcaption" aria-hidden="true">@Html.PropertyFor(m => m.CurrentPage.HeadingImageText)</span>
        </div>
    </div>
}
<article class="service">
    <header class="container">
        <h1>@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>
    </header>
    <section>
        <div class="container">
            <p class="ingress">
                @Html.PropertyFor(m => m.CurrentPage.MainIntro)
            </p>

            <div class="article-content">
                @Html.Partial("~/Views/ContactPage/_MissionAddressBlock.cshtml")
                @Html.PropertyFor(m => m.CurrentPage.MainBody)
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            @Html.PropertyFor(m => m.CurrentPage.AccordionContentArea)
            @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.RelatedLinks, ChildrenCssClass = "padded--small" })
        </div>
    </section>
    @if (Model.CurrentPage.SocialMediaContentArea?.FilteredItems?.Any() == true || Model.CurrentPage.IsInEditMode())
    {
        <section class="social-panel padded--xsmall">
            <div class="container-large">
                <div class="panels">
                    @Html.PropertyFor(m => m.CurrentPage.SocialMediaContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.SocialMedia.Panel, HasContainer = false, ChildrenCssClass = "panel" })

                    @if (isSocialMediaLink || Model.CurrentPage.IsInEditMode())
                    {
                        <div class="panel">
                            <a href="@Url.ContentUrl(Model.CurrentPage.SocialmediaViewMorePageRef)" class="inner">
                                <img src="/Frontend/dist-web/Static/images/lenkePil.svg" class="icon" />
                                <span @Html.EditAttributes(m => m.CurrentPage.SocialmediaViewMorePageRef)>@Html.Translate("/SocialMedia/viewAllSocialMedia")</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    @* News Section ------------------------------------------------*@
    @if (Model.CurrentPage.NewsContentArea?.FilteredItems?.Any() == true || Model.CurrentPage.IsInEditMode())
    {
        <section class="news-list light padded">
            <div class="container-large">
                @if (!PageReference.IsNullOrEmpty(Model.CurrentPage.NewsListPageRef) || Model.CurrentPage.IsInEditMode())
                {
                    <a href="@Url.ContentUrl(Model.CurrentPage.NewsListPageRef)">
                        <h1 class="h1 text-center" @Html.EditAttributes(m => m.CurrentPage.NewsListPageRef)>@(Model.CurrentPage.NewsListPageRef.GetHeadingFromPageref())</h1>
                    </a>
                }

                @Html.PropertyFor(m => m.CurrentPage.NewsContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.NewsList, CssClass = "panels", ChildrenCssClass = "panel" })

                @if (!PageReference.IsNullOrEmpty(Model.CurrentPage.NewsListPageRef) || Model.CurrentPage.IsInEditMode())
                {
                    <span class="text-center">
                        <a href="@Url.ContentUrl(Model.CurrentPage.NewsListPageRef)" class="view-all-btn">
                            @Html.Translate("/viewAll")
                        </a>
                    </span>
                }
            </div>
        </section>
    }
</article>
