﻿.dropdown-menu {
  background-color: #227f94;
  color: $base-color;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 150px;
  bottom: 0;
  left: 0;

  @include smaller-than($tablet) {
    top: 110px;
  }

  @include smaller-than($mobile) {
    top: 100px;
  }

  &::before {
    content: "";
    background-image: url(../images/nordlys_med_bg.png);
    background-repeat: no-repeat;
    background-position: 60% top;
    background-size: contain;
    background-color: #227f94;
    display: block;
    height: 400px;
    margin: -40px 0 0 -50%;
    position: absolute;
    top: 0;
    transform: rotate(-2deg);
    width: 200%;
    z-index: -1;
  }

  &.open {
    display: block;
  }

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .dropdown-content {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin: 0 auto;
    width: 100%; //110%
    padding: 2rem 0; //2rem 10% 2rem 0

    @include smaller-than($mobile) {
      padding: 0 0 2rem; //0 10% 2rem 0
    }
  }

  .container {
    min-height: 100%;
  }

  a {
    color: $base-color;
    display: block;
    text-decoration: none;

    @include larger-than($mobile) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menu-item {
    text-decoration: none;
    margin: 0.5rem 0 0.5rem 1.25rem;

    &::before {
      background-image: url("../images/lenkepil-hvit-2019.svg");
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: inline-block;
      margin: 2px 0;
      height: 11px;
      width: 11px;
      position: absolute;
      transform: translate(-14px, 5px);
      transition: transform 0.2s ease-in-out;
    }
    &:hover {
      &::before {
        transform: translate(-11px, 5px);
      }
    }
  }

  h1 {
    margin: 0;
    display: block;
    font-size: 1.125rem;
    position: relative;

    a {
      text-decoration: underline;
    }

    @include smaller-than($mobile) {
      a {
        text-decoration: none;
        padding: 0.5rem 1.5rem 0.5rem 0;
        line-height: 2rem;
        font-size: 1rem;
      }

      &::after {
        background-image: url("../images/arrow-white.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: left center;
        content: "";
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        height: 2rem;
        width: 14px;
      }
    }
  }

  .panels {
    @include smaller-than($mobile) {
      border-top: 1px solid $arctic-blue-light;
    }
  }

  .panel {
    flex: 1 0 25%;
    padding: 0.5rem 0;

    .inner {
      padding: 0 1rem 0 0;
    }

    @include smaller-than($mobile) {
      flex: 1 0 100%;
      border-bottom: 1px solid $arctic-blue-light;
      padding: 0;

      .inner {
        padding: 0;
      }
    }
  }

  .about-norway {
    margin: 2rem 0 0;
    padding: 2rem 0;
    border-top: 1px solid $arctic-blue-light;
    border-bottom: 1px solid $arctic-blue-light;

    ul {
      margin: 0.5rem 0;
    }

    li {
      display: inline-block;
      border-right: 1px solid #fff;
      padding: 0 1rem 0 0;
      margin: 0 1rem 0.25rem 0;

      &:last-child {
        border: 0px;
      }
    }

    @include smaller-than($mobile) {
      margin: 0;
      padding: 0;
      border-top: 0;
    }
  }

  .search-container form {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include smaller-than($mobile) {
      input {
        width: calc(100% - 49px);
      }
    }
  }
}
