﻿@using EPiServer.Editor
@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions

@model EventPageViewModel

@if (PageEditing.PageIsInEditMode)
{
    <div class="grid-container grid-container--s">
        @Html.PropertyFor(m => m.CurrentPage.ImageCarouselArea)
    </div>
}
else
{
    <div class="carousel" role="region" aria-roledescription="carousel"	>
        <ul class="carousel__slides" data-carousel-slides>
            @foreach (var image in Model.CarouselImages)
            {
                <li class="carousel__slide" data-carousel-slide id="@image.ContentGuid" aria-hidden="true" aria-roledescription="slide">
                    <figure class="carousel__slide__figure">
                        <div class="carousel__slide__img">
                            <img class="ratio__content" src="@image.ContentLink.GetImageUrl(Constants.ImageSize.CarouselMain)" alt="@image.ContentLink.GetImageAltText()" />
                        </div>
                        <figcaption class="carousel__slide__caption">
                            @image.ContentLink.GetImageText()
                            @if (!image.Credit.IsEmpty())
                            {
                                <span class="carousel__slide__credit credit">@Html.Translate("/Media/photo"): @image.Credit</span>
                            }
                        </figcaption>
                    </figure>
                </li>
            }
        </ul>

        <ul class="carousel__thumbnails">
            @{var counter = 1; }
            @foreach (var image in Model.CarouselImages)
            {
                <li class="carousel__thumbnail" >
                    <button class="carousel__button" data-carousel-button aria-controls="@image.ContentGuid" aria-label="@Html.Translate("/EventPage/ImageCarousel/thumbnailText") @counter">
                        <img class="ratio__content" src="@image.ContentLink.GetImageUrl(Constants.ImageSize.CarouselThumbnail)" alt="@image.ContentLink.GetImageAltText()" />
                    </button>
                </li>
                counter++;
            }       
        </ul>
        
    </div>
}