﻿@using EPiServer.Editor
@using Norgesportalen.Business

@model EventPageViewModel

@Html.FullRefreshPropertiesMetaData(new[] { "StartTimeConverted", "EndTimeConverted", "EventTimezoneId" })

@{

    var startDay = Model.CurrentPage.StartTimeConverted.ToString("dd");
    var startMonth = Model.CurrentPage.StartTimeConverted.ToString("MMM yyyy");
    var endDay = Model.CurrentPage.EndTimeConverted.ToString("dd");
    var endMonth = Model.CurrentPage.EndTimeConverted.ToString("MMM yyyy");
    var sameStartAndEndDateDay = startDay.Equals(endDay, StringComparison.Ordinal);
    var sameStartAndEndDateMonth = startMonth.Equals(endMonth, StringComparison.Ordinal);
    var isEventWebSite = Model.CurrentPage.EventWebsiteUrl != null;
}

<dl class="event-details__list">
    <dt>@Html.Translate("/Eventpage/Where")</dt>
    <dd>
        <address>
            @Html.PropertyFor(x => x.CurrentPage.Location, new { Tag = Constants.UIHint.LineBreakString })
        </address>
    </dd>
    <dt>@Html.Translate("/Eventpage/when")</dt>
    <dd>
        @if (PageEditing.PageIsInEditMode)
        {
            <time datetime="@Model.CurrentPage.StartTimeConverted.ToString("yyyy-MM-dd HH:mm:ss:fff")">@Html.PropertyFor(m => m.CurrentPage.EventStartDate)</time>
            <time datetime="@Model.CurrentPage.EndTimeConverted.ToString("yyyy-MM-dd HH:mm:ss:fff")">@Html.PropertyFor(m => m.CurrentPage.EventStopDate)</time>

            if (!string.IsNullOrEmpty(Model.CurrentPage.EventTimezoneId))
            {
                <span>@Html.PropertyFor(m => m.CurrentPage.EventTimezoneId)</span>
                <small style="color:red">[Timezone: @TimeZoneInfo.FindSystemTimeZoneById(Model.CurrentPage.EventTimezoneId).DisplayName]</small>
            }
        }
        else
        {
            if (sameStartAndEndDateMonth)
            {
                if (sameStartAndEndDateDay)
                {
                    <time datetime="@Model.CurrentPage.StartTimeConverted.ToString("yyyy-MM-dd HH:mm:ss:fff")">
                        @Model.CurrentPage.StartTimeConverted.ToString("dd. MMM yyyy, HH:mm")
                    </time>
                    <span>-</span>
                    <time datetime="@Model.CurrentPage.EndTimeConverted.ToString("yyyy-MM-dd HH:mm:ss:fff")">
                        @Model.CurrentPage.EndTimeConverted.ToString("HH:mm")
                    </time>
                }
                else
                {
                    <time datetime="@Model.CurrentPage.StartTimeConverted.ToString("yyyy-MM-dd HH:mm:ss:fff")">
                        @Model.CurrentPage.StartTimeConverted.ToString("dd. MMM yyyy, HH:mm")
                    </time>
                    <span>-</span>
                    <time datetime="@Model.CurrentPage.EndTimeConverted.ToString("yyyy-MM-dd HH:mm:ss:fff")">
                        @Model.CurrentPage.EndTimeConverted.ToString("dd. MMM yyyy, HH:mm")
                    </time>
                }
            }
            else
            {
                <time datetime="@Model.CurrentPage.StartTimeConverted.ToString("yyyy-MM-dd HH:mm:ss:fff")">
                    @Model.CurrentPage.StartTimeConverted.ToString("dd. MMM yyyy, HH:mm")
                </time>
                <span>-</span>
                <time datetime="@Model.CurrentPage.EndTimeConverted.ToString("yyyy-MM-dd HH:mm:ss:fff")">
                    @Model.CurrentPage.EndTimeConverted.ToString("dd. MMM yyyy, HH:mm")
                </time>
            }
        }
    </dd>
    <dt>@Html.Translate("/Eventpage/What")</dt>
    <dd>@Html.PropertyFor(m => m.CurrentPage.What)</dd>
</dl>

@if (isEventWebSite || PageEditing.PageIsInEditMode)
{
    if (PageEditing.PageIsInEditMode)
    {
        <br />
        <strong>@Html.Translate("/Eventpage/EventWebSite"):</strong>

        @Html.PropertyFor(m => m.CurrentPage.EventWebsiteUrl)
    }
    else
    {
        <a href="@Model.CurrentPage.EventWebsiteUrl" class="btn">@Html.Translate("/Eventpage/EventWebSite")</a>
    }
}
