﻿@using EPiServer.Editor
@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Business.Helpers
@model EventPage
@{
    var formattedEventDate = HtmlHelpers.FormatDateTimeForEventCard(Model.StartTimeConverted, Model.EndTimeConverted);
}

<div class="card__img">
    @if (Model.MainImage != null || PageEditing.PageIsInEditMode) 
    {
        <img class="ratio__content" src="@Model.MainImage.GetImageUrl(Constants.ImageSize.Large)" alt="@Model.MainImage.GetImageAltText()" /> 
    }
</div>
<div class="card__body">
    <div class="card__dates">
        <time datetime="@Model.StartTimeConverted.ToString("yyyy-MM-dd HH:mm:ss:fff")"> @Html.Raw(formattedEventDate)</time>
    </div>
    <a class="js-card__title" href="@Model.LinkURL">
        <h2 class="card__title">@Model.Name</h2>
    </a>
    <p class="card__excerpt">
        @Model.MainIntro
    </p>
    <footer class="card__footer">
        <div class="arrow">
            <svg width="29" class="arrow__svg" height="10" viewBox="0 0 29 10" xmlns="http://www.w3.org/2000/svg">
                <line y1="5" x2="27" y2="5" stroke-width="2" />
                <path d="M28.0416 5L24.0891 9.26447L23.6814 8.82463L26.9046 5.33949L27.2186 5L26.9046 4.66051L23.6814 1.17537L24.0891 0.735534L28.0416 5Z" />
            </svg>
        </div>
    </footer>
</div>