﻿@using EPiServer.Editor
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Business

@model EventPageViewModel
@Html.FullRefreshPropertiesMetaData(new[] { "StartTimeConverted", "EndTimeConverted", "EventTimezoneId" })

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}
<article class="article eventpage">
    <header class="article__header">
        <div class="grid-container grid-container--l grid-container--bleed">
            @if (PageEditing.PageIsInEditMode)
            {
                @Html.PropertyFor(m => m.CurrentPage.MainImage)
            }
            else
            {
                <div class="article__hero hero">
                    @if (!Model.CurrentPage.MainImage.GetImageUrl(Constants.ImageSize.HeroPoster).IsEmpty() || Model.CurrentPage.MainImage != null)
                    {
                        <div class="hero__poster">
                            <img class="ratio__content hero__img" src="@Model.CurrentPage.MainImage.GetImageUrl(Constants.ImageSize.HeroPoster)" alt="@Model.CurrentPage.MainImage.GetImageAltText()" loading="auto" />
                        </div>
                    }
                </div>
            }

            @if (PageEditing.PageIsInEditMode)
                {
                    <h1 class="article__title">@Html.PropertyFor(m => m.CurrentPage.Name)</h1>
                }
                else{
                    if (Model.CurrentPage.MainImage.GetImageUrl(Constants.ImageSize.HeroPoster).IsEmpty() || Model.CurrentPage.MainImage == null )
                    {
                        <h1 class="article__title">@Html.PropertyFor(m => m.CurrentPage.Name)</h1>
                    } 
                    else
                    {
                        <h1 class="article__title article__title--pull-up">@Html.PropertyFor(m => m.CurrentPage.Name)</h1>
                    }
                }

        </div>
    </header>

    <section>
        <div class="grid-container grid-container--l">
            <div class="article__body">
                <div class="article__ingress">
                    <p>
                        @Html.PropertyFor(m => m.CurrentPage.MainIntro)
                    </p>
                </div>

                <!-- EventDetails Partial -->
                <aside class="article__aside">
                    <div class="event-details">
                        <div class="event-details__content">
                            @Html.Partial("EventDetailsPartial")
                        </div>
                    </div>
                </aside>

                @if (PageEditing.PageIsInEditMode)
                {
                    <div class="article__richtext" style="clear: left;">
                        @Html.PropertyFor(m => m.CurrentPage.MainBody)
                    </div>
                }
                else
                {
                    <div class="article__richtext">
                        @Html.PropertyFor(m => m.CurrentPage.MainBody)
                    </div>
                }
                @if (PageEditing.PageIsInEditMode)
                {
                    <figure class="article__mainfigure">
                        @Html.PropertyFor(m => m.CurrentPage.MainImageMiddle)
                        <figcaption class="article__mainfigure__caption">

                            @Model.CurrentPage.MainImageMiddle.GetImageText()
                            @if (!string.IsNullOrEmpty(Model.CurrentPage.MainImageMiddle.GetImageCredit()))
                            {
                                <span class="article__mainfigure__credit credit"> @Html.Translate("/Media/photo"): @Model.CurrentPage.MainImageMiddle.GetImageCredit() </span>
                            }
                        </figcaption>
                    </figure>
                }
                else
                {
                    if (!Model.CurrentPage.MainImageMiddle.GetImageUrl(Constants.ImageSize.MainImageMiddle).IsEmpty())
                    {
                        <figure class="article__mainfigure">
                            <div>
                                <img src="@Model.CurrentPage.MainImageMiddle.GetImageUrl(Constants.ImageSize.MainImageMiddle)" alt="@Model.CurrentPage.MainImageMiddle.GetImageAltText()" />
                            </div>
                            <figcaption class="article__mainfigure__caption">
                                @Model.CurrentPage.MainImageMiddle.GetImageText()
                                @if (!Model.CurrentPage.MainImageMiddle.GetImageCredit().IsEmpty())
                                {
                                    <span class="article__mainfigure__credit credit"> @Html.Translate("/Media/photo"): @Model.CurrentPage.MainImageMiddle.GetImageCredit()</span>
                                }
                            </figcaption>
                        </figure>
                    }
                }

                <div class="article__richtext">
                    <h2>@Html.PropertyFor(m => m.CurrentPage.HeadingSecond)</h2>
                    @Html.PropertyFor(m => m.CurrentPage.MainBodySecond)
                </div>
            </div>
        </div>
    </section>

    <!-- Render Carousel Partial -->
    @if (Model.CurrentPage.ImageCarouselArea?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode)
    {
        <section class="padded carousel-wrapper">
            <div class="grid-container grid-container--l">
                @Html.Partial("CarouselPartial")
            </div>
        </section>
    }

    <!-- Event details with map -->
    <section class="padded">
        <div class="grid-container grid-container--l">
            <div class="event-details event-details--maps">
                <div class="event-details__content">
                    @Html.Partial("EventDetailsPartial")
                </div>
                @if (PageEditing.PageIsInEditMode)
                {
                    <div style="flex: 1 1 50%"> @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { hascontainer = false })</div>
                }
                else
                {
                    <div class="event-details__map">
                        @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { hascontainer = false })
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- Card-list with other events -->
    <section class="section light padded">
        <div class="grid-container">
            <h2 class="section__title">@Html.PropertyFor(m => m.CurrentPage.RelatedEventsHeading)</h2>
            <div class="grid-row">
                @Html.PropertyFor(m => m.CurrentPage.RelatedEventPages, new { Tag = Norgesportalen.Global.ContentAreaTags.RelatedEvents, hascontainer = true, customtag = "ul", CssClass = "card-list", childrencustomtagname = "li", ChildrenCssClass = "card-list__item" })
            </div>
        </div>
    </section>

</article>
