﻿@using EPiServer.Editor
@using EPiServer.Core
@using Norgesportalen.Business
@using Norgesportalen.Business.Extensions
@using Norgesportalen.Models.Pages.BaseClasses

@model PageViewModel<ThemePage>
@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
    PageBase localContentReferencePage = null;
    if (Model.CurrentPage.LocalContentReference != null)
    {
        localContentReferencePage = Model.CurrentPage.GetLocalContentPage(Model.CurrentPage.LocalContentReference);
    }
}

<article>
    @if (PageEditing.PageIsInEditMode && Model.CurrentPage.LinkType != EPiServer.Core.PageShortcutType.FetchData)
    {
        @Html.PropertyFor(m => m.CurrentPage.Image)
        @Html.FullRefreshPropertiesMetaData(new[] { "Image" })
    }
    <header style="background-image: url(@Model.CurrentPage.Image.GetImageUrl(Constants.ImageSize.Xlarge))">
        <div class="article-top">
            <h1 @Html.EditAttributes(x => x.CurrentPage.Heading) class="article-title">@Model.CurrentPage.Heading</h1>
            @if (Model.CurrentPage.MainIntro != null || PageEditing.PageIsInEditMode)
            {
                <p class="article-intro container" @Html.EditAttributes(x => x.CurrentPage.MainIntro)>
                    @Html.DisplayFor(m => m.CurrentPage.MainIntro)
                </p>
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.CurrentPage.getImageCredit(Model.CurrentPage.Image)))
        {
            <span class="image-caption" role="presentation">@Html.Translate("/Media/photo"): @Model.CurrentPage.getImageCredit(Model.CurrentPage.Image)</span>
        }
    </header>
    @if (Model.CurrentPage.MainBody != null || !string.IsNullOrEmpty(Model.CurrentPage.LocalHeading) || PageEditing.PageIsInEditMode)
    {
        <section class="main-body padded--medium">
            <div class="container text-columns">
                @Html.PropertyFor(m => m.CurrentPage.MainBody)
            </div>

            @if (Model.CurrentPage.FetchDataFromHelper != null && !string.IsNullOrEmpty(Model.CurrentPage.LocalHeading))
            {
                <div class="container">
                    <span class="text-center padded--medium">
                        <a href="#local-content" class="btn anchor">@Model.CurrentPage.LocalHeading</a>
                    </span>
                </div>
            }
        </section>
    }
    @if (Model.CurrentPage.LightInfographicHeading != null || Model.CurrentPage.LightInfographicText != null || Model.CurrentPage.LightInfographicContentArea?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode)
    {
        <section class="infographic-area arctic-light padded--medium">
            <div class="container-small">
                <h2 class="text-center" @Html.EditAttributes(x => x.CurrentPage.LightInfographicHeading)>@Html.DisplayFor(m => m.CurrentPage.LightInfographicHeading)</h2>
                @Html.PropertyFor(m => m.CurrentPage.LightInfographicText)
            </div>
            <div class="container-large">
                @Html.PropertyFor(m => m.CurrentPage.LightInfographicContentArea, new { CssClass = "panels", ChildrenCssClass = "panel infographic" })
            </div>
        </section>
    }
    @if (Model.CurrentPage.DarkInfographicHeading != null || Model.CurrentPage.DarkInfographicText != null || Model.CurrentPage.DarkInfographicContentArea?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode)
    {
        <section class="infographic-area arctic-blue padded--medium">
            <div class="container-small">
                <h2 class="text-center" @Html.EditAttributes(x => x.CurrentPage.DarkInfographicHeading)>@Html.DisplayFor(m => m.CurrentPage.DarkInfographicHeading)</h2>
                @Html.PropertyFor(m => m.CurrentPage.DarkInfographicText)
            </div>
            <div class="container-large">
                @Html.PropertyFor(m => m.CurrentPage.DarkInfographicContentArea, new { CssClass = "panels", ChildrenCssClass = "panel infographic" })
            </div>
        </section>
    }
    @if (Model.CurrentPage.FetchDataFromHelper != null && (Model.CurrentPage.LocalContentReference != null || Model.CurrentPage.LocalHeading != null || Model.CurrentPage.LocalIntro != null || Model.CurrentPage.LocalContent != null || PageEditing.PageIsInEditMode))
    {
        <section class="local-content padded--large" id="local-content">
            <div class="container-small">
                @if (PageEditing.PageIsInEditMode)
                {
                    @Html.PropertyFor(m => m.CurrentPage.LocalContentReference)
                }
                <h1 @Html.EditAttributes(x => x.CurrentPage.LocalHeading) class="text-center">@Model.CurrentPage.LocalHeading</h1>
                @if (!string.IsNullOrEmpty(Model.CurrentPage.LocalIntro) || PageEditing.PageIsInEditMode)
                {
                    <p class="ingress text-center" @Html.EditAttributes(x => x.CurrentPage.LocalIntro)>
                        @Model.CurrentPage.LocalIntro
                    </p>
                }

                @Html.PropertyFor(m => m.CurrentPage.LocalContent)
                @if (localContentReferencePage != null)
                {
                    <span class="text-center">
                        <a href="@Url.ContentUrl(Model.CurrentPage.LocalContentReference)" class="btn" @Html.EditAttributes(x => x.CurrentPage.LocalLinkText)>@Model.CurrentPage.LocalLinkText</a>
                    </span>
                }
            </div>
        </section>
    }

    @* News Section ------------------------------------------------*@
    @if (Model.CurrentPage.FetchDataFromHelper != null && (Model.CurrentPage.NewsContentArea?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode))
    {
        <section class="news-list light padded--large">
            <div class="container-large">
                @if (!PageReference.IsNullOrEmpty(Model.CurrentPage.NewsReference) || PageEditing.PageIsInEditMode)
                {
                    <a href="@Url.ContentUrl(Model.CurrentPage.NewsReference)">
                        <h2 class="h1" @Html.EditAttributes(m => m.CurrentPage.NewsReference)>@Model.CurrentPage.NewsReference.GetHeadingFromPageref()</h2>
                    </a>
                }

                @Html.PropertyFor(m => m.CurrentPage.NewsContentArea, new { Tag = Norgesportalen.Global.ContentAreaTags.NewsList, CssClass = "panels", ChildrenCssClass = "panel" })

                @if (!PageReference.IsNullOrEmpty(Model.CurrentPage.NewsReference) || PageEditing.PageIsInEditMode)
                {
                    <span class="text-center">
                        <a href="@Url.ContentUrl(Model.CurrentPage.NewsReference)" class="view-all-btn">
                            @Html.Translate("/viewAll")
                        </a>
                    </span>
                }
            </div>
        </section>
    }

    @if (Model.CurrentPage.LinksContentArea?.FilteredItems?.Any() == true || PageEditing.PageIsInEditMode)
    {
        <section class="padded--medium">
            <div class="container-large">

                @Html.PropertyFor(m => m.CurrentPage.LinksContentArea)
                @if (Model.CurrentPage.FetchDataFromHelper != null)
                {
                    @Html.PropertyFor(m => m.CurrentPage.LocalLinksContentArea)
                }
            </div>
        </section>
    }
</article>