﻿

.error-page {
    > header .header-content {
        height: 100px;

        @include smaller-than($tablet) {
            height: 90px;
        }

        @include smaller-than($mobile) {
            height: 75px;
        }
    }

    height:100%;
    background-color: $arctic-blue;

    .container {
        display: table;
        height:100%;
    }

    main {
        margin: 0;
        height:100%;
    }

    article {
        margin: 140px 0 0;
        background: none;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }

    h1, p {
        color: #fff;
    }
}