.eventlist-page {
    .card--focus {
        margin-bottom: 60px;

        @include smaller-than($tablet){
            margin-bottom: 50px;
        }
    }

    section h1 {
        text-align: center;
        margin: 50px 0 68px 0;
    }
}