

.gdpr-wrapper {
    @include clearfix;
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px 0;
    background-color: $arctic-blue-dark;

    .gdpr {
        @include larger-than($mobile) {
            display: flex;
        }

        * {
            color: #fff;
        }
    }

    [class^="gdpr-col"] {
        margin-bottom: 20px;

        @include larger-than($mobile) {
            flex: 0 1 auto;
        }

        > *:first-child {
            margin-top: 0;
        }
    }

    .gdpr-col-logo {
        width: 220px;
        font-size: 13px;

        @include larger-than($mobile) {
            flex: 0 0 220px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .logo {
            float: left;
            position: relative;
            width: 30px;
            height: 40px;
            margin-right: 30px;
            background: transparent url('../images/love-white.svg') 0 0 no-repeat;

            &::after {
                content: '';
                position: absolute;
                top: -6px;
                right: -16px;
                border-right: 1px solid #fff;
                height: 50px;
            }
        }
    }

    .gdpr-col-content {
        clear: both;
    }

    .gdpr-col-accept {
        @include larger-than($mobile) {
            flex: 0 0 120px;
            padding-right: 10px;
            text-align: right;
        }
    }
}